<!--prueba filtros-->
<div class="FiltroContenido ">

  <form action="<?php echo site_url() ?>/wp-admin/admin-ajax.php" method="POST" id="filter">
  <?php
    if( $terms = get_terms(array('taxonomy'=>'category', 'orderby'=>'name','list_term_exclusions'=>'Uncategorized' ) )) : // to make it simple I use default categories


      $onchange='hacerSubmit()';
      echo "FILTRO DE CONTENIDO: <select name=categoryfilter class=minimal onchange='$onchange'><option>Todas las noticas</option>";
      foreach ( $terms as $term ) :
        if ($term->term_id!= 8 && $term->term_id!= 4 && $term->term_id!= 1)
        echo '<option value="' . $term->term_id . '">' . $term->name . '</option>'; // ID of the category as the value of an option
      endforeach;
      echo '</select>';
    endif;
  ?>
  
 <div>EDITAR</div>
  <input type="hidden" name="action" value="myfilter">
</form>



</div>


<div id="response" class="FiltroContenidoResultado"></div>
<!--fin prueba filtros-->