/*BORAR*/



.main_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7em 0 0.7em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5em;
}

h1.V4Tit  { line-height: 36px; height:36px; font-size:1px; width: 151px; margin:0; background: url(https://www.redaccion.com.ar/wp-content/uploads/2020/svg/redaccion.svg)center no-repeat; background-size: contain; text-indent: -100000px; display: block;}

.fecha {
  font-weight: bold;
  font-size: 13px;
  color: #161616;
}

.actualizado {
  font-size: 13px;
  color: #939393;
}
.principal figure, .principal .wp--block-image{margin:0; padding: 0; line-height: 1px;}
.principal figure.card.ad{ margin-bottom: 1.5em;}
.card {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 17px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.ad {
  border: 0px solid rgba(0,0,0,0.15) !important;

  justify-content: center;
  align-items: center;
}

.ad img {
  border: 0px solid rgba(0,0,0,0.15) !important;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 400px) {.ad img {max-width: 400px;}}
.card_image, .card_image img{
  width: 100%;
  flex-direction: row;
}


.card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card p{
 margin-bottom: 0;
}
.card .texto {
  padding: 1em 1.2em 1em 1.2em;
}


.card .info {
  width: 51.5%;
  padding: 0 0 1em 0em;
  color: #1790E9;
  font-size: 15px;
  flex-direction: column;
  text-align: right;
  z-index: 999;
}
.card .info a{ background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 448 279' style='enable-background:new 0 0 448 279;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M207,262.5L12.7,68.1c-9.4-9.4-9.4-24.6,0-33.9l22.7-22.7c9.4-9.4,24.5-9.4,33.9,0l154.7,154l154.7-154 c9.4-9.3,24.5-9.3,33.9,0l22.7,22.7c9.4,9.4,9.4,24.6,0,33.9L241,262.5C231.6,271.8,216.4,271.8,207,262.5L207,262.5z'/%3E%3C/svg%3E");
   background-repeat:no-repeat;background-position: right; display: inline-block; width: 22px; height: 10px; transition: transform 0.25s ease-in-out;}
  
.card .info a:hover {  opacity: 0.7;}
.card .info a.ChevronCierra{transform: rotateX(180deg); }
.card .targetDiv {display: none;}

a.profundizar, .profundizar a.ab-button, .profundizar a.wp-block-button__link{
  background: #1790e9;
  color: #fff;
  font-size: 0.8em;
  padding: 0.8em;
  margin: 0em 1em 1em 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
 
}
.profundizar a.ab-button, .profundizar a.wp-block-button__link {display: block;  background-color: #1790e9;}
.wp-block-button.profundizar{width: 100%;}

.card_quotes {
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em 1em 1em;
  border-top: 1px solid rgba(0,0,0,0.15);
  padding-top: 1em;
}

ul.card_squares {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  list-style: none;
  /*width: 290px;*/
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0;
  align-items: stretch;
}

@media (min-width: 376px) and (max-width: 414px){ul.card_squares{width: 330px;}}
@media (min-width: 361px) and (max-width: 375px){ul.card_squares{width: 295px;}}
@media (min-width: 341px) and (max-width: 360px){ul.card_squares{width: 280px;}}
@media (min-width: 321px) and (max-width: 340px){ul.card_squares{width: 255px;}}
@media (max-width: 320px) {ul.card_squares{width: 235px;}}
.card_squares li {
  padding: 0;
}

.card_squares .sq_txt, .card_squares li {
  width: 286px;
  background: #DFDFDF;
  border-radius: 5px;
  margin-right: 1em;
  padding: 1em;
}
.card_squares li em {width: calc(286px - 2em);font-style: normal;display: block;margin-bottom: 1em;}
.card_squares .sq_nm, .card_squares li strong{
  font-weight: bold;
  color: #797979;
  padding-top: 0.5em;
}

.card_sponsor, figure.card_sponsor {
  padding: 0.5em 1em; display: flex; justify-content: flex-start; align-items: center; 
}

.card_sponsor img {
  object-fit: scale-down;
}
.card_sponsor:before {
  content: "Presentado por:  ";
  font-size: 14px;color: #7a7a7a;padding-right: 10px;
}

.card_subs {
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em 1em 1em;
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 1em;
}

.card .cardHTMLEmbed-Spon div.wp-block-group__inner-container, .card.cardHTMLEmbed div.wp-block-group__inner-container { display: flex; flex-direction: column; justify-content: center;}
.card.cardHTMLEmbed-Spon div.wp-block-group__inner-container div.twitter-tweet, 
.card.cardHTMLEmbed div.wp-block-group__inner-container .instagram-media.instagram-media-rendered,.instagram-media.instagram-media-rendered,.twitter-tweet {align-self: center;}
.card.cardHTMLEmbed div.wp-block-group__inner-container .instagram-media.instagram-media-rendered{border:0!important; margin: 0!important;}
.card.cardHTMLEmbed div.wp-block-group__inner-container div.twitter-tweet{margin-bottom: 0!important;}
@media (min-width: 769px){.card.cardHTMLEmbed div.wp-block-group__inner-container div.twitter-tweet{margin-top: 1.5em!important;}}
@media (max-width: 768px){.card.cardHTMLEmbed div.wp-block-group__inner-container div.twitter-tweet{margin-top: 1em!important; max-width: 350px!important;}}
.twitter-tweet {margin-bottom: 1.5em!important;}
.instagram-media.instagram-media-rendered{margin-bottom: 1.5em!important;width: 100%;max-width: 100%!important;}
.card-input {
  display: flex;
}
.card_embed.podcast iframe, .card_content.podcast iframe, .card_embed iframe{width: 100%;}
.card_content.podcast iframe{}
.card_embed{margin-bottom: 1.5em;}
.card_embed.SMP iframe{min-height:200px;    border: 0;}


.card-input button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.card-input button:hover,
.card-input button:focus {
    background: #0053ba;
}

.card-input button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.card-input button:active {
    transform: scale(0.99);
}


.card-input_form {
  display: flex;
  grid-column: 2;
  padding-top: 1em;
  
}

.card-input_input_x {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.15)!important;
  padding: 0.7em 0 0.7em 0.7em!important;
  align-items: center;
  font-size: 16px!important;
  color: #A5A5A5!important;
  flex-grow: 1;border-radius: 5px 0 0 5px!important;font-family:'Source Sans Pro', Helvetica, Arial, sans-serif!important;
}

.card-input_button_x {
  padding: 1em 1em!important;
  background: #1790E9!important;
  color: #fff!important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px!important;
  border: 0!important;border-radius: 0 5px 5px 0!important;margin: 0!important;font-family:'Source Sans Pro', Helvetica, Arial, sans-serif!important;
}
.card-input_input{display: flex; }
.card-input_input {
  flex-grow: 1;

}

.IdNewsCards.selectionShareable, .card_input form ul.NewsCardGroup, .IdNewsCards{ position: absolute; top:-10000px;    width: 10px;display: flex;
  overflow: hidden;}
#mce-success-response, #mce-error-response, #mce-responses div.cardResponse-success, #mce-responses div.cardResponse-success {
  text-align: center; margin-top: 0!important;
   background-color: #fff; 
  line-height: 1.2em; 
  border-radius: 0px;
  font-size: 0.9em;
  color:#7a7a7a;
}
div.cardResponse-success {color:#1790E9;}
div.cardResponse{color:#e44646;}
.autor {
  padding: 1em 0 0em  0em;
  font-size: 14px;
  font-weight: bold;
}
.card_content p.autor{}
.card_content .cita p.autor{font-weight: normal;}
.card_content .cita p.autor strong{font-weight: bold;}
.credito, .card figcaption {
  display: flex;
  justify-content: flex-end;
  padding: 0em 1em 0 0em;
  font-size: 12px;
  height: 0;
  color: #7D8895;
}


.autor_cargo {
  font-weight: normal;
}

.cita {
  padding: 1em;
  font-style: italic;
}

ul.hitos {
  margin: 0;
  padding: 0.5em 0 0 1em;
}

ul.hitos li {
  border-bottom: 1px solid #eee;
  padding: 1em 0;
  list-style: disc;
  list-style-position: outside;
}

ul.hitos li:last-child {
  border-bottom: 0px solid #eee;
}








/* aside derecha css */

.asideb {
  padding: 15px 30px;
}

.asideb h2 {
  font-size: 15px;
  color: #7D8895;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin-bottom: 0;
}

.asideb p {
  font-size: 16px;
  padding: 0 0 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0.6em 0 0 0;
  color: rgba(0,0,0,0.7) !important;
}

.aside_story {
  margin: 1em 0 2em 0;
}

.aside_story img {
  width: 100%;
  border-radius: 5px;
}

.aside_tit {
  font-size: 18px;
  font-weight: bold;
  color: #161616;
  margin-top: 0.2em;
}

.aside_tit a {
  color: #161616;
}

.asideb .aside_autor {
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  margin-top: 0.5em;
}

.asideb_footer {
  display: flex;
  margin-bottom: 2em;
}

.asideb_footer .profundizar {
  font-size: 14.4px;
  margin: 0;
  padding: 0.8em;
  width: 100%;
}




/* menu navegacion */

 .searchContainer {
  display: grid;
  grid-template-columns:1.5rem 4fr 1fr;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5em 0 1em 0;
}

.searchContainer:focus-within i {
  display: none;
}

.searchContainer:focus-within .searchBox{
  grid-column:1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
  color:transparent;
}

.searchIcon {
  width: 15px;
  background-color: transparent;
  margin: 0.5rem;
  grid-row:1;
  grid-column:1/2;
  z-index:2
}

.searchBox {
  border: 0!important;
  padding: 0.5rem!important;
  padding-left: 3em!important;
  grid-column:2/4!important;
  grid-row:1;
  outline:none!important;
  font-size: 14px;
}

.menu_items p.SubTMenu {
  font-size: 15px;
  color: #7D8895;
  text-transform: uppercase;
  padding: 0 0 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.3em;font-weight: 700;
}

.asideb p {
  font-size: 16px;
  padding: 0 0 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: #7D8895;font-weight: 500;
}
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

.menu_items {margin-bottom: 4em;padding: 15px 30px;}
.items_ul{margin:0;padding:0;list-style:none;}
.items_li a, li.menu-item a{box-sizing:border-box;position:relative;display:flex;width:100%;align-items:flex-start;padding-right:32px; margin-bottom: 32px;}
.items_li a.item-active, li.menu-item a.item-active{margin-bottom:15px}
li.menu-item-has-children ul{list-style-type: none; margin: 0 0 30px 0 ; padding: 0; height: auto;}
li.menu-item-has-children .items_li a{margin-bottom: 0; text-transform: uppercase; padding-left: 55px;}
@media (min-width: 768px){._29eb7 .items_li a{margin-bottom:60px}}
.items_li:last-child a,.items_li:last-child a._29eb7{margin-bottom:0}
.items_arrow{position:absolute;top:50%;transform:translateY(-50%);--color: var(--color-ui, #000);right:0;width:9px;height:9px}
.items_li a.item-active .items_arrow{-ms-transform: rotate(90deg); /* IE 9 */transform: rotate(90deg);}
.items_txt h2 {font-size:16px;font-weight:700;line-height:1.05;color: #7D8895;margin:0 0 5px}
li.menu-item-has-children .items_li a h3{font-weight: 500; color:#8d96a1; margin:0; font-size: 13px;line-height: 36px; }
li.menu-item-has-children .items_li a:hover .items_txt h3, .aside_story a.url.fn.n{color:#2b95e7!important;}
.items_txt {flex-grow:1}
.items_txt p {font-size:14px;font-weight:500;line-height:1.3;color: rgba(0,0,0,0.7);margin:0;}
.items_icon {margin:0 15px 0 0;border-radius:50%;overflow:hidden;flex-shrink:0;position:relative; background-color:  #ececec;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 42px;  width: 42px;
  height: 42px;background-size: 45%;}
.items_icon img {width:51px;height:51px;}
.menu_mas { margin-top: 4em;}
a.items_txt h2{color:regba(0,0,0,0.7)}

/*i.current-menu-item .items_icon {background-color: #c0c0c0; }
li.current-menu-item a .items_txt h2{color: #000!important; }*/

li.menu-item-has-children ul{display: none;}
li.item-actualidad .items_icon {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.5 18.7' style='enable-background:new 0 0 18.5 18.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8995;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,18.7c-0.2,0-0.4-0.1-0.6-0.2l-4-2.8l-9.3,0c-0.6,0-1-0.5-1-1v-7c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v7 l9.3,0c0.2,0,0.4,0.1,0.6,0.2l4.1,2.8l0-15.4l-9.8,0C7.5,2.2,7.2,2,7.2,1.7s0.2-0.5,0.5-0.5h9.8c0.6,0,1,0.5,1,1v15.4 c0,0.3-0.1,0.5-0.3,0.7C18,18.6,17.8,18.7,17.5,18.7z'/%3E%3Cg id='Elipse_260' transform='translate(481.2 662.355)'%3E%3Cg%3E%3Cpath class='st0' d='M-477.9-655.9c-1.8,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2c1.8,0,3.2,1.5,3.2,3.2S-476.1-655.9-477.9-655.9z M-477.9-661.4c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2S-476.6-661.4-477.9-661.4z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Línea_248'%3E%3Cpath class='st0' d='M14.5,6.3h-7C7.3,6.3,7,6,7,5.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,6.3,14.5,6.3z'/%3E%3C/g%3E%3Cg id='Línea_249'%3E%3Cpath class='st0' d='M14.5,9.3h-7C7.3,9.3,7,9,7,8.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,9.3,14.5,9.3z'/%3E%3C/g%3E%3Cg id='Línea_250'%3E%3Cpath class='st0' d='M11.5,12.3h-4C7.3,12.3,7,12,7,11.8s0.2-0.5,0.5-0.5h4c0.3,0,0.5,0.2,0.5,0.5S11.8,12.3,11.5,12.3z'/%3E%3C/g%3E%3C/svg%3E%0A");}
/*li.current-menu-item.item-actualidad .items_icon {    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.5 18.7' style='enable-background:new 0 0 18.5 18.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,18.7c-0.2,0-0.4-0.1-0.6-0.2l-4-2.8l-9.3,0c-0.6,0-1-0.5-1-1v-7c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v7 l9.3,0c0.2,0,0.4,0.1,0.6,0.2l4.1,2.8l0-15.4l-9.8,0C7.5,2.2,7.2,2,7.2,1.7s0.2-0.5,0.5-0.5h9.8c0.6,0,1,0.5,1,1v15.4 c0,0.3-0.1,0.5-0.3,0.7C18,18.6,17.8,18.7,17.5,18.7z'/%3E%3Cg id='Elipse_260' transform='translate(481.2 662.355)'%3E%3Cg%3E%3Cpath class='st0' d='M-477.9-655.9c-1.8,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2c1.8,0,3.2,1.5,3.2,3.2S-476.1-655.9-477.9-655.9z M-477.9-661.4c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2S-476.6-661.4-477.9-661.4z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Línea_248'%3E%3Cpath class='st0' d='M14.5,6.3h-7C7.3,6.3,7,6,7,5.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,6.3,14.5,6.3z'/%3E%3C/g%3E%3Cg id='Línea_249'%3E%3Cpath class='st0' d='M14.5,9.3h-7C7.3,9.3,7,9,7,8.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,9.3,14.5,9.3z'/%3E%3C/g%3E%3Cg id='Línea_250'%3E%3Cpath class='st0' d='M11.5,12.3h-4C7.3,12.3,7,12,7,11.8s0.2-0.5,0.5-0.5h4c0.3,0,0.5,0.2,0.5,0.5S11.8,12.3,11.5,12.3z'/%3E%3C/g%3E%3C/svg%3E%0A");}
*/

 

li.item-en-profundidad .items_icon, a.pie_en-profundidad{     background-size: 60%;background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.1 8' style='enable-background:new 0 0 21.1 8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:none;stroke:%237D8793;stroke-linecap:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3883' transform='translate(-481.2 -738.391)'%3E%3Cg id='Elipse_258' transform='translate(492.7 738.391)'%3E%3Ccircle class='st0' cx='4' cy='4' r='4'/%3E%3Ccircle class='st1' cx='4' cy='4' r='3.5'/%3E%3C/g%3E%3Cg id='Elipse_259' transform='translate(482.7 738.391)'%3E%3Ccircle class='st0' cx='4' cy='4' r='4'/%3E%3Ccircle class='st1' cx='4' cy='4' r='3.5'/%3E%3C/g%3E%3Cpath id='Trazado_7231' class='st1' d='M493.2,742.4c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5'/%3E%3Cline id='Línea_246' class='st1' x1='483.1' y1='742.3' x2='481.7' y2='742.3'/%3E%3Cline id='Línea_247' class='st1' x1='501.8' y1='742.3' x2='500.4' y2='742.3'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-especiales .items_icon {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 19.4' style='enable-background:new 0 0 12 19.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%237D8793;%7D%0A%3C/style%3E%3Cg id='Grupo_3885' transform='translate(-485.7 -696.105)'%3E%3Cg id='Trazado_7235'%3E%3Cpath class='st0' d='M496.9,715.4l-4.9-4.1c-0.2-0.2-0.4-0.2-0.6,0l-4.9,4.1c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.2-0.1-0.3 v-18.4c0-0.3,0.2-0.5,0.5-0.5h11c0.3,0,0.5,0.2,0.5,0.5V715c0,0.3-0.2,0.5-0.5,0.5C497.1,715.5,497,715.5,496.9,715.4z'/%3E%3Cpath class='st1' d='M496.7,714v-16.9h-10V714l4-3.4c0.3-0.2,0.6-0.3,1-0.3c0.3,0,0.7,0.1,1,0.3L496.7,714 M497.2,715.5 c-0.1,0-0.2,0-0.3-0.1l-4.9-4.1c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1l-4.9,4.1c-0.1,0.1-0.2,0.1-0.3,0.1 c-0.3,0-0.5-0.2-0.5-0.5v-18.4c0-0.3,0.2-0.5,0.5-0.5h11c0.3,0,0.5,0.2,0.5,0.5V715C497.7,715.3,497.5,715.5,497.2,715.5z'/%3E%3C/g%3E%3Cpath id='Trazado_7236' class='st1' d='M491.9,707c0,0.1-0.2,0.2-0.3,0.1c0,0-0.1-0.1-0.1-0.1c-0.3-0.6-0.5-1.1-0.8-1.6 c-0.2-0.3-0.4-0.6-0.7-0.7c-0.5-0.3-1-0.5-1.7-0.8c-0.1,0-0.2-0.2-0.1-0.3c0,0,0.1-0.1,0.1-0.1c0.6-0.3,1.2-0.5,1.7-0.8 c0.3-0.1,0.5-0.4,0.6-0.6c0.3-0.5,0.5-1.1,0.8-1.7c0-0.1,0.2-0.2,0.3-0.1c0,0,0.1,0.1,0.1,0.1c0.3,0.6,0.5,1.2,0.8,1.7 c0.2,0.3,0.4,0.5,0.7,0.7c0.5,0.3,1.1,0.5,1.7,0.8c0.1,0,0.2,0.2,0.1,0.3c0,0-0.1,0.1-0.1,0.1c-0.6,0.2-1.1,0.5-1.6,0.8 c-0.3,0.2-0.6,0.5-0.8,0.8l0,0C492.4,705.9,492.1,706.4,491.9,707z'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-medialab .items_icon {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16.1 16.2' style='enable-background:new 0 0 16.1 16.2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%237D8793;%7D .st2%7Bfill:none;stroke:%237D8793;stroke-width:0.754;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3878' transform='translate(-548.259 -767.433)'%3E%3Cg id='Trazado_7214'%3E%3Cpath class='st0' d='M548.8,768c-0.7,0.7-0.7,2.1-0.1,3.7c1.1,2.5,2.7,4.8,4.6,6.7c4.1,4.2,8.8,6.2,10.5,4.5s-0.4-6.3-4.5-10.5 c-1.9-2-4.2-3.6-6.7-4.7C550.9,767.3,549.6,767.3,548.8,768z'/%3E%3Cpath class='st1' d='M550.4,768.6L550.4,768.6c-0.3,0-0.6,0-0.8,0.2c-0.3,0.3-0.4,1.1,0.1,2.6c0.7,1.9,2.3,4.2,4.4,6.3 c1.5,1.5,3,2.7,4.6,3.6c1.4,0.8,2.6,1.2,3.5,1.2c0.3,0,0.6,0,0.8-0.2c0.3-0.3,0.4-1.3-0.3-3.1c-0.8-1.9-2.3-3.9-4.2-5.8 c-2.1-2.1-4.4-3.7-6.3-4.4C551.5,768.7,550.9,768.6,550.4,768.6 M550.4,767.4c0.6,0,1.4,0.2,2.2,0.5c2,0.8,4.4,2.4,6.7,4.7 c4.1,4.1,6.2,8.8,4.5,10.5c-0.4,0.4-0.9,0.6-1.6,0.6c-2.2,0-5.7-1.9-8.9-5.1c-2.3-2.3-3.9-4.7-4.6-6.7c-0.6-1.7-0.6-3,0.1-3.7 C549.2,767.6,549.8,767.4,550.4,767.4z'/%3E%3C/g%3E%3Cg id='Trazado_7215'%3E%3Cpath class='st0' d='M563.8,768c0.7,0.7,0.7,2.1,0.1,3.7c-1.1,2.5-2.7,4.8-4.6,6.7c-4.1,4.2-8.8,6.2-10.5,4.5s0.4-6.3,4.5-10.5 c1.9-2,4.2-3.6,6.7-4.7C561.7,767.3,563.1,767.3,563.8,768z'/%3E%3Cpath class='st1' d='M562.2,768.6c-0.5,0-1.1,0.1-1.8,0.4c-1.9,0.7-4.2,2.3-6.3,4.4c-1.9,1.9-3.4,4-4.2,5.8 c-0.8,1.7-0.6,2.7-0.3,3.1c0.2,0.2,0.6,0.2,0.8,0.2c0.9,0,2.1-0.4,3.5-1.2c1.5-0.9,3.1-2.1,4.6-3.6c2.1-2.1,3.7-4.4,4.4-6.3 c0.5-1.5,0.4-2.3,0.1-2.6C562.8,768.6,562.5,768.6,562.2,768.6 M562.2,767.4c0.7,0,1.2,0.2,1.6,0.6c0.7,0.7,0.7,2.1,0.1,3.7 c-0.7,2-2.4,4.5-4.6,6.7c-3.2,3.2-6.7,5.1-8.9,5.1c-0.7,0-1.2-0.2-1.6-0.6c-1.6-1.6,0.4-6.3,4.5-10.5c2.3-2.3,4.7-3.9,6.7-4.7 C560.8,767.6,561.6,767.4,562.2,767.4z'/%3E%3C/g%3E%3Cg id='Elipse_228' transform='translate(554.375 773.647)'%3E%3Ccircle class='st1' cx='2' cy='2' r='2'/%3E%3Ccircle class='st2' cx='2' cy='2' r='1.6'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-miembros .items_icon, a.pie_miembros {    background-size: 40%; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 14 16.9' style='enable-background:new 0 0 14 16.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%237D8793;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%237D8793;stroke-linecap:round;stroke-linejoin:round;%7D .st2%7Bfill:none;stroke:%237D8793;stroke-width:0.964;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3811' transform='translate(-549.326 -811.454)'%3E%3Cpath id='Trazado_7183' class='st0' d='M562.8,819.8v2.8c0,2.9-2.4,5.2-5.3,5.2h-2.4c-2.9,0-5.2-2.3-5.3-5.2v-6.1'/%3E%3Cpath id='Trazado_7184' class='st1' d='M562.8,822.3v-3.4c0-1-0.8-1.9-1.9-1.9h-4.7c-1,0-1.9,0.8-1.9,1.9v0.1c0,1,0.8,1.9,1.9,1.9 h2.5c-1,0.8-1.6,2.1-1.6,3.4'/%3E%3Cg id='Grupo_3810'%3E%3Cpath id='Trazado_7185' class='st2' d='M551.3,813.8c-0.8,0-1.5,0.7-1.5,1.5v2.4c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5v-2.4 C552.8,814.5,552.2,813.8,551.3,813.8z'/%3E%3Cpath id='Trazado_7186' class='st2' d='M554.5,818.2c0.2-0.6,0.7-1.1,1.4-1.2c0-0.1,0-0.1,0-0.2v-2.7c-0.1-0.8-0.9-1.4-1.7-1.3 c-0.7,0.1-1.3,0.7-1.3,1.4v2.4c0,0.8,0.7,1.5,1.5,1.5C554.4,818.3,554.4,818.2,554.5,818.2z'/%3E%3Cpath id='Trazado_7187' class='st2' d='M555.8,816.8c0,0,0,0.1,0,0.1v0.2c0.1,0,0.3,0,0.4,0h4.7c0.4,0,0.8,0.1,1.1,0.4v-2.8 c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6v-1.1c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5v0.7c0,0,0,0.1,0,0.1V816.8z'/%3E%3C/g%3E%3Cline id='Línea_222' class='st2' x1='558.8' y1='814.6' x2='558.8' y2='817'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-newsletters .items_icon, a.pie_newsletters { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 12' style='enable-background:new 0 0 20 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:none;stroke:%237D8793;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3882' transform='translate(-546.326 -701.719)'%3E%3Cg id='Rectángulo_5' transform='translate(546.326 701.719)'%3E%3Cpath class='st0' d='M1,0h18c0.6,0,1,0.5,1,1v10c0,0.6-0.5,1-1,1H1c-0.6,0-1-0.5-1-1V1C0,0.5,0.5,0,1,0z'/%3E%3Cpath class='st1' d='M1,0.5h18c0.3,0,0.5,0.2,0.5,0.5v10c0,0.3-0.2,0.5-0.5,0.5H1c-0.3,0-0.5-0.2-0.5-0.5V1C0.5,0.7,0.7,0.5,1,0.5 z'/%3E%3C/g%3E%3Cpath id='Trazado_7225' class='st1' d='M546.8,702.2l9,7c0.3,0.2,0.8,0.2,1.1,0l9-7'/%3E%3Cline id='Línea_244' class='st1' x1='546.8' y1='713.2' x2='552.8' y2='707.2'/%3E%3Cline id='Línea_245' class='st1' x1='565.8' y1='713.2' x2='559.8' y2='707.2'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-participacion .items_icon { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 14.5' style='enable-background:new 0 0 18 14.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8793;%7D .st1%7Bfill:none;%7D%0A%3C/style%3E%3Cg id='Grupo_3879' transform='translate(-546.326 -735.764)'%3E%3Cg id='Trazado_7233'%3E%3Cpath class='st0' d='M561.8,749.8l-3.7-2.5l-0.1-0.1h-0.2h-1.9l0.3-0.3h6.6h0.5l0-0.5l-0.1-8.2h0.6l0,9l-1.5,0h-0.5l0,0.5 L561.8,749.8C561.8,749.8,561.8,749.8,561.8,749.8z'/%3E%3Cpath class='st0' d='M559.1,747.4l2.2,1.5l0-1.1l0-0.3H559.1 M562.8,737.7h1.1c0.3,0,0.5,0.2,0.5,0.5v9c0,0.3-0.2,0.5-0.5,0.5 h-1.5l0,2.1c0,0.3-0.2,0.5-0.5,0.5c-0.1,0-0.2,0-0.3-0.1l-3.7-2.5h-3.1l1.3-1.3h6.8L562.8,737.7z'/%3E%3C/g%3E%3Cg id='Trazado_7234'%3E%3Cpath class='st1' d='M546.8,747h3.5v2.8c0,0.3,0.2,0.5,0.5,0.5c0.1,0,0.2,0,0.3-0.1l4.7-3.2h7.4v-10.7c0-0.3-0.2-0.5-0.5-0.5 h-15.9c-0.3,0-0.5,0.2-0.5,0.5v10.2C546.3,746.7,546.5,747,546.8,747C546.8,747,546.8,747,546.8,747z'/%3E%3Cpath class='st0' d='M551.3,748.8l3.9-2.7l0.3-0.2h0.3h6.4v-9.2h-14.9v9.2h3h1v1V748.8 M550.8,750.3c-0.3,0-0.5-0.2-0.5-0.5V747 h-3.5c-0.3,0-0.5-0.2-0.5-0.5v-10.2c0-0.3,0.2-0.5,0.5-0.5h15.9c0.3,0,0.5,0.2,0.5,0.5V747h-7.4l-4.7,3.2 C551,750.2,550.9,750.3,550.8,750.3z'/%3E%3C/g%3E%3Ccircle id='Elipse_261' class='st0' cx='550.8' cy='741.2' r='1.5'/%3E%3Ccircle id='Elipse_262' class='st0' cx='558.8' cy='741.2' r='1.5'/%3E%3Ccircle id='Elipse_263' class='st0' cx='554.7' cy='741.2' r='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-preguntas-frecuentes .items_icon { background-size: 25%; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 7.6 14.4' style='enable-background:new 0 0 7.6 14.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8793;%7D .st1%7Bfill:none;stroke:%237D8793;stroke-linecap:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3880' transform='translate(-666.102 -667.712)'%3E%3Ccircle id='Elipse_265' class='st0' cx='669.9' cy='681.1' r='1'/%3E%3Cpath id='Trazado_7238' class='st1' d='M666.6,671.5c0-1.8,1.5-3.3,3.3-3.3c1.8,0,3.3,1.5,3.3,3.3c0,1.2-0.6,2.3-1.6,2.8 c-0.3,0.2-0.6,0.3-0.8,0.4c-0.6,0.4-0.9,1-0.9,1.7v2.2'/%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-quienes-somos .items_icon {background-size: 50%; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.4 16.1' style='enable-background:new 0 0 21.4 16.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%237D8793;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3877' transform='translate(-546.207 -849.714)'%3E%3Cpath id='Trazado_7205' class='st0' d='M560,858.1C560,858.1,560,858,560,858.1c-0.3-0.2-0.6-0.4-0.9-0.5l-0.3,0 c-1.2,1-2.8,0.9-4-0.1c-0.4,0.1-0.7,0.3-1.1,0.6c-1.5,1.2-2.3,3.1-2.2,5c0,0.4,0,0.8,0.1,1.2c3.3,1.3,7,1.3,10.3,0 c0.1-0.4,0.1-0.8,0.1-1.2C562.3,861.2,561.5,859.3,560,858.1z'/%3E%3Cpath id='Trazado_7206' class='st0' d='M561.9,850.2c-1.5,0-2.8,1.1-3,2.6c0.9,0.7,1.3,1.8,1.1,2.9c0.5,0.4,1.2,0.7,1.9,0.7 c1.7,0,3.1-1.4,3.1-3.1C564.9,851.6,563.6,850.2,561.9,850.2L561.9,850.2z'/%3E%3Cpath id='Trazado_7207' class='st0' d='M553.8,855.2c0-0.9,0.4-1.8,1.2-2.4c-0.3-1.7-1.9-2.8-3.5-2.6c-1.7,0.3-2.8,1.9-2.6,3.5 c0.3,1.7,1.9,2.8,3.5,2.6c0.5-0.1,1-0.3,1.4-0.6C553.9,855.5,553.9,855.4,553.8,855.2z'/%3E%3Cpath id='Trazado_7208' class='st0' d='M553.9,855.7c-1.1,0.9-2.8,0.9-3.9-0.1c-0.4,0.1-0.7,0.3-1.1,0.6c-1.5,1.2-2.3,3.1-2.2,5 c0,0.4,0,0.8,0.1,1.2c1.5,0.6,3.2,1,4.8,1c0-0.1,0-0.2,0-0.3c-0.1-1.9,0.7-3.8,2.2-5c0.3-0.2,0.7-0.4,1.1-0.6 C554.4,857,554,856.4,553.9,855.7z'/%3E%3Ccircle id='Elipse_224' class='st0' cx='556.9' cy='855.2' r='3.1'/%3E%3Cg id='Grupo_3842'%3E%3Cpath id='Trazado_7209' class='st0' d='M560,855.7c1.2,0.9,2.8,0.9,3.9-0.1l0.2,0.1c0.3,0.1,0.5,0.3,0.8,0.4l0.1,0.1 c1.5,1.2,2.3,3.1,2.2,5c0,0.4,0,0.8-0.1,1.2c-1.5,0.6-3.2,1-4.8,1c0-0.1,0-0.2,0-0.3c0.1-1.9-0.7-3.8-2.2-5c0,0-0.1,0-0.1-0.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-rrss .items_icon { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15.9 15.9' style='enable-background:new 0 0 15.9 15.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%237D8793;stroke-linecap:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;%7D%0A%3C/style%3E%3Cg id='Grupo_3881' transform='translate(-388.026 -804.709)'%3E%3Cline id='Línea_235' class='st0' x1='392.4' y1='815.3' x2='394.6' y2='808'/%3E%3Cline id='Línea_236' class='st0' x1='395.4' y1='815.3' x2='397.6' y2='808'/%3E%3Cline id='Línea_237' class='st0' x1='398.6' y1='812.9' x2='391.3' y2='812.9'/%3E%3Cline id='Línea_238' class='st0' x1='398.6' y1='810.5' x2='391.3' y2='810.5'/%3E%3Cpath id='Trazado_7201' class='st0' d='M389.3,820.2h13.2c0.6,0,1-0.4,1-1v-13'/%3E%3Cg id='Rectángulo_4' transform='translate(388.026 804.709)'%3E%3Cpath class='st1' d='M1,0h11.9c0.6,0,1,0.5,1,1v11.9c0,0.6-0.5,1-1,1H1c-0.6,0-1-0.5-1-1V1C0,0.5,0.5,0,1,0z'/%3E%3Cpath class='st0' d='M1,0.5h11.9c0.3,0,0.5,0.2,0.5,0.5v11.9c0,0.3-0.2,0.5-0.5,0.5H1c-0.3,0-0.5-0.2-0.5-0.5V1 C0.5,0.7,0.7,0.5,1,0.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");}
li.item-topicos .items_icon {    background-size: 37%;background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 14 18' style='enable-background:new 0 0 14 18;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8793;%7D .st1%7Bfill:none;stroke:%237D8793;stroke-width:0.935;stroke-miterlimit:10;%7D .st2%7Bfill:none;%7D .st3%7Bfill:none;stroke:%237D8793;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg id='Grupo_3886' transform='translate(-483.7 -767.512)'%3E%3Cg id='Trazado_7228' transform='translate(483.7 769.512)'%3E%3Cpath class='st0' d='M11,15.5H1c-0.3,0-0.5-0.2-0.5-0.5V1c0-0.3,0.2-0.5,0.5-0.5h0.1l0.5,13.9l0,0.5h0.5h9.4V15 C11.5,15.3,11.3,15.5,11,15.5z'/%3E%3Cpath class='st0' d='M1,11.1V15c0,0,0,0,0,0h0.1l0-0.6L1,11.1 M1,0h0.6l0.5,14.4H12V15c0,0.6-0.5,1-1,1H1c-0.6,0-1-0.5-1-1V1 C0,0.5,0.5,0,1,0z'/%3E%3C/g%3E%3Cline id='Línea_232' class='st1' x1='487.7' y1='774' x2='494.7' y2='774'/%3E%3Cline id='Línea_233' class='st1' x1='487.7' y1='776' x2='494.7' y2='776'/%3E%3Cline id='Línea_234' class='st1' x1='487.7' y1='778' x2='494.7' y2='778'/%3E%3Cg id='Rectángulo_3' transform='translate(484.7 767.512)'%3E%3Cpath class='st2' d='M1,0h11c0.6,0,1,0.5,1,1v15c0,0.6-0.5,1-1,1H1c-0.6,0-1-0.5-1-1V1C0,0.5,0.5,0,1,0z'/%3E%3Cpath class='st3' d='M1,0.5h11c0.3,0,0.5,0.2,0.5,0.5v15c0,0.3-0.2,0.5-0.5,0.5H1c-0.3,0-0.5-0.2-0.5-0.5V1C0.5,0.7,0.7,0.5,1,0.5 z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");}

a.IngresoMiembros span, a.pie_actualidad, a.pie_en-profundidad, a.pie_newsletters, a.pie_miembros{background-position: center top;background-repeat: no-repeat;display:block;}
a.IngresoMiembros span{background-size: 24px;  height:24px; background-repeat: no-repeat; width:24px;  text-indent:-100000px; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 448 512' style='enable-background:new 0 0 448 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8995;%7D%0A%3C/style%3E%3Cpath class='st0' d='M224,256c70.7,0,128-57.3,128-128S294.7,0,224,0S96,57.3,96,128S153.3,256,224,256z M313.6,288h-16.7 c-22.2,10.2-46.9,16-72.9,16s-50.6-5.8-72.9-16h-16.7C60.2,288,0,348.2,0,422.4V464c0,26.5,21.5,48,48,48h352c26.5,0,48-21.5,48-48 v-41.6C448,348.2,387.8,288,313.6,288z'/%3E%3C/svg%3E%0A");}
a.pie_actualidad, a.pie_en-profundidad, a.pie_newsletters, a.pie_miembros{padding-top: 20px; background-size: 19px; color: #7D8895;}
a.pie_actualidad{  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.5 18.7' style='enable-background:new 0 0 18.5 18.7;' xml:space='preserve'%3E%3Cpath d='M17.5,18.7c-0.2,0-0.4-0.1-0.6-0.2l-4-2.8l-9.3,0c-0.6,0-1-0.5-1-1v-7c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v7l9.3,0 c0.2,0,0.4,0.1,0.6,0.2l4.1,2.8l0-15.4l-9.8,0C7.5,2.2,7.2,2,7.2,1.7s0.2-0.5,0.5-0.5h9.8c0.6,0,1,0.5,1,1v15.4 c0,0.3-0.1,0.5-0.3,0.7C18,18.6,17.8,18.7,17.5,18.7z'/%3E%3Cg id='Elipse_260' transform='translate(481.2 662.355)'%3E%3Cg%3E%3Cpath d='M-477.9-655.9c-1.8,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2c1.8,0,3.2,1.5,3.2,3.2S-476.1-655.9-477.9-655.9z M-477.9-661.4 c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2S-476.6-661.4-477.9-661.4z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Línea_248'%3E%3Cpath d='M14.5,6.3h-7C7.3,6.3,7,6,7,5.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,6.3,14.5,6.3z'/%3E%3C/g%3E%3Cg id='Línea_249'%3E%3Cpath d='M14.5,9.3h-7C7.3,9.3,7,9,7,8.8s0.2-0.5,0.5-0.5h7c0.3,0,0.5,0.2,0.5,0.5S14.8,9.3,14.5,9.3z'/%3E%3C/g%3E%3Cg id='Línea_250'%3E%3Cpath d='M11.5,12.3h-4C7.3,12.3,7,12,7,11.8s0.2-0.5,0.5-0.5h4c0.3,0,0.5,0.2,0.5,0.5S11.8,12.3,11.5,12.3z'/%3E%3C/g%3E%3C/svg%3E%0A");}
a.pie_en-profundidad{background-size: 27px; }
a.pie_actualidad{color:#000;font-weight: 700;}
a.pie_miembros{background-size: 14px;}
/* burbujas editor */

.principal .wp-block-image .aligncenter, .principal .wp-block-image .alignleft, .principal .wp-block-image .alignright, .principal .wp-block-image.is-resized{display: initial;}
/*.burbuja, .burbuja div {
  display: flex;
  align-items: top flex-end;
  margin-bottom: 0.2em;
}*/
p.nombre_autor {margin: 0; padding-left: 77px; color:#858f9a; font-size: 13px;}
.burbuja div {
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 0.2em;
  column-gap: 10px;
}
.burbuja div div{  display: block; margin: 0;}
.burbuja_img {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.burbuja_img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


.burbuja_msg {
  border-radius: 5px;
  font-size: 16px;
  background: #F5F8FA;
  border: 1px solid #EBECF0;
  padding: 1em;
  margin: 0.5em 0 1.5em 0!important;
  justify-self: start;
}

.burbuja_msg {
  border-top-left-radius: 0;
}

.burbuja_msg-text {
  font-size: 17px;margin-bottom: 0;
}

.burbuja_msg-text img {
  width: 60%;
}

.burbuja_gif {
  padding-top: 1em!important;

}




/* panel mas info */

.more_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  margin-top: -1.4em;
}

.more_info ul {
  margin: 0 0 0 1em;
  padding: 0 1em 0 1em;
  list-style-position: outside;
  margin-bottom: 1em;
}

.more_info li {
  padding: 0 0 0.5em 0;
}

.more_tit {
  font-weight: bold;
  padding: 0 1em 0.5em 1em;
  color: #161616;
}

.more_social {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0em 0 1.5em 0;

  align-items: center;
  color: #7D8895;
  justify-content: center;
}

.more_social ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #7D8895;  margin-bottom: 0em;
}

.more_social li svg {
  fill: #7D8895;
}

.more_social li {
  border-left: 1px solid #7D8895;
  padding: 0 1em;
}

.more_social li:first-child {
  border-left: 0px solid #7D8895;
}
.more_social li a{display: block; width: 27px; height: 24px; text-indent: -1000000px;}
.more_social li a.s-twitter { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M459.4,151.7c0.3,4.5,0.3,9.1,0.3,13.6c0,138.7-105.6,298.6-298.6,298.6c-59.5,0-114.7-17.2-161.1-47.1 c8.4,1,16.6,1.3,25.3,1.3c49.1,0,94.2-16.6,130.3-44.8c-46.1-1-84.8-31.2-98.1-72.8c6.5,1,13,1.6,19.8,1.6c9.4,0,18.8-1.3,27.6-3.6 c-48.1-9.7-84.1-52-84.1-103v-1.3c14,7.8,30.2,12.7,47.4,13.3c-28.3-18.8-46.8-51-46.8-87.4c0-19.5,5.2-37.4,14.3-53 c51.7,63.8,129.3,105.4,216.4,110c-1.6-7.8-2.6-15.9-2.6-24c0-57.8,46.8-104.9,104.9-104.9c30.2,0,57.5,12.7,76.7,33.1 c23.7-4.5,46.5-13.3,66.6-25.3c-7.8,24.4-24.4,44.8-46.1,57.8c21.1-2.3,41.6-8.1,60.4-16.2C497.7,118.3,479.8,136.8,459.4,151.7 L459.4,151.7z'/%3E%3C/svg%3E%0A");
   background-position:center ;background-repeat: no-repeat; background-size: contain;}
.more_social li a.s-link {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M326.6,185.4c59.7,59.8,58.9,155.7,0.4,214.6c-0.1,0.1-0.2,0.2-0.4,0.4l-67.2,67.2c-59.3,59.3-155.7,59.3-215,0 s-59.3-155.7,0-215l37.1-37.1c9.8-9.8,26.8-3.3,27.3,10.6c0.6,17.7,3.8,35.5,9.7,52.7c2,5.8,0.6,12.3-3.8,16.6l-13.1,13.1 c-28,28-28.9,73.7-1.2,102c28,28.6,74.1,28.7,102.3,0.5l67.2-67.2c28.2-28.2,28.1-73.8,0-101.8c-3.7-3.7-7.4-6.6-10.3-8.6 c-4.2-2.9-6.8-7.5-6.9-12.6c-0.4-10.6,3.3-21.5,11.7-29.8l21.1-21.1c5.5-5.5,14.2-6.2,20.6-1.7C313.4,173.3,320.3,179.1,326.6,185.4 L326.6,185.4z M467.5,44.4c-59.3-59.3-155.7-59.3-215,0l-67.2,67.2c-0.1,0.1-0.2,0.2-0.4,0.4c-58.6,58.9-59.4,154.8,0.4,214.6 c6.3,6.3,13.2,12.1,20.5,17.2c6.4,4.5,15.1,3.8,20.6-1.7l21.1-21.1c8.4-8.4,12.1-19.2,11.7-29.8c-0.2-5.1-2.8-9.7-6.9-12.6 c-2.9-2-6.6-4.9-10.3-8.6c-28.1-28.1-28.2-73.6,0-101.8l67.2-67.2c28.2-28.2,74.3-28.1,102.3,0.5c27.8,28.3,26.9,73.9-1.2,102 l-13.1,13.1c-4.4,4.4-5.8,10.8-3.8,16.6c5.9,17.2,9,35,9.7,52.7c0.5,13.9,17.5,20.4,27.3,10.6l37.1-37.1 C526.8,200.1,526.8,103.7,467.5,44.4L467.5,44.4z'/%3E%3C/svg%3E%0A");
  background-position:center ;background-repeat: no-repeat; background-size: contain;} 
.more_social li a.s-facebook { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 320 512' style='enable-background:new 0 0 320 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M279.1,288l14.2-92.7h-88.9v-60.1c0-25.4,12.4-50.1,52.2-50.1H297V6.3c0,0-36.7-6.3-71.7-6.3 c-73.2,0-121.1,44.4-121.1,124.7v70.6H22.9V288h81.4v224h100.2V288H279.1z'/%3E%3C/svg%3E%0A");
  background-position:center ;background-repeat: no-repeat; background-size: contain;}
.more_social li a.s-whatsapp {   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 448 512' style='enable-background:new 0 0 448 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M380.9,97.1C339,55.1,283.2,32,223.9,32c-122.4,0-222,99.6-222,222c0,39.1,10.2,77.3,29.6,111L0,480l117.7-30.9 c32.4,17.7,68.9,27,106.1,27h0.1c122.3,0,224.1-99.6,224.1-222C448,194.8,422.8,139.1,380.9,97.1z M223.9,438.7 c-33.2,0-65.7-8.9-94-25.7l-6.7-4l-69.8,18.3L72,359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2c0-101.7,82.8-184.5,184.6-184.5 c49.3,0,95.6,19.2,130.4,54.1s56.2,81.2,56.1,130.5C410.5,355.9,325.6,438.7,223.9,438.7z M325.1,300.5c-5.5-2.8-32.8-16.2-37.9-18 c-5.1-1.9-8.8-2.8-12.5,2.8c-3.7,5.6-14.3,18-17.6,21.8c-3.2,3.7-6.5,4.2-12,1.4c-32.6-16.3-54-29.1-75.5-66 c-5.7-9.8,5.7-9.1,16.3-30.3c1.8-3.7,0.9-6.9-0.5-9.7s-12.5-30.1-17.1-41.2c-4.5-10.8-9.1-9.3-12.5-9.5c-3.2-0.2-6.9-0.2-10.6-0.2 c-3.7,0-9.7,1.4-14.8,6.9c-5.1,5.6-19.4,19-19.4,46.3s19.9,53.7,22.6,57.4c2.8,3.7,39.1,59.7,94.8,83.8c35.2,15.2,49,16.5,66.6,13.9 c10.7-1.6,32.8-13.4,37.4-26.4s4.6-24.1,3.2-26.4C334.3,304.6,330.6,303.2,325.1,300.5z'/%3E%3C/svg%3E%0A");
  background-position:center ;background-repeat: no-repeat; background-size: contain;}

.more_social .more_tit {
  font-weight: normal;
  padding: 0 1em 0.5em 1em;
  color: #7D8895;
}
.jetpack-video-wrapper, .wp-block-jetpack-slideshow {margin-bottom: 0!important;}
.wp-block-jetpack-slideshow_pagination.swiper-pagination.swiper-pagination-white.swiper-pagination-clickable.swiper-pagination-bullets{line-height: 12px!important;}
.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background: currentColor;
  color: currentColor;
  height: 10px!important;
  width: 10px!important;
}
.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-next, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-pause,.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-prev{
  background-color: rgba(255,255,255,.4);
    background-size: 12px!important;
    border-radius: 50%!important;
    height: 24px!important;
    width: 24px!important;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;

  transition: bottom 0.25s, ;
}
.progress-containerFinal .mensajefinal{height: 70px;text-align:center;line-height: 60px;
  padding-top: 10px;}
.progress-bar {
  background-color: #2196f3;
  height: 10px;
  width: 0%;
}
.card-cierre{background-repeat: no-repeat; background-position: center top; background-size: 12px; padding-top: 1em; text-align: center; font-size: 18px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 563 201' style='enable-background:new 0 0 563 201;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237F8894;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='280.8' cy='98.9' r='56.1'/%3E%3Ccircle class='st0' cx='501.6' cy='98.9' r='56.1'/%3E%3Ccircle class='st0' cx='60.1' cy='98.9' r='56.1'/%3E%3C/svg%3E%0A");}

  [data-carousel-extra] {
     cursor: default!important; 
}