.page-id-87352 #masthead{display: none;}


.page-id-78694 .headerFixedMiembros {top:0;    position: sticky!important;}
.stickyMiembros{top:0;}
@media (min-width: 480px) {
.BlackMiembrosHeader{background: url(/wp-content/uploads/2020/04/ilustracion_cover_sitioentrevistados_v2_desktop.png)center bottom no-repeat!important; 
  background-size: cover!important;  height: calc(100vh - 85px); display: block;}
.sueniosHeader{background: url(/wp-content/uploads/2020/05/ilustracion_cover_sitio_sueño.jpg)center bottom no-repeat!important; 
    background-size: cover!important;  height: calc(100vh - 85px); display: block; margin-bottom: 70px;}

}
.Miembrosx1Col h3.Miembrosx1Col, .Miembrosx1Col p{color:#fff!important; }
.BlackMiembrosHeader h2, .sueniosHeader h2 {

    padding: 20px 20px 0px 20px;
    font-weight: 500;
    max-width: 700px;
    margin: auto;
    font-size: 50px;
    color: #fff!important;
    font-family: 'Sanomat', serif;
    line-height: 1.2;

}
.sueniosHeader h2{padding-top: 80px!important; text-shadow: 0 0 5px #333;}  

.BlackMiembrosHeader .wp-block-group__inner-container, .sueniosHeader .wp-block-group__inner-container  {max-width: 100%;    display: grid; color:#fff}
    .GuiaPandemiaTittle{
        grid-area: GuiaPandemiaTittle;
    }
    .OpinionPartner{
        grid-area: OpinionPartner;
    }
    .BoxCompartir{
        grid-area: BoxCompartir;
    }
    .OpinionChevron{
        grid-area: OpinionChevron;
    }
    .ShareFullPage{
        grid-area: ShareFullPage;
    }

    .BlackMiembrosHeader .wp-block-group__inner-container,   .sueniosHeader .wp-block-group__inner-container{
        justify-items: center;
   height:100%;
        grid-gap:0 ;
       grid-template-rows:  auto 1fr auto auto;
       grid-template-columns:   auto;
        grid-template-areas: 
      
        "GuiaPandemiaTittle"
        "OpinionChevron" 
        "BoxCompartir"
        "ShareFullPage" 
     
    }
    .sueniosHeaderAutor{padding-bottom: 60px;}

   .sueniosImg {display: block; margin: 0 auto; max-width: 980px; padding: 40px 0; opacity: 0 ;  
    transition: all 0.5s;}
    .sueniosImg.sueniosActivo{opacity: 1;}
  .Img200{padding: 200px 0;}
  .Img240{padding: 240px 0;}
  .Img200Top{padding-top: 200px;}
  .Img160{padding: 160px 0;}
  .Img-titulo{max-width: 648px; padding: 270px 0 60px 0;}
  .Img-globo{max-width: 840px; padding:  0;}
  .Img-zzz{max-width: 500px; padding:  0;}
  .Img-suenio{max-width: 1000px; padding: 150px 0 300px 0;}
  .Img-texto{padding: 150px 0 150px 0;}

    @media (min-width: 821px) {
   .BlackMiembrosHeader .wp-block-group__inner-container,   .sueniosHeader .wp-block-group__inner-container{
    display: grid;
    grid-gap:0 ;
    grid-template-columns:   auto;
    grid-template-rows:  auto auto 1fr auto;
    grid-template-areas: 
  
    "GuiaPandemiaTittle"
    "BoxCompartir"
    "ShareFullPage"
    "OpinionChevron" 
    }

    .ShareFullPage .sd-social-icon .sd-content ul li a.sd-button,
.ShareFullPage .sd-social-icon .sd-content ul li[class*="share-"].share-jetpack-whatsapp a.sd-button,
.ShareFullPage .sd-social-icon .sd-content ul li[class*="share-"].share-twitter a.sd-button,
.ShareFullPage .sd-social-icon .sd-content ul li[class*="share-"].share-facebook a.sd-button,
.ShareFullPage .sd-social-icon .sd-content ul li[class*=share-].share-linkedin a.sd-button{
    background: rgba(255,255,255,0)!important;
}

    }


    .BlackMiembrosHeader, .sueniosHeader {padding-top: 60px;}

.OpinionChevron {
    background: url(/wp-content/uploads/2019/png/chevron.png) center top no-repeat;
    background-size: 22px;
    padding: 30px 0 25px 0;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center; text-transform: uppercase; 
    align-self: end;
}



.LinkTemas p{display: flex; justify-content: space-around; flex-wrap: wrap;}
.LinkTemas a{display: inline-block;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #161616;
    text-transform: uppercase;
    border: 1px solid #161616;
    border-radius: 18px;
    padding: 0 13px;
    line-height: 36px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 18px;}


.LinkTemas a:hover{color:#fff; background-color: #161616;}

.TemaCard, .LinkTemas, .IntroTemas{max-width: 1130px; width: 95%; margin: 0 auto;}
.LinkTemas{margin-bottom: 30px;color: #161616}
.LinkTemas h2 {color: #161616;
    font-size: 26px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;

}
.IntroTemas{margin: 80px auto 60px auto; }

.IntroTemas p {
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    color: #161616;

}
.TemaCard .wp-block-group__inner-container {
max-width: 100%;
display: grid;
}
.TituloTema  {
grid-area: TituloTema ;
}
.OpinionTH{
    grid-area:OpinionTH;
}
.OpinionDetalles{
grid-area: OpinionDetalles;
}
.OpinionTxt {
grid-area: OpinionTxt ;
}

.TemaCard .wp-block-group__inner-container{
   
        column-gap:16px ;
       grid-template-columns:  auto;
       grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "TituloTema "
        "OpinionTH"
        "OpinionDetalles"
        "OpinionTxt"  
     
    }


/*miembros 2020*/
.MiembrosComent20 .BoxOpinionUsuarioImgTxt {
    max-width: 100%;
    display: grid;
    }
    .MiembrosComent20 .OpinionUsuario  {
    grid-area: OpinionUsuario;
    }
    .MiembrosComent20 .UsuarioBoxName{
        grid-area:UsuarioBoxName
    }
    .MiembrosComent20 .mgUsuario{
    grid-area: mgUsuario;
    }
    
    
    .MiembrosComent20 .BoxOpinionUsuarioImgTxt{
       
            column-gap:7px ;row-gap: 10px;
           grid-template-columns:  60px auto;
           grid-template-rows: auto auto ;
            grid-template-areas: 
            "OpinionUsuario OpinionUsuario "
            "mgUsuario UsuarioBoxName"
           
            
         
        }
    
        @media (min-width: 640px) {
        .MiembrosComent20 .BoxOpinionUsuarioImgTxt{
       
            column-gap:25px ;
            row-gap: 0px;
           grid-template-columns:  auto 90px;
           grid-template-rows: auto auto ;
            grid-template-areas: 
            "OpinionUsuario mgUsuario"
            "UsuarioBoxName UsuarioBoxName"
            
         
        }

    }





.MiembrosComentariosYell{}
.MiembrosComent .mgUsuario, .page-id-59553 .BoxBeneficiosDivHover{display: none;}
.MiembrosComent20 .BoxOpinionUsuarioImgTxt{}
.MiembrosComent20 .BoxOpinionUsuario {background-color: #fff;padding:25px 40px 0 25px; margin-bottom: 50px;
 -webkit-box-shadow: 7px 7px 22px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 22px -12px rgba(0,0,0,0.75);
 box-shadow: 7px 7px 22px -12px rgba(0,0,0,0.75);}
.MiembrosComent20 .mgUsuario{align-self: center; }
.MiembrosComent20 .mgUsuario img{ height: 90px; width:90px; border-radius:45px;}
.MiembrosComent20 .PorQueSumarse {padding: 0 45px;font-size: 18px;    line-height: 24px;}
.MiembrosComent20 .UsuarioBoxName{ align-self: end;position: relative; top:20px;text-align: right; padding-right: 2px;}
.MiembrosComent20 .UsuarioBoxName p{right:0; background: url(/wp-content/uploads/2020/06/bg-nombre.png)right center no-repeat; padding: 0 45px 0 20px; top: 44px; display: inline-block; }
.MiembrosComent20 h3{padding: 15px 0;}
.MiembrosComent20 p.MiembrosBajadas{line-height: 1.3;padding-right: 61px;}
.MiembrosComent20{    margin-top: 48px;   margin-bottom: 37px; padding: 93px 0 65px;}
.MiembrosComent20 div.mySlides q:before{margin-bottom: 6px; content: ""; width: 28px; height: 28px; display: block; background: url("/wp-content/uploads/2019/svg/comillas.svg") no-repeat; background-size: content;}
.MiembrosComent20 div.mySlides q {font-size: 18px; line-height: 1.3; font-weight: 500; }
.MiembrosComent20 div.mySlides p{font-size: 16px; color:#c1c9c9!important; font-weight: 600;line-height: 38px;}
.Miembrosx2Col.MiembrosComent20 .ComentLine{position: relative; padding-left: 32px;}
.MiembrosComent20 div.mySlides p:last-child{margin-bottom: 0px;}

.SectionEjes .wp-block-column{ margin: 0;}
.SectionEjes .wp-block-column .wp-block-image {margin: 0 auto;}
.SectionEjes .wp-block-column p{padding: 0 20px; font-size: 18px; color: #7a7a7a;}

.BoxBeneficioshover .BeneficiosThumb, .BoxBeneficiosDivHover{display: none;}
.BoxBeneficioshover .BoxBeneficiosDivHover{display: block;}
.BoxBeneficios.BoxBeneficioshover{background-color: #6ca4f7; border-color: #6ca4f7; color:#ebebe5;  font-size: 16px;}
.page-id-59553 .BoxBeneficiosDivHover{display: none!important;}
.page-id-59553 .BoxBeneficioshover .BeneficiosThumb{display: block;}

.BeneficiosFull .BoxBeneficios .attachment-post-thumbnail {
    max-width: 90px;
    height: 90px;
    flex-basis: 90px;
    margin-left: 20px;
}
.BloqueYellFull.BeneficiosFull{margin-top: 72px;padding: 40px 0;}
.BeneficiosFull .BoxBeneficios{padding: 18px;}
.BeneficiosFull .BoxBeneficios{flex-basis: 30%;max-width: 396px;}
.BeneficiosFull .BoxBeneficios:nth-child(4n+0) {    margin-right: 30px;}
.BeneficiosFull .BeneficiosThumb {      align-items: flex-start;    justify-content: space-between;}
.BeneficiosFull .BeneficiosThumb .TipsFeed{  padding-top: 8px; flex-basis: 65%; letter-spacing: -0.8px;}
.BeneficiosFull .BeneficiosThumb .TipsFeed p{ margin-bottom: 0;}
.BeneficiosFull .BeneficiosThumb .TipsFeed::after{ content: "Más info >";     color: #5c9af6;
    font-size: 14px; display: inline-block; font-weight: 400;}
.SumateVos{display: flex; justify-content: center;}
.SumateVos h3{font-size: 53px; font-weight: 600; padding-top: 30px;}
.SumateVos img{ max-width: 180px;}

.MiembrosGifColV2{padding:75px 0 180px 0;}
.MiembrosGifColV2 h3.Top_futuroTit{padding-bottom:  15px;}
.MiembrosGifColV2 .MiembrosNotas a {
    color: #5c9af6;
    font-size: 14px;
    text-decoration: none;}
.MiembrosGifColV2  p.MiembrosBajadas{margin-bottom: 5px; line-height: 1.4em;}
.MiembrosBackYellV2{padding-bottom: 0;}


    @media (min-width: 821px) {
     .TemaCard .wp-block-group__inner-container {
    display: grid;
    grid-gap:0 80px ;
    grid-template-columns: 200px  auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
      "TituloTema    TituloTema"
      "OpinionTH    OpinionTxt"
      "OpinionDetalles    OpinionTxt"
 
    }
    }
    .OpinionDetalles  .wp-block-group__inner-container, .OpinionTxt  .wp-block-group__inner-container{display: block!important;}

    .TemaCard, .OpinionDetalles {text-align: left; font-size: 16px; font-family: 'Source Sans Pro', sans-serif;color:#161616}
    .TemaCard{margin-bottom: 100px;}
    .OpinionTH {width: 125px; height: 125px; border-radius: 62px;}
    .OpinionDetalles p:last-child{display: flex; justify-content: flex-start; align-items: center; }
    .OpinionDetalles p br{display: none!important;}
    .OpinionDetalles p strong{display: block; padding-bottom: 5px;}
    .OpinionDetalles a{opacity: 0.6; color:#0f0f0f; width: 32px; height: 32px; border: 1px solid #0f0f0f; border-radius: 16px; display: block;  text-indent: -10000px; margin-right: 10px;}
    .OpinionDetalles a:hover{opacity: 1;}
    .OpinionDetalles a.AutorFacebook{background: url(/wp-content/uploads/svg/facebook-f-brands.svg) center no-repeat; background-size: 12px;}
    .OpinionDetalles a.AutorTwitter{background: url(/wp-content/uploads/svg/twitter-brands.svg) center no-repeat; background-size: 18px;}
    .OpinionDetalles a.AutorInstagram{background: url(/wp-content/uploads/svg/instagram-brands.svg) center no-repeat; background-size: 18px;}
    .TemaCard h2, .LinkTemas h2{font-size: 30px; font-weight: 500; line-height: 70px;text-align: left;}
    .TemaCard {border-top:1px solid #e3e3e3;}
    .OpinionTxt p {
        font-family: 'Merriweather', serif!important;
        font-size: 14px!important;
        line-height: 1.8;
        font-weight: 400;
    
    }
    @media(max-width: 968px) {
    .sueniosImg { max-width: 90%; padding: 45px 0;}
   
    }

    @media (max-width: 480px) {
    .BlackMiembrosHeader{background: url(/wp-content/uploads/2020/04/ilustracion_cover_sitioentrevistados_v2_mobile.png)center top no-repeat!important; 
        background-size: contain!important;  height: 520px;  display: block;}
        .BlackMiembrosHeader,   .sueniosHeader {
            padding-top: 30px;
        }
        .sueniosHeaderAutor{padding-bottom: 60px;}
        .sueniosHeader { background: url(/wp-content/uploads/2020/05/ilustracion_cover_suenos_mobile.jpg)center top no-repeat!important; 
            background-size: contain!important;  height: 520px;  display: block;}
        .page-id-78694 .headerFixedMiembros {top:0;    position: sticky!important;}

        .BlackMiembrosHeader h2, .sueniosHeader h2{font-size: 35px;}
       
.OpinionChevron{    visibility: hidden;}
.BoxCompartir{color:#191919}
.ShareFullPage{margin-bottom: 0px;} 
.TemaCard, .LinkTemas, .IntroTemas{padding:0 20px; width:100%; margin: 0 auto;}
.LinkTemas p {
    justify-content: flex-start;
}
.LinkTemas p a{
   margin-right: 15px;
}   
.TemaCard h2, .LinkTemas h2 {font-size: 25px;    font-weight: 600;}  

.OpinionTH,  .TemaCard, .OpinionDetalles {    align-self: center;margin: auto;}
    .TemaCard, .OpinionDetalles p{        text-align: center!important;    }
    .OpinionTH{margin-bottom: 20px;}
    .OpinionDetalles p:last-child {justify-content: center;    }
    .OpinionTxt {padding-top:20px;}
    .OpinionTxt p{text-align: left!important;}
    .TemaCard{margin-bottom: 40px;}



    .MiembrosComent20 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 40px 20px 20px 20px;
    }
  
    .MiembrosComent20 div.mySlides p {
        font-size: 11px!important;}

    .MiembrosComent20 .mgUsuario img {
        height: 60px;
        width: 60px;
        border-radius: 45px;
    }
    .MiembrosComent20 .BoxOpinionUsuario {
        background-color: #fff;
       padding: 20px 5px 20px 20px;}
       .MiembrosComent20 .OpinionUsuario {padding-right: 15px;}
        .MiembrosComent20 .UsuarioBoxName p { padding: 0 32px 0 10px;}
        .MiembrosComent20 .UsuarioBoxName {
           
            position: initial; 
           top: 0;
        
            align-self: center;
        }

    .MiembrosComentariosYell .MiembrosComent20{
        display: flex;
        flex-direction: column;
    }
    .MiembrosComent20 .MiembrosIframeVideo{order:1}
    .MiembrosComent20 .PorQueSumarse{order:0}

    .MiembrosGifColV2 {
        padding: 20px;
    }
    .MiembrosGifColV2 h3.Top_futuroTit {
        padding-bottom: 0px;
        padding-top: 40px;
    }
    .wp-block-columns.Miembrosx2Col.SumateVos .wp-block-column:first-child{ flex-basis: 20%!important;}
    .wp-block-columns.Miembrosx2Col.SumateVos .wp-block-column:last-child{ flex-basis: 70%!important;}
    .SumateVos img {max-width: 70px;    }
    .SumateVos h3 {font-size: 27px;}
    .wp-block-columns.Miembrosx2Col.SumateVos .wp-block-image .alignright {
        float: none; text-align: center;
        margin-left: auto; margin-right: auto;
    }
.BeneficiosFull .BoxBeneficios:nth-child(4n+0) {
    margin-right: 0px;
}




    }
.single .burbuja .wp-block-group__inner-container figure{margin:0!important; background-color: transparent!important;}


      
      
.postid-126764 .progress-container{display: none!important;}



/*LANDING EPECIAL*/
.page-template-page-landing-especial main{padding-bottom: 0!important;}
.page-template-page-landing-especial p{font-size: 20px;}
.FullH-Tit{height: calc(100vh - 56px);width: 100%; display: flex; flex-direction: column; justify-content: center; background-color: #131313; color:#fff}
.FullH-Tit h1, .FullH-Tit p{ font-weight: 500; font-size: 96px; color:#fff}
.FullH-Tit p{font-size: 60px;}
.FullH-Tit figure, .FullH-Tit .wp-block-group__inner-container{margin:0; height: 100%;}
.FullH-Tit figure img{margin:0; height: 100%; width: auto;  object-fit: cover;}
.FullH-Tit h1, .FullH-Tit p, .quoteCorresponsales p,.SwiperVerde h2,.SwiperBeige h2 .ColxDosRosa h2, .ColxDosRosa h3, .ColxDosVerde h2,.ColxDosVerde h3, 
.ColBeige h2, .ColVerde1Col h2, .ColAzul h2, .CitasAzul h2, .FullScreenBlock h2,.ColxDosRosaPod h2,.ColxDosRosaPod h3, .Mujeres-en-Box h2, .TareasDomesticasBack h2,
.LandindDescarga h3,.LandindCreditos h3, div.wpforms-container-full.LandingMujeresForm .wpforms-field-label, .ColAmarilla1Col p{font-family: 'Sanomat', serif !important; font-weight: 500; color:#000}

.page-template-page-landing-especial .wp-block-columns{margin-bottom: 0;}
.SwiperVerde .wp-block-group__inner-container, .SwiperBeige .wp-block-group__inner-container{padding: 80px 0;}
.SwiperVerde{background-color:#126178; color:#fff}
.SwiperVerde a{color:#fff}
.page-template-page-landing-especial .site-contentFullPage{padding: 0;}
.swiper-wrapper article {
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
/*display: grid;*/
margin: 0;

}
/*.SwiperVerde article {
 grid-template-columns: 1fr 480px;  
column-gap:60px ;
grid-template-areas: "Col-b Col-a ";     
margin-bottom: 0;    margin-right:50px ;
}
.swiper-slide-img{
    grid-area:Col-a  ;
  }
.swiper-slide-Card {
    grid-area: Col-b;
  }*/
  .page-template-page-landing-especial  .wp-block-buttons{margin-top: auto;}
  .page-template-page-landing-especial  .wp-block-button__link {
    display:block ; padding: 10px 18px; background-color:#fff; border-radius: 5px; border:1px solid #fff;
    margin-top: 60px;text-transform: uppercase; font-size: 15px; color:#4e4e4e;
font-weight: 600;  
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
   
}

a.LinkSwiper, .page-template-page-landing-especial .wp-block-button__link {display:block ; background-color:#fff; border-radius: 5px; border:1px solid #fff;
     margin-top: 60px;text-transform: uppercase; font-size: 15px; color:#4e4e4e;
 font-weight: 600;   }
a:hover.LinkSwiper, .page-template-page-landing-especial .wp-block-button__link:hover{ background-color:transparent;  color:#fff;
  }
  .ColAmarilla1Col .wp-block-button__link {margin-top: 30px;}

/*a.LinkSwiper, .page-template-page-landing-especial .wp-block-button__link{display:block ; width: 24px; height: 45px; background-size: contain; fill: green; background-repeat: no-repeat;    background-position: 0 center;margin-top: 60px;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='angle-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512' class='svg-inline--fa fa-angle-right fa-w-6 fa-3x'%3E%3Cpath fill='white' d='M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z' class=''%3E%3C/path%3E%3C/svg%3E");}
*/
    .swiper-slide-Card{text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.page-template-page-landing-especial .svg-inline--fa{color:#62a0a6!important}


.SwiperVerde h2{font-family: 'Sanomat', serif !important;color:#fff; font-size: 72px; display: block; max-width: 80%;
    font-weight: 600;
    line-height: 1.1em;}
    .page-template-page-landing-especial   p.bajadaCard{font-size: 24px; padding-top: 30px; font-weight: 500; max-width: 68%; display: block;}
.SwiperVerde h2 em{font-style: normal;}
.swiper-slide-Card p{ font-size: 18px; line-height: 1.2; display: block; max-width: 57%; margin-top: 100px;}
.SwiperBeige .swiper-slide-Card p{max-width: 100%;}

.bajadaCard strong{font-weight: 600; padding-top: 20px;}
.SwiperVerde .wp-block-columns .wp-block-column:last-child figure{height: 100%; margin:0}
.SwiperVerde .wp-block-columns .wp-block-column:last-child figure img{ width: auto;}

.DataCard{margin-top: auto;}

.SwiperBeige{background-color: #f6d9b8; color: #161616;}

/*.SwiperBeige article {
    grid-template-columns: 250px 1fr ;  
   column-gap:60px ; 
   grid-template-areas: "Col-a Col-b ";     
   margin-bottom: 0;    
   }*/
   .SwiperBeige .swiper-pagination-bullet{border-color: #191919!important; }
   .SwiperBeige .swiper-pagination-bullet-active{background-color:#191919!important}
   .SwiperBeige h2, .SwiperBeige .DataCard{display: none;}
   .SwiperBeige .SwiperIconBeige figure{max-width: 225px; margin:0}

.quoteCorresponsales{padding: 80px 0; display: block;text-align: center;margin: 0; border: 0;color:#000!important}
.quoteCorresponsales cite a{color:#000!important}
.quoteVerde{background-color: #6bb5bb;}
.quoteRosa{background-color: #fcbdbd;}
.quoteCorresponsales p, .quoteCorresponsales cite{display: block; max-width: 1280px; width: 100%; margin: 0 auto; text-align: left;}
.quoteCorresponsales p, .ColAmarilla1Col p{font-size: 32px;line-height: 1.3em;}
.ColAmarilla1Col p {display: block; max-width: 80%;}
.quoteCorresponsales p strong{font-weight: 600; color:#fff;} 
.quoteCorresponsales cite{padding-top: 18px; font-style: normal;}

.SwiperVerde .wp-block-group__inner-container, .SwiperBeige .wp-block-group__inner-container,
.ColxDosRosa .wp-block-columns, .ColxDosVerde .wp-block-columns, .ColBeige .wp-block-columns, 
.ColVerde1Col .wp-block-columns, .ColAzul .wp-block-columns, .CitasAzul .wp-block-columns, .CitasAzul .cita,.ColAmarilla1Col .wp-block-columns,
.FullScreenBlock .wp-block-group__inner-container,.ColxDosRosaPod .wp-block-columns,.Mujeres-en-Box .wp-block-group__inner-container,
.LandindDescarga .wp-block-group__inner-container,.LandindCreditos .wp-block-group__inner-container , .LandingMujeresForm form,
.ColAmarilla1Col .wp-block-group__inner-container{ max-width: 1280px; width: 100%; margin: 0 auto; text-align: left; }
.ColxDosRosa{ text-align: center;
    background: rgb(255,226,225);
    background: linear-gradient(90deg, rgba(255,226,225,1) 0%, rgba(255,226,225,1) 80%, rgba(255,158,162,1) 80%, rgba(255,158,162,1) 100%);
}
.ColxDosRosaPod{ background: rgb(255,158,162);
    background: linear-gradient(90deg, rgba(255,158,162,1) 0%, rgba(255,158,162,1) 80%, rgba(254,106,94,1) 80%, rgba(254,106,94,1) 100%);}
.ColxDosRosa .wp-block-columns .wp-block-column, .ColxDosVerde .wp-block-columns .wp-block-column, .ColBeige .wp-block-columns .wp-block-column,
.ColVerde1Col .wp-block-columns .wp-block-column,.ColAzul .wp-block-columns .wp-block-column, 
.FullScreenBlock .wp-block-group__inner-container, .ColxDosRosaPod .wp-block-columns .wp-block-column, .ColAmarilla1Col .wp-block-group__inner-container{padding: 70px 0;display: flex; flex-direction: column;}
.ColxDosRosaPod .wp-block-column.FrasePodcast{justify-content: center;}
.ColxDosRosa figure, .ColxDosVerde figure, .ColBeige figure,.ColVerde1Col figure, .ColAzull figure{margin:0 auto!important}
.ColxDosRosa .wp-block-columns .wp-block-column:last-child img{max-height: 260px; width: auto;}
.ColxDosRosa .wp-block-columns .wp-block-column:last-child,.ColxDosVerde .wp-block-columns .wp-block-column:last-child{background-color: rgba(255,158,162,1); padding-left: 50px; margin-left: 0!important;}
.ColxDosVerde .wp-block-columns .wp-block-column:last-child{background-color: #4f9298; color:#fff!important}
.ColxDosRosa .wp-block-columns .TareasDomesticasBack{background: url(/wp-content/uploads/2019/06/20190605_desigualdad_domestica.jpg) right bottom no-repeat; background-size: 83%; padding-right: 85px;}
.ColxDosVerde .wp-block-columns .wp-block-column:first-child{background: url(/wp-content/uploads/2021/03/20210325_LESM_deconstuir-la-masculinidad-trabajo-varones-violencia-de-genero_Apertura_Landing.jpeg) right bottom no-repeat; background-size: 80%;padding-right: 85px}

.ColxDosVerde  .wp-block-button__link{margin-bottom: 0px;}
.ColxDosVerde { text-align: center;
    background: rgb(112,185,191);
    background: linear-gradient(90deg, rgba(112,185,191,1) 0%, rgba(112,185,191,1) 70%, rgba(79,146,152,1) 70%, rgba(79,146,152,1) 100%);
}
.ColxDosRosaPod .wp-block-columns .ColPodcast {padding: 0;}
.ColxDosRosaPod .wp-block-columns .ColPodcast figure{ margin:0; padding: 0;}
.ColxDosRosaPod .wp-block-columns .ColPodcast figure img{ max-height: 356px; margin:0; padding: 0;}
.ColxDosRosaPod .wp-block-columns .wp-block-column:last-child{background-color: rgba(254,106,94,1); padding: 70px 0px 40px 70px;}

.ColxDosRosaPod h2, .ColxDosRosaPod h3, .FrasePodcast{color:#fff!important; font-weight: 600;}

.TareasDomesticasBack p{display: block; max-width: 80%;}
.EmbedFullLanding{height: 70vh; background-color: #fff7e3;    display: flex;
    justify-content: center;
    align-items: center; margin:0}
@media(min-width: 1024px)  {.EmbedFullLanding iframe{width: 860px; height: 484px!important;}}
/*.EmbedFullLanding, .EmbedFullLanding iframe{width: 100%!important; margin: 0; }
@media(min-width: 1920px)  {.EmbedFullLanding iframe{height: 1080px!important;}}
@media(min-width: 1280px) and (max-width: 1910px)  {.EmbedFullLanding iframe{height: 720px!important;}}
@media(min-width: 1024px) and (max-width: 1279px)  {.EmbedFullLanding iframe{height: 576px!important;}}
@media(min-width: 768px) and (max-width: 1023px)  {.EmbedFullLanding iframe{height: 432px!important;}}
@media(min-width: 414px) and (max-width: 767px)  {.EmbedFullLanding iframe{height: 233px!important;}}
@media (max-width: 413px)  {.EmbedFullLanding iframe{height: 180px!important;}}*/

.ColBeige{background-color: #c3b4a7;}
.ColVerde1Col, .LandingMujeresForm{background-color: #577f86!important; color:#fff}
.ColAzul{background-color:#596678;color:#fff}
.ColAzul.violencia{background-color:#5a637b;}
.CitasAzul{background-color: #363643; color:white}
.ColAmarilla1Col{background-color: #fbe482;}
.ColxDosRosaPod, .ColxDosRosaPod .wp-block-columns .ColPodcast figure {background-color: #fe6a5e;}
.CitasAzul .wp-block-columns{justify-content: space-between;}
.CitasAzul figure{max-width: 100px; padding-bottom: 20px; margin: 0!important;}
.CitasAzul .cita{  padding:0 0 70px 0; font-size: 14px; text-align: left; text-transform: uppercase;font-style: normal!important; display: block; margin: 0 auto;}
.CitasAzul .wp-block-columns .wp-block-column{padding: 70px 0 40px 0;}
.ColBeige .wp-block-columns .wp-block-column:first-child{padding-right: 85px; color:#fff}
.ColVerde1Col  .wp-block-columns .wp-block-column:first-child, .ColxDosVerde  .wp-block-columns .wp-block-column:first-child, .ColAzul  .wp-block-columns .wp-block-column:first-child{padding-right: 85px;}
.FullScreenBlock{width: 100%; height: 100vh; background: url(https://www.redaccion.com.ar/wp-content/uploads/2021/03/20210325_Campania-del-mes_Mujer-Landing.jpeg) center no-repeat; background-size: cover; }
.FullScreenBlock .wp-block-group__inner-container {justify-content: center;height: 100%; color:#fff}

.Mujeres-en-Box{background-color: rgb(255,226,225); padding: 70px 0}
@media(min-width: 900px) {.Mujeres-en-Box .wp-block-columns .wp-block-column{flex-basis: 20%!important;    margin-left: 75px;}.Mujeres-en-Box .wp-block-columns .wp-block-column:first-child{margin-left: 0;}}
.Mujeres-en-Box p{padding-bottom: 30px; padding-top: 0px;padding-right: 40px;
display: block;text-align: left;font-size: 18px;
margin: 0 auto}

.Mujeres-en-Box p em{display: inline-block;text-align: center; font-style: normal;}
.Mujeres-en-Box figure{text-align:left; width: 100%; margin:0;}
.Mujeres-en-Box img{margin:0 ; padding: 30px 0 20px 0}
.wp-block-columns.trescolumnas .wp-block-column:last-child{display: none;} 
.wp-block-columns.trescolumnas{justify-content: center;}

.LandingRedes{background-color: #fde7ca;padding: 70px 0; text-align: center; margin: 0}
.LandindDescarga{background-color: #fff7e3; padding: 70px 0; margin: 0;text-align: left;}
.LandindCreditos{text-align: left; padding: 70px 0}

.TareasDomesticasBack h2{font-size: 48px; padding-bottom: 25px;font-weight: 600; display: block; max-width: 80%;}
.ColxDosRosa h3{font-size: 32px; line-height: 1.2; font-weight: 600; padding: 20px 0;}
.ColBeige h2, .ColxDosVerde h3, .ColAzul h2{font-size: 36px;line-height: 1.2; font-weight: 600;}
.ColBeige h2,.ColVerde1Col h2,.ColAzul h2{font-weight: 600; color:#fff}
.ColxDosRosaPod h3{font-size: 25px; padding-bottom: 20px;    line-height: 1.2;}
.CitasAzul h2{color:#fec60c; font-size: 64px; font-weight: 600;padding-bottom: 0!important;}
.FrasePodcast h2{font-size: 36px; font-size: 500!important; line-height: 1.3;}
.ColxDosVerde h2{font-size: 42px;}
.ColxDosVerde h3{padding-bottom: 15px;}
.ColVerde1Col h2{font-size: 46px; padding-bottom: 35px;}

.FrasePodcast p{font-size: 18px;}
.Mujeres-en-Box h2{font-size: 46px;max-width: 70%;}
.LandingRedes h3{font-size: 20px; font-weight: 500;    padding-bottom: 20px;}
.LandingRedes p.LandingRedesShare{font-size: 1px; color:#fde7ca; margin:0; padding: 0;}
.LandindDescarga h3{font-size: 24px; line-height: 1.2; padding-bottom: 30px; font-weight: 600;}
.LandindDescarga p{font-size: 18px!important; line-height: 1.4;}
.LandindCreditos h3{font-size: 34px;}
.LandindCreditos p strong{font-size: 18px; display: block;font-weight: 600}
.LandindCreditos p {font-size: 15px; display: block; }
.LandindCreditos p{margin-bottom: 60px;}
.ColxDosVerde h2, .ColxDosVerde h3, .ColxDosVerde p, .ColxDosRosaPod{color:#fff!important}

.ColVerde1Col h2, .ColBeige h2, .ColxDosVerde h2, .ColAzul h2, .CitasAzul h2,.FrasePodcast h2, .Mujeres-en-Box h2, .LandindCreditos h3{padding-bottom: 25px; font-weight: 600;}
.FullScreenBlock h2{font-size: 74px; font-weight: 600; line-height: 1.3;color:#fff;     max-width: 90%;}
.FullScreenBlock p{font-size: 24px;font-weight: 600; line-height: 1.3; display: block;     max-width: 35%;
    padding-top: 25px;}
.FullScreenBlock .FullScreenBlock{margin-top:110px}
p.NotasCard{font-size: 36px; line-height: 1.2; padding-bottom: 20px; margin: 0; padding-right: 120px;}
p.FuenteNotasCard{font-size: 14px; line-height: 1.2;padding-bottom: 20px; margin: 0;text-transform: uppercase;}
p.FuenteNotasCard a{color:#000}

div.wpforms-container-full.LandingMujeresForm{padding: 70px 0; margin: 0; text-align: center;}
div.wpforms-container-full.LandingMujeresForm .wpforms-form input[type=text]{background-color: #577f86; color:#fff; border-radius:0;  border-bottom: 1px solid #fff;  border-left:  0; border-top:0; border-right: 0;font-size: 18px; font-weight: 600;}
div.wpforms-container-full.LandingMujeresForm .wpforms-field-label{font-size: 36px; font-weight: 600; color:#fff; padding-bottom: 25px;}
div.wpforms-container-full.LandingMujeresForm .wpforms-submit { bottom: 10px; right:0; background-color: #fff!important; border:0!important;  display:block ;  border-radius: 5px; border:1px solid #fff;
    text-transform: uppercase; font-size: 15px; color:#4e4e4e!important;
font-weight: 600!important;   }
div.wpforms-container-full.LandingMujeresForm .wpforms-field-large.wpforms-field-required::placeholder,div.wpforms-container-full.LandingMujeresForm .wpforms-required-label {color:#fff!important;}
div.wpforms-container-full.LandingMujeresForm .wpforms-validate{position: relative;}
div.wpforms-container-full.LandingMujeresForm .wpforms-field-container{max-width: 60%; }

div.wpforms-container-full.LandingMujeresForm .wpforms-confirmation-container-full,div.wpforms-container-full.LandingMujeresForm div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: transparent; font-family: 'Sanomat', serif !important; font-weight: 500; font-size: 24px; color:#fff;
    border: 0;
}

.page-template-page-landing-especial .ShareFullPage{display: flex;
    justify-content: center;
}


@media(max-width: 768px) {
    .FullH-Tit{height: auto;}
    .FullH-Tit figure img{width: 100%; height: auto;}
    .wp-block-group.SwiperVerde, .ColxDosRosa .wp-block-columns .wp-block-column, .ColxDosVerde .wp-block-columns .wp-block-column, .ColBeige .wp-block-columns .wp-block-column,
    .ColVerde1Col .wp-block-columns .wp-block-column,.ColAzul .wp-block-columns .wp-block-column, .quoteCorresponsales,div.wpforms-container-full.LandingMujeresForm,.Mujeres-en-Box,.LandingRedes,.LandindDescarga,.LandindCreditos,
    .FullScreenBlock .wp-block-group__inner-container, .ColxDosRosaPod .wp-block-columns .wp-block-column, .wp-block-group.SwiperBeige{padding:40px 20px;}
    
    .CitasAzul .wp-block-columns .wp-block-column{padding: 40px 20px 0 20px;}
    .CitasAzul .wp-block-columns .wp-block-column:last-child, .ColAmarilla1Col .wp-block-group__inner-container{padding: 40px 20px ;}
   
    .FullH-Tit h1, .SwiperVerde h2{font-size: 42px;}
    .FullH-Tit p {font-size: 30px;}
.SwiperVerde h2, .page-template-page-landing-especial p.bajadaCard, .Mujeres-en-Box h2{max-width: 100%; width: 100%;}

.SwiperVerde .wp-block-columns .wp-block-column:first-child,
.ColBeige .wp-block-columns .wp-block-column:first-child,
.ColVerde1Col .wp-block-columns .wp-block-column:first-child,
.ColAzul .wp-block-columns .wp-block-column:first-child {order:1; padding-top: 0}

.SwiperVerde .wp-block-columns .wp-block-column:last-child,
.ColBeige .wp-block-columns .wp-block-column:last-child,
.ColxDosVerde .wp-block-columns .wp-block-column:last-child,
.ColVerde1Col .wp-block-columns .wp-block-column:last-child,
.ColAzul .wp-block-columns .wp-block-column:last-child { padding-top:20px}

.ColxDosRosaPod .wp-block-columns .wp-block-column:last-child{padding: 20px;}
.wp-block-column.SwiperIconBeige{padding-bottom: 20px;}
.Mujeres-en-Box .wp-block-columns .wp-block-column{padding-bottom:30px ;}
div.wpforms-container-full.LandingMujeresForm .wpforms-field-container {
    max-width: 100%;
}
.EmbedFullLanding{height: auto}
.Mujeres-en-Box h2, .TareasDomesticasBack h2{font-size: 36px}
.CitasAzul .cita{padding: 0 20px 40px 20px}
    .ColxDosRosa {background: rgb(255,226,225)!important;}
    .ColxDosRosaPod {background: rgb(255,158,162)!important;}
    .ColxDosVerde{background: rgb(112,185,191);}
    .FullScreenBlock h2{font-size: 40px; }
    .LandingRedes p {font-size: 35px;}

.FullScreenBlock .FullScreenBlock{margin-top:50px}
p.NotasCard{font-size: 20px;  padding-right: 20px;}
.ColBeige .wp-block-columns .wp-block-column:first-child, .ColVerde1Col .wp-block-columns .wp-block-column:first-child, .ColxDosVerde .wp-block-columns .wp-block-column:first-child, .ColAzul .wp-block-columns .wp-block-column:first-child  {
    padding-right: 20px;}
.Mujeres-en-Box img {width: 100%;padding: 0;}
.SwiperVerde .wp-block-group__inner-container, .SwiperBeige .wp-block-group__inner-container {
    padding:  0;
}

.TareasDomesticasBack p, .FullScreenBlock p {    max-width: 100%;}
.ColxDosRosa .wp-block-columns .wp-block-column:last-child, .ColxDosVerde .wp-block-columns .wp-block-column:last-child { padding-left: 20px;}
.ColxDosRosaPod .wp-block-columns .ColPodcast figure img {max-height: 100%;}
.page-template-page-landing-especial .sd-social-icon .sd-content ul li[class*="share-"] a.sd-button{background-color: transparent!important;}

.Mujeres-en-Box p, .ColAmarilla1Col p{padding-bottom: 0;    padding-top: 15px;    font-size: 20px;    max-width: 100%;}

}