.miembros-co-menu{list-style: none; display: flex; margin: 0 auto; justify-content: center;}
.miembros-co-menu li a{ color: #797979; }
.miembros-co-menu li a:hover, .miembros-co-menu li.current-menu-item a{ color: #5d97f3;}
.miembros-co-menu .menu-item {    margin-left: 0px;}




.page-template-page-portada-miembros .site-content{
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.page-template-page-portada-miembros .site-contentFullPage {
    padding: 0px 20px;
   
    margin: 0 auto; max-width: 1280px;
}

ul.smooth {list-style: none; margin: 0; display: flex; flex-wrap: wrap;justify-content: space-between;}
ul.smooth li{flex-basis:24%; display: block; text-align: center;margin-bottom: 10px;
    background-color: #fafbfb;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 23px 21px 20px 21px;}
    ul.smooth li a{font-weight: 700; color:black; line-height: 1.3em; display: block; font-size: 18px;}
    ul.smooth li a:before, .page-template-page-portada-miembros .site-content .wp-block-spacer:before {content: ""; display: block; width: 100px; height: 68px; margin: 0 auto 10px auto; background-position: center; background-size: contain; background-repeat: no-repeat;}
   .page-template-page-portada-miembros .site-content .wp-block-spacer:before {height: 55px;}
    ul.smooth li:nth-child(1) a::before, #queremos-escucharte::before{ background-image: url(/wp-content/uploads/2019/12/Recurso-prioridad.png);}
    ul.smooth li:nth-child(2) a::before,#suma-tu-propuesta::before{ background-image: url(/wp-content/uploads/2019/12/Recurso-comunidad.png);}
    ul.smooth li:nth-child(3) a::before, #notas-de-participacion::before{ background-image: url(/wp-content/uploads/2021/03/Recurso-redaccion-abierta.png);}
    ul.smooth li:nth-child(4) a::before, #agenda::before{ background-image: url(/wp-content/uploads/2021/03/Ilustraciones_membresia_agenda-1.png);}
    ul.smooth li:nth-child(5) a::before, #newsletters-miembros::before{ background-image: url(/wp-content/uploads/2021/03/Ilustraciones_membresia_newsletter.png);}
    ul.smooth li:nth-child(6) a::before,#beneficios::before{ background-image: url(/wp-content/uploads/2019/12/Recurso-tickets.png);}
    ul.smooth li:nth-child(7) a::before, #especiales-coronavirus::before{ background-image: url(/wp-content/uploads/2021/03/Ilustraciones_membresia_especiales-covid19.png);}
    ul.smooth li:nth-child(8) a::before,#nuestras-tematicas::before{ background-image: url(/wp-content/uploads/2021/03/Ilustraciones_membresia_tematicas.png);}


    .page-template-page-portada-miembros .BoxBeneficios {flex-basis: 48%;    margin-right: 0;}
    .page-template-page-portada-miembros .SectionBeneficios{padding: 32px 0; justify-content: space-between;}

    .page-template-page-portada-miembros #primary h2{font-family: sanomat,serif!important; font-weight:500; font-size: 40px; display: block; text-align: center; margin-top: 40px; margin-bottom: 40px;}
    .BajadaMiembros-Co{display: block; text-align: center; font-size: 18px; color:#7d8894; font-style: italic; padding: 0 10% 40px 10%;}
    .page-template-page-portada-miembros .site-content .wp-block-spacer{display: block; text-align: center;height: 34px; border-bottom: 2px solid #ddd; margin-top: 40px;}
.page-template-page-portada-miembros .site-content .wp-block-spacer:before {background-color: #fff;}
.LineOrangeBT {text-align: center;}
.LineOrangeBT a.wp-block-button{margin:0 auto}
 .LineOrangeBT a.wp-block-button__link{display: inline-block; margin-top: 40px;
line-height: 32px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
border: 2px solid #ff6860;
color: #ff6860;
text-decoration: none;
background-color: transparent;
font-weight: 700;
text-transform: uppercase;
font-size: 14px;
letter-spacing: 1px;
margin: 12px 0;
border-radius: 4px;
text-align: center;
padding: 0 24px;
-webkit-transition: background-color 0s;
transition: background-color 0s;
-webkit-transition: color 0.1s;
transition: color 0s;}
.LineOrangeBT a.wp-block-button__link:hover{background-color:#ff6860; color:#fff}



.notaParticipacionBox, .NuestrasTematicasBox{display: flex; padding-bottom: 40px; border-bottom: 1px solid #eff0f3; margin-bottom: 40px;}
.notaParticipacionBox:last-child, .NuestrasTematicasBox:last-child, .guiaVacunasBox:last-child  > .wp-block-group__inner-container{border-bottom: 0px solid #eff0f3; margin-bottom: 0px;}
.notaParticipacionBox_TH, .notaTematicasBox_TH,.guiaVacunasBox .wp-block-group__inner-container figure{max-width: 228px; margin: 0; width: 100%;}
.notaParticipacionBox_TH img, .notaTematicasBox_TH img, .guiaVacunasBox .wp-block-group__inner-container figure img, .THeventoList img{border-radius: 10px;}
.notas_participacionBox_info, .notaTematicas_info{margin-left: 16px;}
.notaParticipacionBox .AutorCoautor,  .notaTematicas_info .AutorCoautor{display: flex;}
.notaParticipacionBox .AutorCoautor a,  .notaTematicas_info .AutorCoautor a{    color: #999;    font-size: 14px;    line-height: 22px;    font-weight: 700; }
.notaParticipacionBox h3 a, .NuestrasTematicasBox h3 a{font-family: sanomat,serif!important; font-weight:500; font-size: 20px;padding-bottom: 10px;display: block;line-height: 1.4em;}
.guiaVacunasBoxInfo a{color:#1790e9}
.guiaVacunasBox > .wp-block-group__inner-container{display: grid;
grid-template-columns: 228px 1fr;
column-gap: 16px;
}
.guiaVacunasBox {border-bottom: 1px solid #eff0f3; margin-bottom: 30px; padding-bottom: 30px;}
.guiaVacunasBox.ultima{border:0}


.page-template-page-portada-miembros .BeneficiosThumb .TipsFeed::after {
    content: "Más info >";
    color: rgb(92, 154, 246);
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
}
.page-template-page-portada-miembros .BoxBeneficios .TipsFeed {

    flex-basis: 220px;
    min-height: 90px;
}

.notaTematicas_info .category {
    display: inline-block;
    border: 1px solid #797979;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom:14px;
    line-height: 20px !important;
}
.notaTematicas_info .category a {
    color: #797979;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 0.5px;
    line-height: 20px!important;
}

.page-template-page-portada-miembros #mainPost p{margin-bottom:20px}
.page-template-page-portada-miembros  p.SubTMenu {
    display: block; padding: 100px 0 1em 0;
    border-top:1px solid #858f9b;
    font-size: 15px;
    color: #7D8895;
    text-transform: uppercase;
  text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 1.3em;
    font-weight: 700;
}
.page-template-page-portada-miembros .NotasPieSingle{text-align: center;}
.page-template-page-portada-miembros .wp-block-buttons{text-align: center;}


.eventosRed .eventoList{display: grid; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd;}
.eventosRed .eventoList:last-child{border-bottom: 0;}

.eventosRed .eventoList .THeventoList{ grid-area: THeventoList;}
.eventosRed .eventoList .TiteventoList {grid-area: TiteventoList;}
 .eventosRed .eventoList .eventoHora {grid-area: eventoHora;}
 .eventosRed .eventoList .BoxEventosDivHover { grid-area: BoxEventosDivHover;}
.eventosRed .eventoList {
        
    column-gap: 16px;
    grid-template-columns: 228px  auto;
  
    grid-template-areas: 
      "THeventoList   TiteventoList"
      "THeventoList eventoHora"
      "THeventoList BoxEventosDivHover"
  }

.ComunicateWSP{ position: fixed; bottom: 10px; right: 10px; }
.ComunicateWSP .fa-whatsapp{font-size: 60px; display: block;color:#0ec44f;}
.ComunicateWSP .txt-whatsapp{font-size: 14px; display: block; text-align: center; padding: 5px;}

.TiteventoList{font-size: 20px; display: block; padding: 0 0 1em 0;}
.eventoHora strong{text-transform: capitalize;}
.eventoHora em{font-style: normal;}
.eventoHora ,.eventosRed{margin-bottom: 1em;}
.prioridadesEd{padding-bottom: 40px;}
.bajadaCorresponsables {padding-bottom: 40px!important}
.tribe-events-calendar-latest-past__event-details .tribe-events-cal-links{display: none!important;}


@media screen and (max-width: 800px){
    
    .ComunicateWSP {bottom:70px;}
    .page-template-page-portada-miembros #primary h2, .bajadaCorresponsables {margin-bottom: 20px!important}
    .page-template-page-portada-miembros #mainPost{padding: 0 20px;}
    .page-template-page-portada-miembros .smooth li{flex-basis: 100%; margin:0 0 10px 0}
    .page-template-page-portada-miembros .smooth li a{display: flex!important; justify-content: space-between; align-items: center;}
    .page-template-page-portada-miembros .smooth li a::before{order: 1; height: 45px; margin: 0;}
    .BajadaMiembros-Co {        padding: 0 0 40px;    }
    .page-template-page-portada-miembros .site-content .wp-block-spacer:before {height: 30px;width: 80px;}
    .page-template-page-portada-miembros .site-content .wp-block-spacer{height: 15px!important; }
    .page-template-page-portada-miembros #primary h2 {font-size: 30px;}
 

    .eventosRed .eventoList, .notaParticipacionBox, .NuestrasTematicasBox { display: grid; flex-basis: 100%;   margin-bottom: 30px; }
   

    .eventosRed .eventoList {
        
        column-gap: 20px;
        grid-template-columns: 30%  auto;
      
      }
      .TiteventoList {        padding: 0 0 1em 0;    }
      .guiaVacunasBox > .wp-block-group__inner-container, .NuestrasTematicasBox{ column-gap: 20px;        grid-template-columns: 30%  auto;}
      
       .notaParticipacionBox .AutorCoautor, .notaTematicas_info .AutorCoautor {flex-direction: column;}
       .notaParticipacionBox .AutorCoautor .posted-on, .notaTematicas_info .AutorCoautor .posted-on {padding-left: 0;}
       .notas_participacionBox_info, .notaTematicas_info, .guiaVacunasBox .wp-block-group__inner-container .guiaVacunasBoxInfo{ margin-left: 0px; }
       .notaParticipacionBox{  column-gap: 20px;
        grid-template-columns: 30%  auto;}

        .page-template-page-portada-miembros .NotasPieSingle >div{padding-bottom: 20px;}


}
    