  body.page-template-page-portada-v3{background-color: #fff!important;}

.page-template-page-portada-v3 .site-content{
    padding: 35px 1% !important;
    max-width: 1280px;
    margin: 0 auto;
}
.BannerFullBlockHome {
    padding: 0px 1% ;
    max-width: 1280px;
    margin: 0 auto;
}

.ContentHome3Column{
 display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.SideBarHome3c{flex-basis: 19.5%;}
.CentralColHome3c{flex-basis: 56.2%;}
.CentralColHome2c{flex-basis: 75.7%;}
 .CentralColHome3c.Primary3C{background-color: #fff;}


.Primary3C{display: flex;flex-flow: row wrap;justify-content: space-between; align-content:flex-start;
} 
.MainNote3c{flex-basis: 47.3%;
}
.MainNote3c:first-child{flex-basis: 100%;
}

.ContentVideo p, .VideoTH p, .MultimediaFeedVideo p, .ArchivePost_thumbnail.VideoThumbnaill p{display: none}
.ContentVideo p:first-child, .VideoTH p:first-child, .MultimediaFeedVideo p:first-child, .ArchivePost_thumbnail.VideoThumbnail p:first-child{display: initial;}

/*SideBoxNewsletter*/
.SideBoxNewsletter{margin-top: 20px;}
.SideBoxLastNews{display:flex; justify-content: space-between;}
.SideBoxLastNews .NewsIcon{flex-basis: 50px; margin-right: 16px;}
.SideBoxLastNews .NewsIcon img{width: 50px; }
.NewsTittle{flex-shrink: 2;}
.NewsTittle h2{padding-bottom: 2px;}
h2.SideBar-title{flex-basis: auto;}

/*Main 3 col*/
h2.Main3c-title a, h2.SideBar-title a,.GpsBox p, h2.Main3c-titleColiz a, h2.Main3c-titleFeed a{font-family: 'Sanomat',sans-serif !important;
line-height: 1.3;font-weight: 400;  
font-size: 20px;
margin: 0;
color: #2A2A2A !important;
text-decoration: none;
padding: 0;}
h2.Main3c-titleFeed {padding: 10px 0 0 0 ;}
h2.Main3c-title a{font-size: 22px;}
h2.Main3c-titleColiz {line-height: 1em;}
h2.Main3c-titleColiz a{line-height: 1em; font-size: 18px!important;}

 h2.SideBar-title a,.GpsBox p{font-family: 'Sanomat',sans-serif !important; 
font-size: 16px;
line-height: 1;
}
/*sideBar*/
.SideBoxNewsletterCatName{text-transform: uppercase;font-size: 12px; font-weight: 600; }
h2.SideBar-title{line-height:1em;display: block;padding-bottom: 7px;}

.RightSideBar h2{padding-top: 7px;}
.SidebarExclusivoMiembros .SideBoxPost h2{padding-top: 0px;}
a.SideBoxNewsletterMore{color: #5c9af6; font-size: 12px; text-decoration: none;}
 .SidebarExclusivoMiembros a.SideBoxNewsletterMore{display: block;margin-top: 30px;}
.NewsBoxPortada a.SideBoxNewsletterMore{ display: block;}
.SideBoxPost{margin-top:16px; padding-top: 12px; border-top:1px solid #E0E0E0;}
.SidebarExclusivoMiembros .SideBoxPost {margin-top:0; padding-top: 25px; border:0;}
.SideBoxPost .byline, .CentralColHome3c .byline, .Top10News .byline, .NewsBoxPortada .byline,.span-reading-time,.AutorTiempo, .MultimediaVideo .byline{padding-left: 0;  font-size: 14px;font-weight: 200;}
.SideBoxPost h2{padding-bottom:  14px;}
.MainNote3c .AutorTiempo, .LefSideBar .SideBoxPost .AutorTiempo,.Top10News .AutorTiempo{display: flex; align-items: center;flex-wrap: wrap;}
.Top10News .AutorTiempo{flex-wrap: wrap;}
.MainNote3c .AutorTiempo{display: flex; align-items: center;justify-content: center;justify-content: flex-start;}
.MainNote3c:first-child .AutorTiempo{justify-content: center;}
.MainNote3c .AutorTiempo .byline, .LefSideBar .SideBoxPost .AutorTiempo .byline, .Top10News .AutorTiempo .byline{padding-top: 0;}
 .MainNote3c .AutorTiempo .Tlectura, .LefSideBar .SideBoxPost .AutorTiempo .Tlectura, .Top10News .AutorTiempo.Tlectura{padding-left: 5px}
 
 .BannerAside{padding-bottom: 30px;}

 /*SIDE BAR DERECHA NOTAS MIEMBROS*/
 .SidebarExclusivoMiembros, .logged-in .SideBarHome3c.RightSideBar .SidebarExclusivoMiembros .Tlectura,


.logged-in .LoginMiembros,  .logged-in .periodismoHumanoLoggedOut,.periodismoHumanoLoggedIn, .SideBarHome3c.RightSideBar .SidebarExclusivoMiembros{display: none;}
.page-template-page-cuenta .LoginMiembros,.page-template-page-cuenta .LoginMiembros, .LoginMiembros, .logged-in .periodismoHumanoLoggedIn, .logged-in .SideBarHome3c.RightSideBar .SidebarExclusivoMiembros {display: block;}



/*Main Notes*/
.MainNote3c:first-child img{border-radius: 5px 5px 0 0 ;}
.MainNote3c:first-child {text-align: center;padding-bottom: 28px;margin-bottom: 30px;border-bottom: 1px solid #E0E0E0;}
.MainNote3c:first-child h2{padding: 5px 0 14px 0;margin-top: 0;background-color: #fff;}
.MainNote3c:first-child h2 a,h2.Main3c-titleFeed a{font-size: 31px;line-height: 38px; font-weight: 400;}
h2.Main3c-title{line-height: 1em;}
.MainNote3c p.caption, .CentralColHome3c p.caption{ padding: 0 0 0 0;}
.MainNote3c:nth-child(2) h2, .MainNote3c:nth-child(3) h2{margin:5px 0 14px 0;font-size: 20px;}
.MainNote3c:nth-child(2) p iframe, .MainNote3c:nth-child(3) p iframe{width:100%; height: 180.5px}
.MainNote3c:nth-child(2) p, .MainNote3c:nth-child(3) p{margin-bottom: 0; }
.VideoTH p{line-height: 0}
.VideoTH {margin-bottom: 19px; background-size: contain!important;}


.CentralColHome3c .author-box .left {align-items: flex-start; }
.author-box .left .byline{padding-left: 10px;padding-top: 2px; display: block;}
.author-box .left .posted-on{padding-left: 10px;padding-top: 2px; display: block; text-transform: none!important;font-weight: 200;}

/*Right Bar*/
.SizeBarHomeRedes ul{display: flex; justify-content:flex-end; list-style: none;margin-bottom: 25px;font-weight: 200;}
.SizeBarHomeRedes ul li a{color:#6A6A6A; font-size: 16px;}
.SizeBarHomeRedes ul li {padding: 0 10px; }
.SizeBarHomeRedes ul li:last-child {padding-right: 4px; }

/*periodismo humano*/
.periodismoHumano h2{
    font-family: 'Source Sans Pro', sans-serif;font-size: 18px;
font-weight: 600;/*background-size: 60px 50px;*/
color: #161616;padding-bottom: 7px;
background: url(/wp-content/uploads/2020/04/redaccion_institucional_logo_miembros_reduccion.png)0 3px no-repeat;
background-size: 30px; text-indent: 35px;
}
.periodismoHumano h2 a{text-decoration: none; display: block; color: #161616;}
.periodismoHumano h2 a:hover{    color: #ff6a5f;}
.periodismoHumano {  font-family: 'Source Sans Pro', san-serif; font-size: 16px;line-height: 23px; color: #767676; font-weight: 400; padding-bottom: 5px;}
.eventClose{color:#FF6A5F; font-size: 14px;font-family: 'Source Sans Pro', san-serif;}
.entry-content.eventClose{text-align: center;}

/*login*/
.LoginMiembros{background-color:#F7F5F5; border-radius:5px; border:1px solid #E0E0E0;padding: 20px; margin-top: 45px;}
.LoginMiembros h2{font-family: 'Source Sans Pro', sans-serif; color:#161616;line-height: 1.1em; font-size: 22px; font-weight: 600; padding-top: 40px; background:url(/wp-content/uploads/2019/png/RAmiembros.png) 0 0 no-repeat; }
.mepr-already-logged-in{display: block;}

.mepr_username input,.mepr_userpass input, input#user_login, input#user_pass, .mepr-form input{background-color:#F7F5F5; height: 36px; line-height: 36px; font-size: 12px; border-color: #E0E0E0!important; border-radius: 5px!important; }
.single .mepr_username input,.single .mepr_userpass input.single , input#user_login,.single input#user_pass{background-color:#FAFAFA;}
.mp-form-label label, .mepr-form #rememberme, .mepr-form div:nth-child(3), .mepr-login-actions a{font-size: 12px; line-height: 14px;color:#797979;}
.mepr-login-actions{margin-bottom: 10px;}
input#rememberme{height: 14px; }
.mepr-form div:nth-child(3){text-align: right;}
.mepr-already-logged-in{display: flex; flex-direction: column; padding: 0;font-size: 12px;}
input.mepr-share-button, .mepr-already-logged-in a,  .wpforms-form button[type="submit"]:hover, .wpforms-form button, .NewsButtomSidebar{

    background-color: #161616!important;
    border-radius: 4px!important;
    color: #fff!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
    border-color: #161616!important;
    font-size: 14px!important;
    height: 36px!important;
    padding: 0 20px!important;
letter-spacing: 1px!important;
}

a.BTBlacKAction, nav.BTBlacKAction a{margin: 5px auto 0 auto; background-color: #1790e9;
    border-radius: 4px!important;display: inline-block;text-decoration: none!important;
    color: #fff!important;
    text-transform: uppercase!important;
    font-weight: 500!important;font-size: 14px!important;
    height: 31px!important;line-height: 31px;
    padding: 0 17px!important;
letter-spacing: 1px!important; margin-bottom: 50px;}
nav.BTBlacKAction{text-align: center;}

.mepr-already-logged-in a { display: inline; color: #fff!important;line-height: 36px!important; padding: 0;text-decoration: none!important; margin: 10px auto;width: 150px;}

.mp_wrapper .mp-form-row {margin-bottom: 15px!important;}
.mepr-form .submit, .mepr-login-actions{text-align: center;}
.single .mepr-form .submit, .mepr-login-actions{text-align: left;}
.mp-form-label{text-align: left;}
.mp-spacer{height: 10px;}
.single .mp-spacer{height: 0px!important;}
.ActivaMembForm, .mepr-already-logged-in{text-align: center; color: #797979;}
.ActivaMembForm p{margin-bottom: 0;}
.ActivaMembForm a, .mepr-already-logged-in a{color: #161616;}

/*modulo 100%*/
.FullBlockHome{display: block; width:100%; height:330px; background-color: #FEF5DF;margin: 0px 0;text-align: center;}

.home .FullBlockHome{margin-top:0 0 40px 0;}
.BannerFullBlockHome{ display: flex;justify-content: space-around;}
.BannerContent{flex-basis: 40%; text-align: left;color:#333}
.BannerContent h2{font-size: 31px;padding-top: 47px; line-height: 38px; font-family: 'Sanomat',sans-serif ;padding-right: 20px;}
.BannerContent p{font-family: 'Merriweather', serif!important; color: #161616; font-size: 16px; line-height: 26px; font-weight: 300;}
.BannerContentTh {padding-top: 30px;}
.BannerContentTh img{max-height: 280px;}
.BannerContent p a,  a.Col3YelowBT, .category-redaccion-abierta .archive-description a{display: inline-block;
    line-height: 32px;font-family: 'Source Sans Pro', sans-serif;font-weight: 500;text-transform: uppercase;cursor:pointer;
    border:2px solid #191919;
    color: #191919; text-decoration: none;
    background-color: transparent;
   font-weight: 700; text-transform: uppercase;font-size: 14px; letter-spacing: 1px; margin: 12px 0; border-radius: 4px;text-align: center; padding: 0 24px;
    -webkit-transition: background-color 0s; /* Safari */transition: background-color 0s;
    -webkit-transition: color 0.1s; /* Safari */transition: color 0s;
}
.BannerContent p a:hover, a.Col3YelowBT:hover, .category-redaccion-abierta .archive-description a:hover{background-color: #191919; color: #fff;}
.category-redaccion-abierta .archive-description a{display: inline-block; clear: both;}

.SideBarBorder{border-top: 1px solid #E0E0E0;display: block;color: #161616;font-weight: 600;font-size: 20px;line-height: 35px;padding-bottom: 12px;margin-top: 40px;}
.SideBarBorder::first-letter {text-transform: uppercase;}
.SideBarHome3c .SideBarBorderFirst{margin-top: 0px;}

/*noticias destacadas*/
.widget_neliofp_widget ul{display: flex; flex-direction: column;}
.widget_neliofp_widget ul li{background-color: transparent; border: 0; border-radius: 0;}

.Top10News ul { counter-reset: li;}
.Top10News ul li:before  {
content: "0"counter(li);
color: #E0E0E0;
display: inline-block;
width: 33px; flex-basis: 33px;padding-right: 10px;
font-size: 23px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
line-height: 29px;
margin-top:-5px;
}

.Top10News ul li{counter-increment: li;}
.Top10News ul li {display: inline-flex; margin-bottom: 20px;}
.Top10News li .entry-title, .SideBarSmallTitle {font-size: 16px;font-family: 'Sanomat',sans-serif !important;padding: 0; font-weight: 500;}
.Top10News li .entry-title a, .SideBarSmallTitle a{color:#161616;text-decoration: none;}



/*videos*/
.SideBarHome3c .MultimediaFeed{display: block;}
.SideBarHome3c .MultimediaFeedVideo {width:100%; margin-right: 0;}
.SideBarHome3c .MultimediaFeedVideo p{margin-bottom: 0}
.SideBarHome3c .MultimediaFeedVideo iframe.IframeVideoUT {    width: 100%;    height: 131px;}
.SideBarHome3c .MultimediaFeedVideo .Tlectura{display: none;}
.SideBarHome3c .SideBarSmallTitle { line-height: 1.4em;padding-top: 0;display: block;padding-bottom: 8px;}
.SideBarHome3c .FeedDate{  text-align: left;
    color: #797979;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.2px;
   }
.MultimediaVideo .AutorTiempo .Tlectura{display: none;}
/*fecha*/
.site-date-V3  {
    text-align: left;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.2px;
   margin-bottom: 20px;
    padding:  0;
}
.pxDate{background: url(/wp-content/uploads/2019/png/px-date.gif) 0 30px repeat-x;}


/*NOTICIAS DETACADAS*/
.widget_neliofp_widget article.includes-feat-image .entry-title {padding: 0!important;}

/*newsletter*/
.SideBarHome3c .NewsLetterPageBox .GpsBox{background-color: transparent;}
.SideBarHome3c .GPSEmailFieldBoxSidebar, .NewsLetterPageBox li .GpsBox p {     padding: 0;}
.NewsLetterPageBox li .GpsBox p { padding: 0!important;text-align: left;}
.SideBarHome3c .GPSEmailFieldBoxSidebar input {
    border: 1px solid #E0E0E0;
   padding: 0 12px;
    border-radius: 5px;
    font-size: 12px;
    color: #797979;
    line-height: 36px;
    background-color: transparent!important;
    letter-spacing: 1px; font-weight: 500;
}
.NewsButtomBoxSidebar .NewsButtomSidebar,.encuentrosPortada p:nth-child(5) a {cursor:pointer;
    height: 36px !important;
    width: 100% !important;
    color: #fff;
    background-color: #161616 ;border: 2px solid #191919;
   font-weight: 700; text-transform: uppercase;font-size: 14px; letter-spacing: 0.5px; margin: 12px 0; border-radius: 5px;text-align: center;
 -webkit-transition: background-color 1s; /* Safari */transition: background-color 1s;
    -webkit-transition: color 0.2s; /* Safari */transition: color 0.2s;
}
#infinite-handle span{padding: 0!important; background: transparent!important;}
#infinite-handle span button{ border: 0!important;
    padding: 0 20px!important;
    cursor:pointer;
    height: 36px !important;
    color: #fff!important;
    background-color: #161616!important ;
   font-weight: 700!important; text-transform: uppercase;font-size: 14px!important; letter-spacing: 0.5px!important; margin: 12px 0!important; border-radius: 5px!important;text-align: center;
 -webkit-transition: background-color 1s; /* Safari */transition: background-color 1s;
    -webkit-transition: color 0.2s; /* Safari */transition: color 0.2s;
}
#infinite-handle span button:hover{background-color: #797979!important;}

.NewsButtomBoxSidebar .NewsButtomSidebar{padding: 0!important;}
input.NewsButtomBoxSidebar , .NewsButtomBoxSidebar .NewsButtomSidebar:hover{border: 0!important;}

.NewsButtomBoxSidebar .NewsButtomSidebar:hover,.encuentrosPortada p:nth-child(5) a:hover, a.BeaMember:hover, a.BTBlacKAction:hover nav.BTBlacKAction a:hover{background-color: #797979; }
.encuentrosPortada p:nth-child(5) a{display: block;}

.SideBoxMoreCenter{}
.SideBarHome3c #mce-responses div.response {    margin-top: 0!important;}
.NewsBoxPortada .byline{padding-bottom: 12px;padding-left: 0;}
/*encuentros*/

.SideBarHome3c .EncuentroDate {
    background: url(/wp-content/uploads/2018/png/ic_date.png)0 3px no-repeat;
    display: block;
    padding-left: 24px;
    font-size: 12px;
    color: #9D9D9D;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 10px;;
}
.encuentrosPortada p:nth-child(4){display: none;}
.encuentrosPortada p:nth-child(5) a{color:#fff;text-decoration: none; line-height: 32px;}

/*NOTAS*/
.CentralColHome3c article{border-left:0; border-top:0; border-right:0;border-bottom: 1px solid #ddd;padding-bottom: 30px; margin-bottom: 30px;}
.CentralColHome3c article {text-align: left;}
.CentralColHome3c article h2.entry-title, .CentralColHome3c .entry-meta, .CentralColHome3c .entry-content{padding: 0;}
.CentralColHome3c .entry-meta{margin: 0;}
.CentralColHome3c h2.entry-title a{font-family: 'Sanomat',serif !important;line-height: 40px;font-size: 31px; margin: 25px 0 10px 0; font-weight: 400;}
.CentralColHome3c .bajadaNota{ font-weight: 400;font-family: 'Source Sans Pro', sans-serif; color:#797979;font-size: 18px; line-height: 25px;padding-bottom: 15px;}
.CentralColHome3c .category{display: inline-block; border: 1px solid #797979; border-radius: 4px; padding: 0 10px;margin-top: 10px; line-height:20px!important;}
.CentralColHome3c .category a{color:#797979;font-size: 11px;text-decoration: none;letter-spacing: 0.5px; line-height:20px!important;}
 .CentralColHome3c p.caption {padding: 0; font-size:11px;    margin-top: -5px;}
 .CentralColHome3c .posted-on {    font-weight: 200;}
 .CentralColHome3c article p{margin-bottom: 0!important;}
.categoriaCaption{display: flex; justify-content: space-between;align-items: flex-start;}
/*LOGIN - CUENTA*/
.page-template-page-cuenta .site-main, .page-template-page-login .site-main{display: flex;justify-content: center;}
.page-template-page-cuenta .LoginMiembros, .page-template-page-login .LoginMiembros{
    background-color: #fff;
    border-radius: 0px;
    border: 0px;
    padding: 20px; max-width: 818px; width: 100%;
    margin: 0 0 45px 0;
    min-height: 500px;
}
.page-template-page-login .LoginMiembros{max-width: 418px;}
.page-template-page-cuenta .site-content-full,.page-template-page-login .site-content-full {
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.page-template-page-cuenta .LoginMiembros h2, .page-template-page-login .LoginMiembros h2 {font-family: 'Sanomat',serif !important;
    color: #161616;
    line-height: 1.5em;
    font-size: 30px;
    font-weight: 600;
    padding: 40px 0 20px 0;
    background: none;
}
.page-template-page-cuenta .submit, .page-template-page-login .submit{margin: 40px 0;}
.page-template-page-cuenta  .loginDisclaimer{margin-top:200px; font-family: 'Source Sans Pro', sans-serif; color:#676767;font-size: 12px; line-height: 16px;padding-bottom: 15px;}
.page-template-page-cuenta  .loginDisclaimer a{color:#676767;text-decoration: underline;}

.page-template-page-cuenta.logged-in .loginDisclaimer, .page-template-page-cuenta.logged-in .ActivaMembForm, .page-template-page-cuenta .mepr-unauthorized-excerpt{display: none;}
 .page-template-page-cuenta .LogWrapper .mp_wrapper.mp_login_form{display: initial;}



/* Hides navigation links and site footer when infinite scroll is active */
.navigation.posts-navigation, #infinite-footer {
 display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
 display: block;
}

.ProponeTema{background-color: #FEF5DF;border:0px solid #E0E0E0;border-radius: 5px;text-align: center; padding: 5px 20px 10px 20px;display: flex;
flex-direction: column;justify-content: center;}
.ProponeTema img{max-width: 73px; height: auto;margin: 0 auto}
.ProponeTema {font-family: 'Source Sans Pro', sans-serif; color:#161616;font-size: 14px; line-height: 26px;padding-bottom: 15px;font-weight: 600;color:#161616;text-decoration: none;}
.ProponeTema  small{display: block; font-weight: 400!important; font-size:15px!important; line-height: 28px!important;}

.SidebarExclusivoMiembros{margin: 5px 0;padding: 16px 0 ;}

.ProducAbTTl{margin-top:30px; padding-top: 4px; border-top:1px solid #E0E0E0;display: block;font-size: 20px;line-height: 20px; font-weight: 600; color:#161616;}
.logged-in .MiembrosLoggedIn, .page-template-page-mono .Mono-description a{display: none;}
.CargaNotasHolder{text-align: center;}
.CargaNotasHolder #CargaNotas{margin: 0 auto;}
.page-template-page-mono.logged-in .btColaborar, .monoPageItemMenu{display: none;}
.logged-in .Mono-description a, .page-template-page-mono .btColaborar, .logged-in .monoPageItemMenu{display: initial;}

.campaniaSomosResponsables{padding: 20px 0 0 0;}
.logged-in .campaniaSomosResponsables{padding: 20px 0;}

/*////MEDIA QUERIES/////*/

@media (min-width: 769px) and (max-width: 1025px){
.page-template-page-portada-v3 .site-content, .BannerFullBlockHome{

    max-width: 1024%
}
.BannerFullBlockHome {padding: 0px 40px ;}
.BannerContent {flex-basis: 70%;}




}
/*colaboraciones*/
.page-id-92841 #masthead{display: none;}
.PagosHeader{text-align: center;padding-top: 20px;}
.PagosHeader .PFTittlePagos{text-align: center!important;}
.PagosHeader p em{color:#7d8895; max-width: 600px; display: block;margin: auto;}
.PagosHeaderSep {display:block; width: 45px; margin: 20px auto 0 auto; padding-bottom: 35px;border-top:1px solid #d0d4da; }
.BloquePagos{text-align: left;}
.BloquePagos .Bt_pagos a{color:#1790e9; border:1px solid #1790e9; border-radius: 5px;text-transform: uppercase;line-height: 35px; font-weight: 600;text-decoration: none; display: block;text-align: center;}
.BloquePagos .Bt_pagos a:hover{background-color:#1790e9; color:#fff!important}
.BloquePagos  a{color:#1790e9}
.BloquePagos .wp-block-group__inner-container{
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
}
.BloquePagos.Paso1, .BloquePagos.Paso2{border-bottom: 2px solid#fff;}
.BloquePagos.Paso1 p strong, .BloquePagos.Paso2.BloquePagosActivo p strong{  display: block;  border-bottom: 1px solid #333;    line-height: 40px;}
.BloquePagos.Paso2{background-color: #f9f9f9}
.BloquePagos.Paso1, .BloquePagos.Paso2.BloquePagosActivo{background-color: #f2f2f2;}
ul.BeneficiosCo-responsables{padding:0 0 4px 15px;}
 ul.BeneficiosCo-responsables li{padding-bottom:4px; list-style-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8894;%7D%0A%3C/style%3E%3Cpath class='st0' d='M173.9,439.4L7.5,273c-10-10-10-26.2,0-36.2l36.2-36.2c10-10,26.2-10,36.2,0L192,312.7L432.1,72.6 c10-10,26.2-10,36.2,0l36.2,36.2c10,10,10,26.2,0,36.2L210.1,439.4C200.1,449.4,183.9,449.4,173.9,439.4L173.9,439.4z'/%3E%3C/svg%3E%0A");}
.BloquesPagoLibro figure{margin: 0;}
.BloquesPagoLibroCol {margin-left:0!important}

/*MOBILE*/

@media screen and (max-width: 768px){

    .campaniaSomosResponsables, .logged-in .campaniaSomosResponsables{padding: 20px 0; text-align: center;}
    .campaniaSomosResponsables a, .logged-in .campaniaSomosResponsables a{margin: 0 auto;}

    .page-template-page-portada-v3 .site-content{
        padding: 0 20px 0px 20px!important;
        max-width: 100%
    }
.FirstScroll .LefSideBar, .FirstScroll .RightSideBar, .single .SecondScroll  .LefSideBar, .single .SecondScroll .RightSideBar {order: 2; display: none;}

.logged-in .FirstScroll .RightSideBar{order: 2; display: initial;}
.logged-in .FullBlockHome{order: 2; display: none;}

.FirstScroll .Primary3C{order: 1;}
/*PRIMER SCROL*/
.MainNote3c:first-child {margin: 0 -20px; border-bottom: 0;}
.MainNote3c:first-child h2 {margin-left: 20px; margin-right: 20px;    text-align: center;}
.MainNote3c:first-child h2 a, h2.Main3c-titleFeed a { font-size: 25px;line-height: 30px;}
.MainNote3c:nth-child(2), .MainNote3c:last-child {display: flex; border-top: 1px solid #E0E0E0;padding-top: 10px;margin-bottom: 15px;}
.MainNote3c .THmobilePortada, .MainNote3c:nth-child(2) p, .MainNote3c:nth-child(3) p, .VideoTH  {width:86px;height:48px;margin-right: 20px;display: block;}
.VideoTH p:nth-child(n+1)   {display: none;};
.MainNote3c:nth-child(2) a img, .MainNote3c:last-child a img{width:86px;height:48px;}
.MainNote3c:first-child .THmobilePortada{width:100%;height:auto;}
.MainNote3c:nth-child(2) p.caption, .MainNote3c:nth-child(3) p.caption, .MainNote3c:nth-child(3) p iframe{display: none;}
 h2.Main3c-title a {font-size: 20px;}
.MainNote3c:nth-child(2) p iframe, .MainNote3c:nth-child(3) p iframe{display: none;}
.MainNoteMobileFlex{flex-shrink: 10;}
.MainNote3c:nth-child(2) h2, .MainNote3c:nth-child(3) h2{margin:0 0 20px 0;font-size: 20px;}
.FirstScroll .CentralColHome3c.Primary3C .MainNote3c p.caption{ padding: 0 10px 0 0;}

/*BANNER CENTRO*/
.BannerFullBlockHome {flex-direction: column;
    padding: 30px 20px ;
    max-width: 100%;
}


.BannerContent{order:2;z-index: 2; text-align: center;}
.FullBlockHome {height:auto; }
.BannerContentTh{order:1;z-index: 1; text-align: center;}
.BannerContentTh {    padding-top: 0px;}
.BannerContentTh img {max-height: 150px;}
.BannerContent h2 {font-size: 26px; text-align: center;line-height: 30px;font-family: 'Sanomat-bold',sans-serif;padding-right: 0;}
.BannerContent h2.SideBar-title{padding: 20px 5px 10px 5px!important;}
.BannerContent p {
font-family: 'Merriweather', serif;
    font-size: 14px; line-height: 24px;
    padding-top: 10px;
    line-height: 24px;
    font-weight: 200;

}

/*SEGUNDO SCROLL*/
.SecondScroll .LefSideBar,.SecondScroll .RightSideBar{display: none;}
.ContentHome3Column, .Primary3C{flex-direction: column!important;-webkit-flex-direction: column!important;}
 .Primary3C{-webkit-flex-flow: row wrap;}
.SideBarHome3c, .CentralColHome3c, .Primary3C{flex-basis: 100%; -webkit-flex-basis: 100%;}
.MainNote3c{flex-basis:100%;-webkit-flex-basis: 100%;}
.CentralColHome3c h2.entry-title a {    line-height: 34px;}
.CentralColHome3c .bajadaNota {   padding-bottom: 5px; line-height: 25px;}
.CentralColHome3c article {    border-bottom: 1px solid #ddd; padding-bottom: 10px; margin: 0 0 15px 0; }
.SideBarBox{border-top:5px solid #161616; border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;  border-bottom:1px solid #E0E0E0; border-radius:5px;margin-bottom:20px;}
.SideBarBorder{border:0; padding: 0 20px; line-height:42px;margin-top: 0; }
.MultimediaFeedVideo {   padding-top: 0px;}
.CentralColHome3c .bajadaNota {font-size: 16px; line-height: 24px;}
.SideBarHome3c .SideBarSmallTitle, .SideBarHome3c .FeedDate {   padding: 0 20px 18px 20px;}
.rightSideBar h2,h2.SideBar-title, .NewsBoxPortada .byline, .NewsBoxPortada .SideBoxNewsletterMore, .SideBoxMoreCenter, .encuentrosPortada p:nth-child(5) {   padding: 0 20px;}
.SidebarNewsInputBox .SideBoxMoreCenter{   padding: 20px 0 0 0 !important;}
.SidebarNewsInputBox .SideBoxMoreCenter a.SideBoxNewsletterMore {   padding: 0 !important;}
.NewsBoxPortada .byline{padding: 15px 20px; display: block;}
.NewsBoxPortada .SideBarBorder, .MailTopBox{background-image: none;}
.SidebarNewsInputBox{background-color: #F9F9F9; padding: 0 20px 20px 20px;}

.RightSideBar .NewsLetterPageBox .GpsBox {    padding-top: 20px;}
.RightSideBar .EncuentroDate{margin: 0 20px 10px 20px;}
.SidebarNewsInputBox .GPSenviarBoxSidebar{display: flex; justify-content: flex-start;}
.NewsButtomBoxSidebar .NewsButtomSidebar{margin: 0; border-radius: 0 5px 5px 0!important;}
.SidebarNewsInputBox .GPSEmailFieldBoxSidebar{flex-basis:70%; }
.SideBarHome3c .GPSEmailFieldBoxSidebar input {border-radius: 5px 0 0 5px;}
.SideBarHome3c .GPSEmailFieldBoxSidebar input{line-height: 34px;}
.SidebarNewsInputBox .NewsButtomBoxSidebar{flex-basis:30%;}

/*border de las news*/
.RightSideBar .SideBarBox.futuro{border-top:5px solid #9b53a5;}
.RightSideBar .SideBarBox.chillax{border-top:5px solid #fe8228;}
.RightSideBar .SideBarBox.gps{border-top:5px solid #f5cb5b;}
.RightSideBar .SideBarBox.gpsPM{border-top:5px solid #5c9bf8;}
.RightSideBar .SideBarBox.oxigeno{border-top:5px solid #a4ded2;}
.RightSideBar .SideBarBox.gpsPM{border-top:5px solid #5c9bf8;}
.RightSideBar .SideBarBox.siete-parrafos-newsletter{border-top:5px solid #c45381;}
.RightSideBar .SideBarBox.sustentabilidad{border-top:5px solid #8FB981;}

.MultimediaVideo .SideBarSmallTitle, .MultimediaVideo .AutorTiempo{padding: 0 20px!important;}
.MultimediaFeedVideo p{margin-bottom: 0!important}

.single .ContentHome3Column.SecondScroll{padding: 0 20px;}

.page-template-page-cuenta .LoginMiembros, .page-template-page-login .LoginMiembros  {    margin: 0;min-height: 100px;}
.page-template-page-cuenta .loginDisclaimer {    margin-top: 30px;    padding-bottom: 15px;}
.CargaNotasHolder, nav.BTBlacKAction{padding-bottom: 20px;}
.PagosHeader{text-align: center;padding: 10px 20px;}
.PagosHeaderSep {margin: 10px auto 0 auto; padding-bottom: 20px;}


}



 @media screen and (max-width: 700px){
    .BloquePagos, .PagosHeader .PFTittlePagos{padding-left:20px ; padding-right: 20px;}
/*****IPHONE 5******/

@media screen and (max-width: 360px){

.BannerContent h2 {font-size: 22px;line-height: 27px;}
.BannerContent p {   line-height: 22px;   padding-top: 0;}
.BannerContent p a {margin-bottom: 0;}
}



/*para borrar*/


.PortadaEncuentros{display: none;}



/*extras*/
#Note54984 .Tlectura{display: none;}

 }