.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  main {
    margin: 0;
    background-color: transparent; 
    min-height: 100%;
    padding-bottom: 0;
}

/*ESTRUCTURA PORTADA 21*/
.page-template-page-portada-21, .page-template-page-portada-21 a, .page-template-page-portada-21 p, .page-template-page-portada-21 h2{font-family: 'Roboto Slab', serif;}
.page-template-page-portada-21 h2.TitPortadaSegunda, .page-template-page-portada-21 h2.TitPortadaSegunda a, .page-template-page-portada-21 h2.TitPortada, .page-template-page-portada-21 h2.TitPortada a {
    font-family: 'Sanomat', serif!important;
    font-size: 27px; letter-spacing: 0.5px;
    margin: 0;
    color: #2A2A2A !important;
    text-decoration: none; font-weight: 500;
    display: block; text-align: center;
}
.PortadaFWCol1.PortadaFW h2.TitPortada{padding-left: 20px;padding-right: 20px;}
.PortadaFWCol2NOTA1.PortadaFW .ImgApertura {display: block!important; line-height: 0!important;}
.ImgApertura{display: block!important; line-height: 0!important;}
.page-template-page-portada-21 a{color: #2A2A2A ;}
.FooterAddress a{color: #fff;}
.page-template-page-portada-21 h2.TitPortadaSegunda,.page-template-page-portada-21 h2.TitPortadaSegunda a{font-size: 21px;}
.PortadaFirstWrapper .PortadaFWCol1,.PortadaFirstWrapper .PortadaFWCol2{text-align: center;}
.PortadaFirstWrapper .PortadaFWCol1{display: flex;flex-direction: column;}
.page-template-page-portada-21 .category{font-weight: 400; text-transform: uppercase; display: inline-block; padding: 0 4px; border-bottom: 1px solid #000; margin: 10px auto 15px auto; line-height: 21px; font-size: 13px;}
.Autor21{display: block; margin: 12px auto; text-align:center;}
.Autor21, .Autor21 a{ font-size: 12px;font-family: 'Merriweather', serif; font-weight: 300;}
.Autor21 em{font-size: 10px!important;font-weight: 400;}
.PortadaFirstWrapper .PortadaFWCol1 .Autor21{margin-top: auto;}
.CTAarrow{width:24px; background-color:#ff6a5f; display: block; height: 24px;border-radius: 50%; margin: 0 auto; }
.CTAarrow span{display: block; height: 24px; text-align: center; line-height: 24px;color:#fff}
.PortadaFWCol2NOTA1.PortadaFW{padding-bottom: 23px;}
.PortadaFirstWrapper .PortadaFWCol3{background-color: #f2f2f2; padding: 30px;}

@media screen and (min-width: 1530px){.PortadaFirstWrapper{ max-width: 1200px;display: grid; width: 100%;  margin: 0 auto; padding-bottom: 72px;
        grid-gap: 30px;
        grid-template-columns:  286px 1fr 286px;
        grid-template-areas: 
        " PortadaFWCol2 PortadaFWCol1 PortadaFWCol3"; 
        }}
.PortadaFirstWrapper{display: grid; width: 100%;  margin: 0 auto; padding-bottom: 72px;}
.PortadaFirstWrapper .PortadaFWCol1 {grid-area:PortadaFWCol1;}
.PortadaFirstWrapper .PortadaFWCol2{grid-area:PortadaFWCol2;}
.PortadaFirstWrapper .PortadaFWCol3 {grid-area:PortadaFWCol3;}
.page-template-page-portada-21 p.caption, .page-template-page-portada-21 .wp-block-image figcaption {
    color: #333!important; text-transform: uppercase;
    font-size: 10px!important;
    line-height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 6px 0 0 0px;
    font-weight: 400;
    text-align: right;
}

.BajadaPortada{font-size:16px ; line-height: 20px; font-weight: 300; padding: 20px 15px; margin: 0;}
.BajadaPortada p{margin: 0;}
.BoxOpinion a.TitOpinion{line-height: 20px;font-size: 16px; display: block; text-align: center; }
.PortadaFWCol3 .headerOpinion{width: 100px; height: 72px; display: block; margin: 0 auto 30px auto; background-size: cover;background-position: center;
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='96.1px' height='70.4px' viewBox='0 0 96.1 70.4' style='enable-background:new 0 0 96.1 70.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF6A5E;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M50.4,10.8c-1.3,0.3-6.7,5.3-7,6.4C44.6,16.9,50.1,11.9,50.4,10.8z M27.4,55.1c0.4,1.4,0.8,2.9,1.4,4.3 c0.6,1.7,1.8,3.2,3,4.6c0.7,0.8,1.4,1.6,1.2,2.8c0.5-0.4,0.6-1,0.4-1.5c-0.1-0.4-0.4-0.8-0.7-1.1c-2.3-2.5-3.7-5.4-4.7-8.5 c-0.2-0.8-0.6-1.6-0.9-2.4l-0.2,0.1C27.1,53.8,27.2,54.5,27.4,55.1z M63.8,13.9c-0.5-0.9-0.6-0.9-1.4-0.5c-3.3,2.1-6.6,4.2-10,6.3 c-0.1,0.1-0.2,0.1-0.3,0.2c0,0.1,0.1,0.1,0.1,0.2C56.1,18,59.9,16,63.8,13.9z M59,24.9c2.9-1.3,5.8-2.6,8.7-3.9 c0.2-0.1,0.5-0.3,0.5-0.5c-0.1-0.3-0.3-0.6-0.5-0.9c0,0-0.3,0-0.4,0.1c-3.8,2.1-7.7,4.2-11.5,6.3c-0.1,0-0.1,0.1-0.2,0.2 c0,0,0.1,0.1,0.1,0.1C56.8,25.9,57.9,25.4,59,24.9z M41.6,21.3c1.4-0.2,13.1-9.1,13.9-10.6C50.5,13.8,46,17.4,41.6,21.3z M72.1,47.4 c2.6-6.8,2.7-13.7,1.2-20.6c-0.9-4.4-2.6-8.5-5.2-12.2c-0.8-1.2-1.9-2.2-2.9-3.3c-0.1-0.1-0.2-0.2-0.3-0.2c5.1,5.4,7.5,11.9,8.5,19 c1,7.1,0.4,14-3.1,20.6c0.1,0,0.2,0.1,0.3,0.1C71,49.6,71.7,48.5,72.1,47.4z M52.5,37.8c1,0.9,2,0.8,2.9-0.3 c0.8-1.1,0.9-2.4,0.8-3.6c-0.1-1.1-0.5-2.2-1.3-3.1c-1.3-1.5-2.9-1.2-3.5,0.6c-0.3,1-0.4,2.1-0.5,2.6C51.2,35.8,51.5,36.9,52.5,37.8 z M36.3,34.5c-0.8-7.7,1.3-14.9,5.4-21.6c-4.4,6.2-6.7,12.9-6.5,20.3c0.3,8.5,4.1,15.6,9.9,21.8C40.3,48.9,37.1,42.2,36.3,34.5z M7.1,33.4c-0.9,1.4-1.6,2.9-1.9,4.5c0.9-1.9,2-3.6,3.7-5c-1,1.5-1.9,3-2.2,4.7c0.9-1.8,1.9-3.6,3.6-4.9c-0.9,1.5-1.7,3-2,4.7 c0.9-2.2,2.3-4.1,4.3-5.7c-1.2,1.9-2.9,3.5-2.9,5.9c1.1-2.6,2.6-5,5.1-6.7c-0.8,1-1.5,2-2.2,3c-0.7,1-1.3,2.1-1.2,3.3 c0.9-2.6,2.5-4.7,4.7-6.5c-1.3,1.9-2.8,3.7-3.1,6.1c1-2.7,2.7-4.9,5.1-6.7c-1.4,2-3.4,3.8-3.6,6.5c1.3-3.4,3.7-6,6.3-8.6 c-0.8,0.2-1.7,0.4-2.5,0.6c-2.7,0.6-5.4,1.3-8.1,1.9c-2.5,0.5-4.1,2.1-5.3,4.1c-0.6,1-1,2.1-1.4,3.1c-0.1,0.1,0,0.3-0.1,0.4 c0,0,0.1,0,0.1,0.1C4.4,36.4,5.4,34.7,7.1,33.4z M47.1,9.6c-3.1,1.9-5.3,4.6-6.8,7.7c-2.6,5.1-3.4,10.4-3.1,15.9 c0.4,5.5,1.8,10.8,4.7,15.5c2.1,3.4,4.8,6.2,8.6,8.1c2,1,4.2,1.5,6.5,1.5c0.2,0,0.5-0.1,0.9-0.1c-1.1-0.1-2-0.2-2.9-0.4 c-3.8-0.8-6.6-2.9-9.1-5.5c-3.1-3.4-4.9-7.3-6.1-11.6c-1.7-5.9-1.9-12-0.5-18c0.9-3.9,2.6-7.4,5.3-10.5c1.6-1.7,3.4-3,5.7-3.9 c0.1,0,0.2-0.1,0.3-0.1c0,0,0-0.1,0.1-0.2C49.4,8.4,48.2,8.9,47.1,9.6z M25.8,68.4c0.1,0.1,0.1,0.3,0.3,0.4c0.2,0.1,0.4,0.1,0.6,0.2 c0-0.2,0.1-0.3,0.1-0.5c-0.4-0.8-0.7-1.6-1.1-2.4c-0.1-0.1-0.1-0.3-0.1-0.5c0.5,0.7,0.9,1.4,1.4,2.1c0.2,0.3,0.3,0.6,0.6,0.8 c0.2,0.1,0.5,0.1,0.8,0.1c0-0.2,0.1-0.4,0-0.5c-0.4-0.9-0.8-1.8-1.1-2.7c0.6,0.9,1.2,1.7,1.7,2.6c0.2,0.3,0.4,0.4,0.8,0.3 c0.8-0.2,1-0.7,0.5-1.3c-0.8-1-1.6-2-2.4-3c-1.4-1.8-2.1-4-2.8-6.2c-0.5-1.5-1-3-1.5-4.5c0-0.1-0.1-0.2-0.1-0.3 c-0.1-0.1-0.2-0.2-0.4-0.3c0,0.2-0.1,0.3-0.1,0.5c0.2,0.8,0.4,1.7,0.6,2.5c0.1,0.5,0.2,0.9,0.2,1.4c-0.5-1-1.1-2.1-1.6-3.1 c-0.1-0.1-0.1-0.2-0.2-0.3c-0.2-0.3-0.2-0.9-0.7-0.7c-0.1,0-0.1,0.6-0.1,1c0.3,1.2,0.6,2.4,0.8,3.7c-0.1-0.2-0.2-0.4-0.4-0.7 c-0.6-1.1-1.1-2.2-1.7-3.3c-0.1-0.2-0.3-0.2-0.5-0.4c-0.1,0.2-0.2,0.4-0.2,0.6c0.3,1.4,0.7,2.9,0.9,4.3c-0.1-0.2-0.2-0.4-0.3-0.6 c-0.6-1.2-1.2-2.4-1.7-3.5c-0.1-0.2-0.3-0.4-0.5-0.6c-0.1,0-0.2,0.1-0.2,0.1c0.1,0.3,0.2,0.5,0.3,0.8c2,4.6,3.9,9.2,5.9,13.7 c0.3,0.7,0.8,1.1,1.8,1.2c-0.5-1.1-1-2.2-1.5-3.2l0.1-0.1C24.6,66.6,25.2,67.5,25.8,68.4z M20.5,44.8c0,0,0.1-0.1,0.1-0.1 c1.2,1.4,2.5,2.6,4.4,3.1c-0.9-1.1-1.7-2.1-2.6-3.2l0.2-0.1c1.2,1.4,2.5,2.7,4.5,3.3c-0.8-1.1-1.7-2.1-2.5-3.2l0.2-0.1 c1.2,1.4,2.5,2.7,4.3,3.3L26.4,44c0.1,0,0.1-0.1,0.2-0.1c1.1,1.6,2.5,3.1,4.5,3.8c-0.9-1.3-1.8-2.5-2.7-3.8c0,0,0.1-0.1,0.1-0.1 c0.7,0.8,1.2,1.6,2,2.3c0.7,0.7,1.6,1.2,2.4,1.9l0.2-0.2c-0.8-1.3-1.7-2.5-2.5-3.8c0.1,0,0.1-0.1,0.2-0.1c1.1,1.6,2.4,3.1,4.3,4 c-0.9-1.3-1.7-2.7-2.6-4c0.1,0,0.1-0.1,0.2-0.1c1.1,1.7,2.4,3.3,4.3,4.3c-0.9-1.4-1.7-2.9-2.6-4.3l0.2-0.1c0.9,1.3,1.7,2.7,3.1,3.7 l0.2-0.1c0-0.1-0.1-0.3-0.1-0.4c-1.8-3.8-2.8-7.8-3.2-12c-0.3-3.6-0.2-7.2,0.8-10.8c0.1-0.2,0-0.6,0-0.6c-0.2-0.1-0.6-0.1-0.8,0 c-3.4,1.3-6.7,2.6-10.1,3.8c-1.6,0.6-2.8,1.4-3.9,2.7c-1.3,1.6-2.7,3.1-3.4,5c-0.8,2.4-1.1,4.9,0,7.1c1.1,2.2,2.7,4.1,4.8,5.5 c0.3,0.2,0.6,0.3,0.9,0.5l0.1-0.1C22.2,46.8,21.4,45.8,20.5,44.8z M41.6,31.1c0,0,0,0.1,0,0.1c-0.4,0.1-0.9,0.3-1.3,0.4 c-0.1,0.1-0.2,0.2-0.4,0.3c0.1,0.1,0.3,0.2,0.4,0.2c0.5,0.1,0.9,0.2,1.4,0.4c-0.6,0.2-1.2,0.5-1.8,0.7l0,0.2l2.2,0.3l0,0.1 c-0.7,0.3-1.3,0.5-2,0.8l0,0.2c0.9,0.3,1.9,0.1,3,0.3c-1,0.4-1.9,0.7-2.7,1c0,0.1,0,0.2,0,0.3c1.4,0,2.7,0,4.1-0.1c0,0,0,0.1,0,0.1 c-1.1,0.4-2.2,0.7-3.2,1.1l0,0.2c2.2-0.2,4.3-0.4,6.5-0.6l0,0.1c-2.3,0.7-4.5,1.3-6.8,2c0,0.1,0,0.2,0.1,0.3c3-0.7,6.1-1.3,9.2-2 c-0.2-0.6-0.5-1.1-0.6-1.6c-0.6-1.6-0.5-3.3,0.1-4.9c0.5-1.4,2.1-2.5,3.7-2.5c1.5,0,2.5,0.8,3.1,2c0.8,1.7,1.2,3.5,0.8,5.4 c-0.3,1.6-1.1,3-2.9,3.7c-2.2,0.8-4.5,1.7-6.7,2.5c-0.8,0.3-1.7,0.5-2.5,0.8c-0.1,0-0.2,0.1-0.5,0.3c7,1.9,13.8,3.8,20.6,5.6l0,0.1 c-7.1-1.4-14.2-2.8-21.2-4.2c0,0.1-0.1,0.2-0.1,0.2c6.4,2.4,12.7,4.8,19.1,7.2l0,0.1l-18.4-5.2c0,0.1-0.1,0.1-0.1,0.2 c4.5,2.3,9,4.7,13.5,7l-0.1,0.1c-4.2-1.7-8.4-3.4-12.7-5.2c0.1,0.3,0.1,0.5,0.2,0.6c1.8,2.4,3.8,4.5,6.6,6c4.7,2.4,9.6,1.4,13.1-2.3 c2.8-2.8,4.3-6.2,5.2-9.8c0.8-3.3,1.1-6.7,0.9-10.1c-0.2-3.3-0.8-6.4-1.8-9.5c-0.1-0.5-0.4-0.5-0.8-0.4c-4.3,1.6-8.5,3.1-12.8,4.7 c-0.7,0.2-1.2,0.4-2,0.2c-1.1-0.3-2.2,0.1-3,0.8c-0.6,0.5-1.3,0.7-2.1,0.7c-2.8,0.1-5.6,0.2-8.4,0.4c-0.2,0-0.4,0.1-0.7,0.1 c0,0.1,0,0.2,0,0.3C40.5,30.9,41.1,31,41.6,31.1z M9,53.2c1.6,0.4,3.2,0.4,5.3-0.1C11,53,7.8,52.5,5.5,50.2c0.3,1,1.1,1.5,2,2.1 l-0.2,0.2c-0.8-0.6-1.7-1.2-2.6-1.8c0.4,0.8,1,1.2,1.7,1.7c0.2,0.1,0.4,0.3,0.6,0.4c-0.9-0.6-1.9-1-2.8-1.7 c-2.9-2.4-4.3-5.5-4.2-9.2c0.1-3.4,1.4-6.4,3.9-8.9c1.2-1.1,2.4-2.3,4.2-2.6c0.6-0.1,1.2-0.2,1.7-0.4c2.1-0.5,4.2-0.9,6.2-1.4 c1.1-0.2,2.3-0.4,3.4-0.8c2.7-0.8,5.4-1.7,8.1-2.6c2.6-1,5-2.1,7.6-3.2c0.6-0.3,1-0.7,1.2-1.3c0.3-1,0.7-2,1.2-3 c1.8-4.1,4.4-7.6,8.5-9.9c2.7-1.6,5.7-2.5,8.9-2.3c3.9,0.3,7,2,9.7,4.4c3.2,2.8,5.4,6.3,7,10.1c1.5,3.5,2.4,7.1,2.8,10.9 c0.2,2.5,0.3,5,0.1,7.5c-0.5,5.6-2,10.9-5.6,15.5c-1.5,1.9-3.2,3.5-5.4,4.7c-2.7,1.5-5.6,1.9-8.6,1.8c-2.9-0.1-5.5-1-7.8-2.6 c-2.1-1.4-3.9-3.2-5.4-5.2c-0.4-0.5-0.9-0.9-1.6-1.1c-2.1-0.4-4.1-0.9-6.2-1.1c-1.8-0.3-3.7-0.2-5.5,0.4c-1,0.3-1.1,0.5-0.9,1.4 c0,0.1,0.1,0.3,0.1,0.4c0.4,1.3,0.9,2.5,1.3,3.8c0.6,1.7,1.2,3.4,2.4,4.9c0.7,1,1.5,1.9,2.2,2.9c0.7,1,0.6,1.8-0.3,2.7 c-0.4,0.4-0.9,0.8-1.4,1.2c-0.9,0.9-2,1.3-3.2,1.5c-0.5,0.1-1,0.3-1.5,0.5l-1.7,0.2c0,0,0-0.1-0.1-0.1c-1.7-0.1-2.6-1-3.2-2.4 c-1.9-4.5-3.9-9-5.8-13.5c-0.4-0.9-0.5-1-1.6-0.9c-1.1,0.1-2.1,0.3-3.2,0.3c-1.6,0-3.1-0.3-4.5-1.1C7.7,52.9,8.3,53,9,53.2z'/%3E%3Cpath class='st0' d='M80.3,0c-2.2,1.7-4.4,3.3-6.8,5.1c0.4,0.2,0.7,0.3,1,0.5c0.4,0.2,0.5,0.4,0.2,0.8c-0.9,1.1-1.8,2.3-2.7,3.5 c2.2-1.5,4.3-3,6.5-4.6c-0.7-0.3-1.4-0.5-2.1-0.8C77.8,3,79.1,1.5,80.3,0L80.3,0z'/%3E%3Cpath class='st0' d='M81.8,27.9c2.6,0,5.1,0.1,7.8,0.1c-0.4-0.6-0.7-1.2-1.2-1.8c2-0.4,3.9-0.8,5.8-1.3l0-0.1 c-2.8,0.1-5.5,0.1-8.4,0.2c0.3,0.5,0.5,1,0.7,1.5c-1.6,0.4-3.2,0.9-4.8,1.3L81.8,27.9z'/%3E%3Cpath class='st0' d='M83.2,39c2.5,0.6,4.9,1.2,7.5,1.9c-0.2-0.7-0.4-1.3-0.6-2.1c2.1,0.1,4.1,0.1,6.1,0.2l0-0.1 c-2.7-0.6-5.5-1.2-8.3-1.8l0.2,1.7c-1.7,0-3.3,0.1-4.9,0.1L83.2,39z'/%3E%3Cpath class='st0' d='M81.1,14c0.4,0.4,0.9,0.7,1.3,1.1c-1.3,0.9-2.6,1.8-3.9,2.7l0.1,0.1c2.4-0.8,4.8-1.7,7.3-2.6 c-0.7-0.4-1.2-0.8-1.9-1.3c1.7-1.1,3.4-2.1,5-3.2l-0.1-0.1C86.3,11.9,83.8,13,81.1,14z'/%3E%3Cpath class='st0' d='M84.8,47.8c0,0.6-0.1,1.1-0.1,1.7c-1.6-0.3-3.2-0.6-4.8-0.9l0,0.1c2.2,1.1,4.5,2.3,6.8,3.4 c0-0.8-0.1-1.4-0.1-2.1c2,0.5,3.9,1,5.8,1.4l0-0.1C89.9,50.1,87.4,49,84.8,47.8z'/%3E%3C/svg%3E%0A");}
.BoxOpinion::after{width: 44px; height: 12px; content: ""; display: block; margin: 0 auto 25px auto; background-size: 100%; background-position: center;background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='43.2px' height='10.4px' viewBox='0 0 43.2 10.4' style='enable-background:new 0 0 43.2 10.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23161616;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Crect y='5.8' class='st0' width='16' height='1.1'/%3E%3Cg%3E%3Cpath class='st0' d='M22.7,9.5c0,0.1,0.1,0.2,0.1,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2c-0.1,0-0.2,0-0.4-0.1 c-0.1-0.1-0.2-0.2-0.2-0.3L17.3,1c0-0.1-0.1-0.2-0.1-0.3c0-0.2,0.1-0.4,0.2-0.5C17.6,0.1,17.7,0,17.9,0c0.2,0,0.4,0.1,0.6,0.4 L22.7,9.5z M25.9,9.5c0,0.1,0.1,0.2,0.1,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2c-0.1,0-0.3,0-0.4-0.1 c-0.1-0.1-0.2-0.2-0.2-0.3L20.5,1c0-0.1-0.1-0.2-0.1-0.3c0-0.2,0.1-0.3,0.2-0.5S20.9,0,21.1,0c0.2,0,0.4,0.1,0.6,0.4L25.9,9.5z'/%3E%3C/g%3E%3Crect x='27.2' y='5.8' class='st0' width='16' height='1.1'/%3E%3C/svg%3E%0A");}

    @media screen and (min-width: 1200px){.PortadaFWCol1 .ImgApertura{min-height: 350px; overflow: hidden; width: 100%; display: block;}.PortadaFWCol1 .ImgApertura img{min-height: 350px; width: auto;object-fit: cover;} }
    @media screen and (min-width: 1200px) and (max-width: 1520px){
.PortadaFirstWrapper{  max-width: 1230px; 
	grid-gap: 30px;
    grid-template-columns:  286px 1fr 286px;
    grid-template-areas: 
    " PortadaFWCol2 PortadaFWCol1 PortadaFWCol3"; 
    }
}
@media screen and (min-width: 781px) and (max-width: 1199px){
.PortadaFirstWrapper{display: grid; max-width: 900px;  width: 100%;  margin: 0 auto;}
    .PortadaFirstWrapper{ 
        grid-gap: 30px;
        grid-template-columns:  435px 435px;
        grid-template-areas: 
        " PortadaFWCol1  PortadaFWCol1"
        " PortadaFWCol2  PortadaFWCol3"; 
        }
    }

  @media screen and (max-width: 780px){
        .PortadaFirstWrapper{display: grid; max-width: 90%;  width: 100%;  margin: 0 auto;}
        .PortadaFirstWrapper{ 
            grid-gap: 30px;
            grid-template-columns:  286px 1fr 286px;
            grid-template-areas: 
            " PortadaFWCol1"
            " PortadaFWCol2"
            " PortadaFWCol3"
            ; 
            }
        }


/*ESTILOS 21*/

.BoxOpinionWrapper, .BoxOpinion{display: block;}
.BoxOpinionWrapper{height: calc(100% - 103px);display: flex;flex-direction: column;justify-content: space-between;}



.ActualidadWrapper, .GPSNoticiasBoxWrapper,.IGWrapper{max-width:1510px;margin: 0 auto; display: grid; column-gap: 30px; grid-template-columns: 23% 23% 23% 23%;}

@media (min-width: 1024px) and (max-width: 1500px){.ActualidadWrapper, .GPSNoticiasBoxWrapper, .NewslettersWrapper, .IGWrapper{max-width:97%;}}

.NewslettersWrapper{display: grid; column-gap: 30px; grid-template-columns: 1fr 23.4%;width: 100%;}
.NewslettersBoxWrapper{display: grid; column-gap: 30px; grid-template-columns: 31% 31% 31%;width: 100%;row-gap: 70px;}
.NewslettersBox, .BoxActualidad{position: relative;}
.NewslettersBox::after, .BoxActualidad:after,.FullBlockMiembrosBox1::after{display: inline-block; position: absolute; content: ""; height: 100%; width: 1px; background-color: #161616;     right: -15px;top: 0;}
.FullBlockMiembrosBox1:after {right: -19px;}

.SeparadorGris, .SeparadorAmarillo{background-color: #f2f2f2;border-top: 9px solid #000 ;border-bottom: 2px solid #000 ; padding: 0 0 15px 0;}
.SeparadorAmarillo{background-color:#fff7e3}
.GPSNoticiasWrapper{position: relative;}
.GPSNoticiasBoxWrapper-{overflow: hidden;padding-top: 30px;}
.TitSegmento{position:absolute; top:-22px; display: inline-block; line-height: 32px; padding: 0 10px; color:#ff6a5f; background-color: #fff; font-weight: 700; font-size: 18px;}
.swiper-container{padding-bottom: 15px!important;}
.swiper-slide{font-size: 16px; line-height: 20px; font-family: 'Roboto', sans-serif; text-indent: 24px;background-repeat: no-repeat; background-position: left 7px;
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16.7px' height='11.5px' viewBox='0 0 16.7 11.5' style='enable-background:new 0 0 16.7 11.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF6A5F;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon class='st0' points='16.7,5.7 10.9,11.5 7.2,11.5 11.7,7.1 0,7.1 0,4.4 11.7,4.4 7.2,0 10.9,0 '/%3E%3C/svg%3E%0A");
}
.swiper-slide:after{content:""; border-right: 1px solid #aeaead; display: inline-block; width: 1px; left:-15px; height: 100%; right: 0;top: 0;position: absolute;}
.swiper-container.GPSSwiper{max-width: 96%;margin-left: 0!important;}
.GPSNoticiasSus{display: flex; align-items: center;justify-content: space-between;    width: 100%;}
@media screen and (min-width: 1530px){.GPSportadaTxt{white-space: nowrap;}}
.GPSportadaTxt{flex-basis: 68%; font-size: 15px;}
.page-template-page-portada-21 .GPSportadaForm{flex-basis: 31%;}
.page-template-page-portada-21 .SeparadorGrisWrapper .rl_title,.page-template-page-portada-21 .SeparadorGrisWrapper .rl_desc{display: none;}
.page-template-page-portada-21 main .rl_wrap{border:0!important; background-color: transparent!important; display: flex;padding: 0; }
.page-template-page-portada-21  .SeparadorGrisWrapper .rl_component_content form{display: flex;}
.page-template-page-portada-21 .SeparadorGrisWrapper  .rl_wrap input[type="text"] {margin-top: 0!important;
    padding: 0.5rem!important; font-family: 'Roboto Slab', serif; font-size: 15px;text-transform: uppercase;
}

.page-template-page-portada-21 .rl_link, .page-template-page-portada-21 .rl_button, .page-template-page-portada-21 .rl_button_grey {
    text-decoration: none;
    margin: 0 0 0 20px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 15px; text-transform: uppercase;
    font-weight: 500;
    border: 0;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
     width: auto; 
    text-align: center;
    border-radius: 5px;
}
.NewslettersWrapper .rl_component_content{background-color: #f0f0f0; margin-top: 7px;padding-bottom: 10px; border:1px solid #ddd;border-radius: 7px; text-align: left}
.NewslettersWrapper .rl_component_content:before{background-color: #5c9af6; content: "PARTICIPACIÓN"; padding: 5px 10px; display: inline-block; margin: 20px 0 20px 0; color:#fff; font-size: 12px}
.NewslettersWrapper .rl_component_content p{padding: 0 10px}
.NewslettersWrapper .rl_component_content form{padding:  10px}
.NewslettersWrapper .rl_buttons{ text-align:  right;display: block;}
.NewslettersWrapper .rl_button{margin: 10px 0 0 0; display: block;float: right;}
.page-template-page-portada-21 .GPSportadaForm .wrapper{justify-content:flex-end!important}

.ActualidadBanners, .ActualidadNotas,.NewslettersSection, .IGNotas{padding:70px 0;}
/*NOTAS ACTUALIDAD Y NEWSLETTERS*/
.NewslettersBox, .BoxActualidad {
    position: relative;
    text-align: center;
}
.Rd_img{display: block; margin: 0 auto; border-radius: 50%;width: 200px; height: 200px; border:1px solid #000; overflow: hidden;}

.Rd_img img{object-fit: cover;height: 100%;width: auto;}
.BoxActualidad h2{font-family: Sanomat, serif;font-size: 21px;font-weight: 400; line-height: 1.2; padding-bottom: 10px;}
.BoxActualidad a, .BoxIG a,.NewslettersBox a{display: flex; flex-direction: column;height: 100%;}
.BoxActualidad a .CTAarrow, .BoxIG a .CTAarrow,.NewslettersBox a .CTAarrow{margin-bottom: 22px;}
.BoxActualidad a .Boxautor, .BoxIG a .Boxautor,.NewslettersBox a .Boxautor{margin-top: auto;}
.BoxActualidadBanners{display: flex; flex-direction: column; text-align: center; justify-content: space-between;}
.BoxActualidadBanners br{display: none!important;}

.BoxActualidadBanners div{margin-left:auto; margin-right: auto}
.BoxActualidadBanners div:not(:first-child){margin-top:20px; margin-bottom: 0}
.BoxParticipaCampana div:not(:first-child){margin-top:0px; }
.rl_checkbox:last-child{margin-top: 6px!important;}
.BoxActualidadBanners img{margin-left: auto; margin-right: auto}



.NWSectionBG{background-color:#faf9f6; border:1px solid #aaa9a6; } 
.NewslettersBox h2{font-family: 'Merriweather', serif;font-size: 21px;font-weight: 400; line-height: 1.4; padding-bottom: 10px;}
.EspecialesWrapperGroup, .CampaniaWrapper,.FocoWrapper,.SeparadorAmarilloWrapper {position: relative; padding: 45px 0;}
.EspecialesWrapper{max-width:1510px;margin: 0 auto; display: grid; column-gap: 5.4%; grid-template-columns: 29.7% 29.7% 29.7%;}
.BoxEspeciales a{display: block; line-height: 0;}
.BoxEspeciales a, .Campania_img{border-radius: 10px; width: 100%;max-height: 196px; height:196px; box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.6);overflow: hidden}
.BoxEspeciales img, .Campania_img img{min-height: 100%;width: auto!important;}
.act-x-cuatro .BoxActualidad:nth-child(4):after{display: none;}

.BajadaIG p,.BajadaIG {font-size: 16px; font-weight: 300; line-height: 20px; margin: 0; display: block; padding-top: 20px;display: block;}

/*CAMPAÑA del mes*/
.CampaniaBoxWrapper{display: flex; justify-content: space-between; }
.CampaniaBox {flex-basis: 31%;}
.CampaniaBox3{display: flex; flex-direction: column; }

.CampaniaBox h2, .FullBlockMiembros h2{font-size: 22px;padding-bottom: 26px;}
.CampaniaBox p, .FocoBoxWrapper .Bloque1Podcast p, .FullBlockMiembros p{font-size: 16px;line-height: 20px; margin-bottom: 0;}
/*FOCO*/
.FocoBoxWrapper{display: grid; grid-template-columns: 48.3% 48.3%; gap:40px; padding-bottom: 20px}
.FocoBoxWrapper .Bloque1Podcast figure{width: 100%; margin:0}
.FocoBoxWrapper .Bloque1Podcast a p { padding-top: 20px;}

/*MIEMBROS*/
.CNboxSp {display: flex;margin: auto 0 0 0; }
.FullBlockMiembros{display: grid; grid-template-columns: 49.3% 47%; column-gap: 40px;position: relative;}
.FullBlockMiembrosBox2 {display: flex;flex-direction: column; padding-bottom: 10px}
.FullBlockMiembrosBox1{min-height: 185px;position: relative;
    padding-left: 280px;
    background-size: 185px;
    background-repeat: no-repeat; background-position: 40px center;

    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='183.5px' height='183.5px' viewBox='0 0 183.5 183.5' style='enable-background:new 0 0 183.5 183.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23171412;%7D .st1%7Bfill:none;stroke:%23121212;stroke-width:4.829;stroke-miterlimit:10;%7D .st2%7Bfill:%23FFF6DE;%7D .st3%7Bfill:%23E6514E;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M156.6,26.9C139.3,9.5,116.3,0,91.8,0C67.2,0,44.2,9.5,26.9,26.9C9.5,44.2,0,67.2,0,91.8 c0,24.5,9.5,47.5,26.9,64.9c17.3,17.3,40.4,26.9,64.9,26.9c24.5,0,47.5-9.5,64.9-26.9c17.3-17.3,26.9-40.4,26.9-64.9 C183.5,67.2,174,44.2,156.6,26.9'/%3E%3Cpath class='st1' d='M91.7,6.6c1.4,0,2.8,0,4.2,0.1c1.4,0.1,2.8,0.2,4.2,0.3c1.4,0.1,2.8,0.3,4.1,0.5c1.4,0.2,2.8,0.4,4.1,0.7 c1.4,0.3,2.7,0.6,4.1,0.9c1.4,0.3,2.7,0.7,4,1.1c1.3,0.4,2.7,0.8,4,1.3c1.3,0.5,2.6,1,3.9,1.5c1.3,0.5,2.6,1.1,3.8,1.7 c1.3,0.6,2.5,1.2,3.7,1.9c1.2,0.7,2.4,1.3,3.6,2.1c1.2,0.7,2.4,1.5,3.5,2.2c1.2,0.8,2.3,1.6,3.4,2.4c1.1,0.8,2.2,1.7,3.3,2.6 c1.1,0.9,2.1,1.8,3.2,2.7c1,0.9,2,1.9,3,2.9c1,1,1.9,2,2.9,3c0.9,1,1.8,2.1,2.7,3.2c0.9,1.1,1.7,2.2,2.6,3.3 c0.8,1.1,1.6,2.3,2.4,3.4c0.8,1.2,1.5,2.3,2.2,3.5c0.7,1.2,1.4,2.4,2.1,3.6c0.7,1.2,1.3,2.5,1.9,3.7c0.6,1.3,1.2,2.5,1.7,3.8 c0.5,1.3,1,2.6,1.5,3.9c0.5,1.3,0.9,2.6,1.3,4c0.4,1.3,0.8,2.7,1.1,4c0.3,1.4,0.6,2.7,0.9,4.1c0.3,1.4,0.5,2.7,0.7,4.1 c0.2,1.4,0.4,2.8,0.5,4.2c0.1,1.4,0.2,2.8,0.3,4.2c0.1,1.4,0.1,2.8,0.1,4.2c0,1.4,0,2.8-0.1,4.2c-0.1,1.4-0.2,2.8-0.3,4.2 c-0.1,1.4-0.3,2.8-0.5,4.1c-0.2,1.4-0.4,2.8-0.7,4.1c-0.3,1.4-0.6,2.7-0.9,4.1c-0.3,1.4-0.7,2.7-1.1,4c-0.4,1.3-0.8,2.7-1.3,4 c-0.5,1.3-1,2.6-1.5,3.9c-0.5,1.3-1.1,2.6-1.7,3.8c-0.6,1.3-1.2,2.5-1.9,3.7c-0.7,1.2-1.3,2.4-2.1,3.6c-0.7,1.2-1.5,2.4-2.2,3.5 c-0.8,1.2-1.6,2.3-2.4,3.4c-0.8,1.1-1.7,2.2-2.6,3.3c-0.9,1.1-1.8,2.1-2.7,3.2c-0.9,1-1.9,2-2.9,3c-1,1-2,1.9-3,2.9 c-1,0.9-2.1,1.8-3.2,2.7c-1.1,0.9-2.2,1.7-3.3,2.6c-1.1,0.8-2.3,1.6-3.4,2.4c-1.2,0.8-2.3,1.5-3.5,2.2c-1.2,0.7-2.4,1.4-3.6,2.1 c-1.2,0.7-2.5,1.3-3.7,1.9c-1.3,0.6-2.5,1.2-3.8,1.7c-1.3,0.5-2.6,1-3.9,1.5c-1.3,0.5-2.6,0.9-4,1.3c-1.3,0.4-2.7,0.8-4,1.1 c-1.4,0.3-2.7,0.6-4.1,0.9c-1.4,0.3-2.7,0.5-4.1,0.7c-1.4,0.2-2.8,0.4-4.1,0.5c-1.4,0.1-2.8,0.2-4.2,0.3c-1.4,0.1-2.8,0.1-4.2,0.1 c-1.4,0-2.8,0-4.2-0.1c-1.4-0.1-2.8-0.2-4.2-0.3c-1.4-0.1-2.8-0.3-4.1-0.5c-1.4-0.2-2.8-0.4-4.1-0.7c-1.4-0.3-2.7-0.6-4.1-0.9 c-1.4-0.3-2.7-0.7-4-1.1c-1.3-0.4-2.7-0.8-4-1.3c-1.3-0.5-2.6-1-3.9-1.5c-1.3-0.5-2.6-1.1-3.8-1.7c-1.3-0.6-2.5-1.2-3.7-1.9 c-1.2-0.7-2.4-1.3-3.6-2.1c-1.2-0.7-2.4-1.5-3.5-2.2c-1.2-0.8-2.3-1.6-3.4-2.4c-1.1-0.8-2.2-1.7-3.3-2.6c-1.1-0.9-2.1-1.8-3.2-2.7 c-1-0.9-2-1.9-3-2.9c-1-1-1.9-2-2.9-3c-0.9-1-1.8-2.1-2.7-3.2c-0.9-1.1-1.7-2.2-2.6-3.3c-0.8-1.1-1.6-2.3-2.4-3.4 c-0.8-1.2-1.5-2.3-2.2-3.5c-0.7-1.2-1.4-2.4-2.1-3.6c-0.7-1.2-1.3-2.5-1.9-3.7c-0.6-1.3-1.2-2.5-1.7-3.8c-0.5-1.3-1-2.6-1.5-3.9 c-0.5-1.3-0.9-2.6-1.3-4c-0.4-1.3-0.8-2.7-1.1-4c-0.3-1.4-0.6-2.7-0.9-4.1c-0.3-1.4-0.5-2.7-0.7-4.1c-0.2-1.4-0.4-2.8-0.5-4.1 c-0.1-1.4-0.2-2.8-0.3-4.2c-0.1-1.4-0.1-2.8-0.1-4.2c0-1.4,0-2.8,0.1-4.2c0.1-1.4,0.2-2.8,0.3-4.2c0.1-1.4,0.3-2.8,0.5-4.2 c0.2-1.4,0.4-2.8,0.7-4.1c0.3-1.4,0.6-2.7,0.9-4.1c0.3-1.4,0.7-2.7,1.1-4c0.4-1.3,0.8-2.7,1.3-4c0.5-1.3,1-2.6,1.5-3.9 c0.5-1.3,1.1-2.6,1.7-3.8c0.6-1.3,1.2-2.5,1.9-3.7c0.7-1.2,1.3-2.4,2.1-3.6c0.7-1.2,1.5-2.4,2.2-3.5c0.8-1.2,1.6-2.3,2.4-3.4 c0.8-1.1,1.7-2.2,2.6-3.3c0.9-1.1,1.8-2.1,2.7-3.2c0.9-1,1.9-2,2.9-3c1-1,2-1.9,3-2.9c1-0.9,2.1-1.8,3.2-2.7 c1.1-0.9,2.2-1.7,3.3-2.6c1.1-0.8,2.3-1.6,3.4-2.4c1.2-0.8,2.3-1.5,3.5-2.2c1.2-0.7,2.4-1.4,3.6-2.1c1.2-0.7,2.5-1.3,3.7-1.9 c1.3-0.6,2.5-1.2,3.8-1.7c1.3-0.5,2.6-1,3.9-1.5c1.3-0.5,2.6-0.9,4-1.3c1.3-0.4,2.7-0.8,4-1.1c1.4-0.3,2.7-0.6,4.1-0.9 c1.4-0.3,2.7-0.5,4.1-0.7C80.6,7.3,82,7.1,83.4,7c1.4-0.1,2.8-0.2,4.2-0.3C89,6.6,90.4,6.6,91.7,6.6z'/%3E%3Cpath class='st2' d='M91.8,7.4C45.2,7.4,7.4,45.2,7.4,91.8c0,46.5,37.9,84.4,84.4,84.4c46.5,0,84.4-37.9,84.4-84.4 C176.1,45.2,138.3,7.4,91.8,7.4 M91.8,177.8c-23,0-44.6-8.9-60.8-25.2C14.7,136.3,5.7,114.7,5.7,91.8c0-23,8.9-44.6,25.2-60.8 C47.2,14.7,68.8,5.7,91.8,5.7s44.6,8.9,60.8,25.2c16.2,16.2,25.2,37.8,25.2,60.8c0,23-8.9,44.6-25.2,60.8 C136.3,168.8,114.7,177.8,91.8,177.8'/%3E%3Cpath class='st2' d='M145.1,74.5c-7.5-23.2-29-38.9-53.4-38.9c-24.4,0-45.9,15.6-53.4,38.9l-1.9-0.6c3.7-11.6,10.9-21.6,20.8-28.9 c10-7.4,22-11.4,34.5-11.4c12.5,0,24.5,3.9,34.5,11.4c9.8,7.3,17,17.3,20.8,28.9L145.1,74.5z'/%3E%3Cpath class='st3' d='M170.8,91.7c-5.4-0.5-9.7-4.8-10.3-10.2h-0.1c-0.5,5.4-4.9,9.7-10.3,10.2v0.1c5.4,0.5,9.8,4.8,10.3,10.3h0.1 c0.5-5.4,4.8-9.8,10.3-10.3V91.7z'/%3E%3Cpath class='st2' d='M91.8,149.2c-13.2,0-26.1-4.5-36.3-12.8c-10.1-8.1-17.3-19.5-20.2-32l1.9-0.4c2.8,12.1,9.8,23.1,19.5,30.9 c10,8.1,22.2,12.3,35.1,12.3c25.5,0,47.8-17.2,54.3-41.8l1.9,0.5C141.3,131.4,118.2,149.2,91.8,149.2'/%3E%3Cpath class='st2' d='M27.8,59.8l0.3-0.6c0.3-0.6,0.4-1.1,0.3-1.6c-0.1-0.5-0.4-0.8-0.8-1c-0.5-0.2-0.9-0.3-1.3-0.1 c-0.4,0.2-0.8,0.6-1.1,1.2l-0.3,0.6L27.8,59.8z M37.8,56.4l-2,3.8l-6,0.6l4.5,2.3l-1.6,3.1l-11.8-6l2.4-4.8c0.3-0.7,0.7-1.2,1.2-1.6 c0.4-0.4,0.9-0.7,1.4-0.8c0.5-0.1,1-0.2,1.5-0.1c0.5,0.1,1,0.2,1.5,0.5c0.9,0.5,1.5,1,1.9,1.8c0.3,0.7,0.4,1.6,0.2,2.5L37.8,56.4z' /%3E%3Cpolygon class='st2' points='38,39.8 35.3,43 37,44.4 39.5,41.4 41.7,43.3 39.2,46.3 40.9,47.8 43.6,44.6 45.8,46.5 40.9,52.3 30.8,43.7 35.7,37.9 '/%3E%3Cpath class='st2' d='M51.3,37.9l0.6-0.5c0.5-0.3,0.9-0.7,1.1-1.2c0.3-0.4,0.4-0.9,0.5-1.3c0.1-0.5,0-0.9-0.1-1.4 c-0.1-0.5-0.3-0.9-0.7-1.4c-0.3-0.4-0.7-0.8-1.1-1c-0.4-0.3-0.8-0.4-1.3-0.5c-0.5-0.1-0.9-0.1-1.4,0.1c-0.5,0.1-1,0.4-1.4,0.7 L47,31.8L51.3,37.9z M42.5,31.5l4.1-3c0.7-0.5,1.5-0.9,2.4-1c0.9-0.2,1.7-0.2,2.5,0c0.8,0.1,1.6,0.4,2.4,0.9c0.7,0.5,1.4,1,1.9,1.8 c0.5,0.7,0.9,1.5,1.1,2.3c0.2,0.8,0.2,1.7,0.1,2.5c-0.1,0.8-0.4,1.6-0.8,2.4c-0.4,0.8-1,1.4-1.8,1.9l-4.1,3L42.5,31.5z'/%3E%3Cpolygon class='st2' points='65,17.2 67.4,16.3 67.1,35.3 64.8,36.3 '/%3E%3Cpath class='st2' d='M83.2,22.7L81,18.6l-0.9,4.6L83.2,22.7z M84.4,25.2l-4.9,0.7l-0.4,2.4l-3.6,0.5l3-13.9l3.7-0.6l6.9,12.4 l-3.6,0.5L84.4,25.2z'/%3E%3Cpath class='st2' d='M104.3,19.2c-0.7-1-1.6-1.6-2.8-1.8c-0.5-0.1-1,0-1.5,0.1c-0.5,0.1-0.9,0.4-1.2,0.6c-0.3,0.3-0.6,0.6-0.9,1.1 c-0.2,0.4-0.4,0.9-0.4,1.4c-0.1,0.5,0,1,0.1,1.5c0.1,0.5,0.3,0.9,0.6,1.2c0.3,0.4,0.6,0.7,1.1,0.9c0.4,0.2,0.9,0.4,1.4,0.4 c1.1,0.1,2.1-0.3,3.1-1.1l-0.4,4.1l-0.4,0.1c-0.5,0.1-1,0.2-1.5,0.3c-0.5,0-0.9,0-1.4,0c-0.9-0.1-1.8-0.4-2.6-0.8 c-0.8-0.4-1.5-1-2.1-1.7c-0.6-0.7-1-1.5-1.3-2.4c-0.3-0.9-0.4-1.9-0.3-2.9c0.1-1,0.4-1.9,0.9-2.7c0.5-0.8,1-1.5,1.7-2 c0.7-0.5,1.5-1,2.4-1.2c0.9-0.3,1.8-0.3,2.7-0.2c0.5,0.1,1,0.2,1.5,0.3c0.5,0.2,1,0.4,1.5,0.7L104.3,19.2z'/%3E%3Cpath class='st2' d='M121.1,24.3c-0.4-1.2-1.2-2-2.3-2.4c-0.5-0.2-1-0.2-1.4-0.2c-0.5,0-0.9,0.1-1.3,0.3c-0.4,0.2-0.8,0.5-1.1,0.8 c-0.3,0.4-0.6,0.8-0.7,1.3c-0.2,0.5-0.3,1-0.2,1.5c0,0.5,0.1,0.9,0.3,1.3c0.2,0.4,0.5,0.8,0.8,1.1c0.3,0.3,0.8,0.6,1.2,0.7 c1,0.4,2.1,0.3,3.3-0.3l-1.4,3.8l-0.4,0c-0.6,0-1.1,0-1.5-0.1c-0.5-0.1-0.9-0.2-1.3-0.3c-0.9-0.3-1.6-0.8-2.3-1.4 c-0.7-0.6-1.2-1.3-1.6-2.1c-0.4-0.8-0.6-1.7-0.7-2.6c-0.1-0.9,0.1-1.9,0.4-2.9c0.3-1,0.8-1.8,1.5-2.4c0.6-0.7,1.4-1.2,2.2-1.6 c0.8-0.4,1.7-0.6,2.6-0.6c0.9,0,1.8,0.1,2.7,0.4c0.5,0.2,1,0.4,1.4,0.7c0.4,0.3,0.9,0.6,1.3,1L121.1,24.3z'/%3E%3Crect x='121.6' y='29' transform='matrix(0.5188 -0.8549 0.8549 0.5188 35.4916 124.3997)' class='st2' width='13.3' height='3.4'/%3E%3Cpath class='st2' d='M150.5,35.9l-4-0.7l-0.1-1.8l4,0.1L150.5,35.9z M138.5,38.2c-0.4,0.4-0.6,0.8-0.8,1.2c-0.2,0.5-0.3,0.9-0.2,1.4 c0,0.5,0.1,0.9,0.3,1.4c0.2,0.4,0.5,0.8,0.8,1.2c0.4,0.4,0.8,0.6,1.2,0.8c0.4,0.2,0.9,0.3,1.4,0.3c0.5,0,0.9-0.1,1.4-0.3 c0.5-0.2,0.9-0.5,1.2-0.8c0.4-0.4,0.6-0.8,0.8-1.2c0.2-0.5,0.2-0.9,0.2-1.4c0-0.5-0.1-0.9-0.3-1.4c-0.2-0.4-0.5-0.8-0.8-1.2 c-0.4-0.4-0.8-0.6-1.2-0.8c-0.4-0.2-0.9-0.3-1.4-0.3c-0.5,0-0.9,0.1-1.4,0.3C139.3,37.5,138.9,37.8,138.5,38.2 M136,35.6 c0.7-0.7,1.5-1.2,2.3-1.6c0.9-0.3,1.7-0.5,2.6-0.5c0.9,0,1.8,0.2,2.7,0.6c0.9,0.4,1.7,0.9,2.5,1.7c0.8,0.8,1.3,1.6,1.7,2.5 c0.4,0.9,0.6,1.8,0.6,2.7c0,0.9-0.1,1.8-0.5,2.7c-0.3,0.9-0.9,1.6-1.5,2.3c-0.7,0.7-1.5,1.2-2.3,1.6c-0.9,0.3-1.7,0.5-2.6,0.5 c-0.9,0-1.8-0.2-2.7-0.6c-0.9-0.4-1.7-0.9-2.5-1.7c-0.8-0.8-1.3-1.6-1.7-2.5c-0.4-0.9-0.6-1.8-0.6-2.7c0-0.9,0.1-1.8,0.5-2.6 C134.8,37.1,135.3,36.3,136,35.6'/%3E%3Cpolygon class='st2' points='145.1,55.3 156.8,49.1 158.4,52.2 154.2,61.6 161.4,57.8 163,60.8 151.3,67 149.7,64 153.9,54.6 146.7,58.4 '/%3E%3Cpath class='st2' d='M25.7,118.7c0.7-1.1,0.8-2.2,0.4-3.3c-0.2-0.5-0.4-0.9-0.7-1.3c-0.3-0.4-0.7-0.6-1.1-0.8 c-0.4-0.2-0.9-0.3-1.3-0.3c-0.5,0-1,0-1.5,0.2c-0.5,0.2-0.9,0.4-1.3,0.7c-0.4,0.3-0.7,0.7-0.9,1.1c-0.2,0.4-0.3,0.9-0.4,1.3 c0,0.5,0,1,0.2,1.4c0.4,1.1,1.1,1.8,2.3,2.4l-3.9,1.3l-0.2-0.3c-0.3-0.4-0.6-0.9-0.9-1.3c-0.2-0.4-0.4-0.8-0.6-1.2 c-0.3-0.9-0.4-1.8-0.3-2.7c0.1-0.9,0.3-1.8,0.7-2.6c0.4-0.8,0.9-1.5,1.6-2.2c0.7-0.6,1.5-1.1,2.5-1.5c1-0.3,1.9-0.4,2.9-0.4 c0.9,0.1,1.8,0.3,2.6,0.8c0.8,0.4,1.5,1,2.1,1.7c0.6,0.7,1,1.5,1.3,2.4c0.2,0.5,0.3,1,0.3,1.5c0.1,0.5,0.1,1.1,0,1.7L25.7,118.7z'/%3E%3Cpath class='st2' d='M26.5,125.3c-0.5,0.3-0.8,0.6-1.1,1c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.1,0.9-0.1,1.4 c0.1,0.5,0.2,0.9,0.5,1.4c0.3,0.4,0.6,0.8,1,1.1c0.4,0.3,0.8,0.5,1.3,0.6c0.5,0.1,0.9,0.2,1.4,0.1c0.5-0.1,1-0.2,1.4-0.5 c0.5-0.3,0.8-0.6,1.1-1c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.1-0.9,0-1.4c-0.1-0.5-0.2-0.9-0.5-1.4c-0.3-0.4-0.6-0.8-1-1.1 c-0.4-0.3-0.8-0.5-1.3-0.6c-0.5-0.1-0.9-0.2-1.4-0.1C27.4,124.9,27,125,26.5,125.3 M24.7,122.2c0.9-0.5,1.7-0.8,2.7-0.9 c0.9-0.1,1.8-0.1,2.7,0.2c0.9,0.2,1.7,0.6,2.5,1.2c0.8,0.6,1.4,1.4,2,2.3c0.5,0.9,0.9,1.9,1,2.8c0.2,1,0.1,1.9-0.1,2.8 c-0.2,0.9-0.6,1.7-1.1,2.5c-0.5,0.8-1.2,1.4-2.1,1.9c-0.9,0.5-1.7,0.8-2.7,0.9c-0.9,0.1-1.8,0.1-2.7-0.2c-0.9-0.2-1.7-0.7-2.5-1.3 c-0.8-0.6-1.4-1.4-2-2.3c-0.6-0.9-0.9-1.9-1.1-2.8c-0.2-1-0.1-1.9,0.1-2.8c0.2-0.9,0.6-1.7,1.2-2.4 C23.1,123.3,23.8,122.7,24.7,122.2'/%3E%3Crect x='32.4' y='136.8' transform='matrix(0.7689 -0.6393 0.6393 0.7689 -81.3211 53.7666)' class='st2' width='2.7' height='5.1'/%3E%3Cpath class='st2' d='M41.4,143.8l0.5,0.4c0.5,0.5,1,0.7,1.4,0.8c0.5,0,0.9-0.1,1.2-0.5c0.4-0.4,0.5-0.8,0.4-1.3 c-0.1-0.5-0.4-0.9-0.9-1.4l-0.5-0.4L41.4,143.8z M42,154.4l-3.2-2.9l1-6l-3.5,3.8l-2.6-2.3l9-9.8l4,3.7c0.5,0.5,0.9,1,1.2,1.6 c0.3,0.5,0.4,1.1,0.4,1.6s-0.1,1-0.3,1.5c-0.2,0.5-0.5,0.9-0.9,1.4c-0.7,0.7-1.4,1.2-2.2,1.3c-0.8,0.1-1.6,0-2.5-0.5L42,154.4z'/%3E%3Cpolygon class='st2' points='57.1,151.9 53.7,149.7 52.4,151.5 55.7,153.7 54.1,156.1 50.8,154 49.6,155.9 53,158.2 51.4,160.6 45.1,156.5 52.4,145.3 58.7,149.4 '/%3E%3Cpath class='st2' d='M66.2,156.8c-0.2-0.4-0.5-0.8-0.8-1.1c-0.3-0.3-0.6-0.5-0.9-0.6c-0.4-0.2-0.8-0.2-1.1-0.2 c-0.3,0.1-0.6,0.3-0.7,0.6c-0.1,0.2-0.1,0.4,0,0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.2,0.2,0.4,0.4,0.6,0.6c0.2,0.2,0.5,0.4,0.7,0.6 c0.9,0.8,1.4,1.6,1.7,2.4c0.2,0.8,0.1,1.6-0.3,2.6c-0.3,0.6-0.6,1.1-1.1,1.6c-0.4,0.4-0.9,0.7-1.5,0.9c-0.6,0.2-1.2,0.2-1.9,0.2 c-0.7-0.1-1.4-0.3-2.1-0.6c-1.5-0.7-2.8-1.8-3.7-3.3l2.5-2c0.3,0.6,0.6,1.2,1,1.6c0.4,0.4,0.8,0.7,1.2,0.9c0.5,0.2,1,0.3,1.3,0.2 c0.4-0.1,0.6-0.3,0.7-0.6c0.1-0.2,0.1-0.4,0.1-0.5c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.4-0.5-0.6c-0.2-0.2-0.4-0.4-0.7-0.7 c-0.4-0.3-0.7-0.6-1-1c-0.3-0.3-0.6-0.7-0.8-1.1c-0.2-0.4-0.3-0.8-0.3-1.3c0-0.5,0.1-1,0.4-1.6c0.3-0.6,0.6-1.1,1-1.5 c0.4-0.4,0.9-0.7,1.4-0.9c0.5-0.2,1.1-0.3,1.7-0.2c0.6,0,1.2,0.2,1.9,0.5c0.6,0.3,1.2,0.6,1.8,1.1c0.6,0.5,1.1,1,1.6,1.6L66.2,156.8 z'/%3E%3Cpath class='st2' d='M73.3,161.8l1.1,0.3c1.2,0.3,2-0.1,2.3-1.2c0.3-1.1-0.2-1.8-1.5-2.1l-1.1-0.3L73.3,161.8z M71.5,168.9l-3.4-0.8 l3.2-12.9l5.4,1.3c1.5,0.4,2.5,1,3.1,2c0.6,0.9,0.7,2.1,0.4,3.5c-0.3,1.4-1,2.3-1.9,2.9c-1,0.6-2.2,0.7-3.6,0.3l-2-0.5L71.5,168.9z' /%3E%3Cpath class='st2' d='M85.6,164.6c0,0.5,0.1,1,0.2,1.5c0.2,0.5,0.4,0.9,0.8,1.2c0.3,0.3,0.7,0.6,1.2,0.8c0.4,0.2,0.9,0.3,1.4,0.3 c0.5,0,1-0.1,1.5-0.2c0.5-0.2,0.9-0.4,1.2-0.7c0.4-0.3,0.6-0.7,0.9-1.1c0.2-0.4,0.3-0.9,0.4-1.5c0-0.5-0.1-1-0.2-1.5 c-0.2-0.5-0.4-0.9-0.8-1.2c-0.3-0.3-0.7-0.6-1.2-0.8c-0.4-0.2-0.9-0.3-1.4-0.3c-0.5,0-1,0.1-1.4,0.2c-0.5,0.2-0.9,0.4-1.2,0.7 c-0.4,0.3-0.6,0.7-0.9,1.1C85.7,163.6,85.6,164.1,85.6,164.6 M82,164.5c0-1,0.2-1.9,0.6-2.7c0.4-0.8,0.9-1.6,1.6-2.2 c0.7-0.6,1.5-1.1,2.4-1.4c0.9-0.3,1.9-0.5,3-0.4c1.1,0,2.1,0.3,3,0.6c0.9,0.4,1.7,0.9,2.3,1.6c0.6,0.7,1.1,1.4,1.5,2.3 c0.3,0.9,0.5,1.8,0.4,2.8c0,1-0.2,1.9-0.6,2.7c-0.4,0.8-0.9,1.6-1.6,2.2c-0.7,0.6-1.5,1.1-2.4,1.4c-0.9,0.3-1.9,0.5-3,0.4 c-1.1,0-2.1-0.3-3-0.6c-0.9-0.4-1.6-0.9-2.3-1.6c-0.6-0.7-1.1-1.4-1.4-2.3C82.1,166.4,82,165.5,82,164.5'/%3E%3Cpolygon class='st2' points='101.5,171.2 98.8,158.1 102.2,157.4 110.1,164.2 108.5,156.2 111.9,155.5 114.5,168.6 111.1,169.3 103.2,162.5 104.9,170.5 '/%3E%3Cpath class='st2' d='M122.4,154.8c-0.5-0.1-0.9-0.2-1.3-0.2c-0.4,0-0.8,0.1-1.1,0.2c-0.4,0.2-0.7,0.4-0.9,0.7 c-0.2,0.3-0.2,0.6-0.1,0.9c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.1,0.4,0.1,0.7,0.1c0.3,0,0.5,0,0.8,0c0.3,0,0.6-0.1,0.9-0.1 c1.2-0.1,2.1,0,2.9,0.4c0.7,0.4,1.3,1,1.7,2c0.3,0.6,0.4,1.2,0.4,1.8c0,0.6-0.1,1.2-0.4,1.7c-0.3,0.5-0.6,1-1.1,1.5 c-0.5,0.5-1.1,0.8-1.9,1.2c-1.6,0.7-3.2,0.8-4.9,0.5l0.3-3.2c0.7,0.2,1.3,0.3,1.8,0.3c0.6,0,1.1-0.1,1.5-0.3c0.5-0.2,0.9-0.5,1-0.9 c0.2-0.3,0.2-0.7,0-1c-0.1-0.2-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4-0.1-0.7-0.1c-0.3,0-0.6,0-1,0.1 c-0.5,0-0.9,0.1-1.4,0.1c-0.5,0-0.9,0-1.3-0.2c-0.4-0.1-0.8-0.4-1.2-0.7c-0.4-0.3-0.7-0.8-0.9-1.4c-0.3-0.6-0.4-1.2-0.4-1.8 c0-0.6,0.1-1.1,0.3-1.6c0.2-0.5,0.5-1,1-1.4c0.4-0.4,1-0.8,1.6-1c0.6-0.3,1.3-0.4,2-0.6c0.7-0.1,1.5-0.1,2.2-0.1L122.4,154.8z'/%3E%3Cpath class='st2' d='M135.1,153l-3.8-2.8l1.2,4.6L135.1,153z M137.3,154.7l-4.1,2.7l0.6,2.4l-3.1,2l-3.2-13.9l3.2-2.1l11.6,8.3 l-3.1,2.1L137.3,154.7z'/%3E%3Cpath class='st2' d='M145.9,147.1l0.5-0.5c0.6-0.6,1-1.1,1.1-1.6c0.1-0.4,0-0.8-0.4-1.2c-0.3-0.4-0.7-0.5-1.2-0.4 c-0.4,0.1-0.9,0.5-1.6,1.1l-0.5,0.5L145.9,147.1z M142.1,143.3l0.5-0.4c0.8-0.8,0.9-1.5,0.2-2.1c-0.6-0.6-1.3-0.5-2.1,0.2l-0.5,0.4 L142.1,143.3z M135.9,142l3.7-3.6c0.9-0.9,1.7-1.3,2.6-1.3c0.9,0,1.7,0.4,2.5,1.1c0.5,0.5,0.8,1,0.9,1.4c0.1,0.5,0.1,1,0,1.6 c0.4-0.3,0.8-0.5,1.2-0.6c0.4-0.1,0.8-0.1,1.1-0.1c0.4,0,0.7,0.2,1,0.3c0.3,0.2,0.6,0.4,0.9,0.7c0.4,0.4,0.8,0.9,0.9,1.4 c0.2,0.5,0.3,1,0.2,1.5c0,0.5-0.2,1-0.5,1.5c-0.3,0.5-0.7,1-1.2,1.5l-4,3.9L135.9,142z'/%3E%3Cpolygon class='st2' points='146.4,130.4 154.8,136.5 157.3,133.1 159.6,134.9 155.1,141 144.4,133.2 '/%3E%3Cpolygon class='st2' points='155.9,120 154,123.7 156,124.7 157.8,121.3 160.4,122.6 158.6,126.1 160.6,127.2 162.5,123.5 165.1,124.9 161.6,131.6 149.8,125.4 153.3,118.7 '/%3E%3Cpath class='st2' d='M159.9,110.5c-0.4,0.3-0.7,0.5-1,0.9c-0.3,0.3-0.4,0.6-0.6,1c-0.1,0.4-0.2,0.8,0,1.1c0.1,0.3,0.3,0.6,0.7,0.7 c0.2,0.1,0.4,0.1,0.6,0c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.4-0.4,0.5-0.6c0.2-0.2,0.3-0.5,0.5-0.7c0.7-1,1.5-1.6,2.2-1.9 c0.8-0.3,1.6-0.3,2.6,0c0.6,0.2,1.2,0.5,1.7,0.9c0.5,0.4,0.8,0.9,1,1.4c0.2,0.5,0.4,1.2,0.4,1.8c0,0.7-0.1,1.4-0.4,2.2 c-0.5,1.6-1.5,2.9-2.9,4l-2.2-2.3c0.6-0.3,1.1-0.7,1.5-1.1c0.4-0.4,0.6-0.9,0.8-1.3c0.2-0.5,0.2-1,0-1.3c-0.2-0.3-0.4-0.6-0.7-0.7 c-0.2-0.1-0.4-0.1-0.5-0.1c-0.2,0-0.3,0.1-0.5,0.2c-0.2,0.1-0.3,0.3-0.5,0.5c-0.2,0.2-0.4,0.5-0.6,0.8c-0.3,0.4-0.6,0.7-0.9,1.1 c-0.3,0.4-0.6,0.6-1,0.9s-0.8,0.4-1.3,0.4c-0.5,0.1-1,0-1.7-0.2c-0.6-0.2-1.2-0.5-1.6-0.9c-0.4-0.4-0.8-0.8-1-1.3 c-0.2-0.5-0.4-1-0.4-1.7c0-0.6,0.1-1.2,0.3-1.9c0.2-0.6,0.5-1.3,0.9-1.9c0.4-0.6,0.9-1.2,1.4-1.7L159.9,110.5z'/%3E%3Cpath class='st3' d='M32.6,90.6c-5.4-0.5-9.7-4.8-10.3-10.2h-0.1c-0.5,5.4-4.9,9.7-10.3,10.2v0.1c5.4,0.5,9.8,4.8,10.3,10.3h0.1 c0.5-5.4,4.8-9.8,10.3-10.3V90.6z'/%3E%3Cpath class='st3' d='M112,52.9L87.8,119h-5.7l24.4-66.2H112z M96.3,58.9L82.9,95.4l-12.8,34.7h11l8-8l26-71.3h-9.8L96.3,58.9z'/%3E%3C/svg%3E%0A");
}





@media screen and (min-width: 1530px){.PortadaFirstWrapper,.ActualidadWrapper, .GPSNoticiasWrapper, .NewslettersWrapper, ul.rv4b3, .EspecialesWrapperGroup, .IGWrapper,.CampaniaWrapper,.FocoWrapper,.SeparadorAmarilloWrapper{ max-width: 1200px;  width: 100%;  margin: 0 auto;}
    }
@media screen and (min-width: 1240px) and (max-width: 1520px){.PortadaFirstWrapper,.ActualidadWrapper, .GPSNoticiasWrapper, .NewslettersWrapper, ul.rv4b3, .EspecialesWrapperGroup,.IGWrapper,.CampaniaWrapper,.FocoWrapper,.SeparadorAmarilloWrapper{  max-width: 1200px;   width: 100%;  margin: 0 auto;}
    }
@media screen and (min-width: 781px) and (max-width: 1239px){.PortadaFirstWrapper, .ActualidadWrapper, .GPSNoticiasWrapper, .NewslettersWrapper, ul.rv4b3, .EspecialesWrapperGroup, .IGWrapper, .CampaniaWrapper, .FocoWrapper, .SeparadorAmarilloWrapper{ max-width:900px;  width: 100%;  margin: 0 auto;}
        }
@media screen and (max-width: 780px){ .PortadaFirstWrapper,.ActualidadWrapper, .GPSNoticiasWrapper, .NewslettersWrapper, ul.rv4b3, .EspecialesWrapperGroup,.IGWrapper,.CampaniaWrapper,.FocoWrapper,.SeparadorAmarilloWrapper{ max-width: 90%;  width: 100%;  margin: 0 auto;}}


@media screen and (max-width: 1024px){
    .PortadaFirstWrapper{display: block;}
   
.ActualidadWrapper, .GPSNoticiasBoxWrapper, .IGWrapper,.NewslettersWrapper,.NewslettersBoxWrapper,.EspecialesWrapper,.FullBlockMiembros,.CampaniaBoxWrapper,.FocoBoxWrapper {
    max-width: 90%; margin: 0 auto;display: block; text-align: center;}
    .FullBlockMiembros, .NewslettersBoxWrapper,.EspecialesWrapper {max-width: 100%;}
    .PortadaFirstWrapper .PortadaFWCol3 {padding: 30px 20px;    }
    .BoxActualidadBanners a:last-child{margin-top: 20px;}
    .PortadaFWCol1,.PortadaFWCol2NOTA1,.PortadaFWCol2NOTA2, .EspecialesWrapperGroup .BoxEspeciales:not(:last-child),.Bloque1Podcast:not(:last-child){margin-bottom:20px ;}
    .NewslettersBox::after, .BoxActualidad:after, .FullBlockMiembrosBox1::after {display: block;
        position: initial;
        content: "";
        height: 1px;
        width: 80%;
        background-color: #161616;
        right: -15px;
        top: 0;
        margin: 0 auto 30px auto;}
        .FullBlockMiembrosBox1::after{background-color: transparent;}
        .NWSectionBG {border-right: 0;border-left: 0;}
        .NewslettersBoxWrapper {row-gap: 0;}
        .cat-Top, h2, h2 a, .entry-meta {
            text-align: center; 
        }
        .EspecialesWrapper {row-gap: 40px;}
        .Campania_img{margin-bottom: 20px;}
        .FullBlockMiembrosBox1 {
            min-height: auto;
            padding-left: 0px;
            background-image: none;
           }
           .FullBlockMiembrosBox1 h2 {
            padding: 10px 0 30px 100px;
            text-align: left!important;
            background-size: 80px;
            background-repeat: no-repeat;
            background-position: left top;
           
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='183.5px' height='183.5px' viewBox='0 0 183.5 183.5' style='enable-background:new 0 0 183.5 183.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23171412;%7D .st1%7Bfill:none;stroke:%23121212;stroke-width:4.829;stroke-miterlimit:10;%7D .st2%7Bfill:%23FFF6DE;%7D .st3%7Bfill:%23E6514E;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M156.6,26.9C139.3,9.5,116.3,0,91.8,0C67.2,0,44.2,9.5,26.9,26.9C9.5,44.2,0,67.2,0,91.8 c0,24.5,9.5,47.5,26.9,64.9c17.3,17.3,40.4,26.9,64.9,26.9c24.5,0,47.5-9.5,64.9-26.9c17.3-17.3,26.9-40.4,26.9-64.9 C183.5,67.2,174,44.2,156.6,26.9'/%3E%3Cpath class='st1' d='M91.7,6.6c1.4,0,2.8,0,4.2,0.1c1.4,0.1,2.8,0.2,4.2,0.3c1.4,0.1,2.8,0.3,4.1,0.5c1.4,0.2,2.8,0.4,4.1,0.7 c1.4,0.3,2.7,0.6,4.1,0.9c1.4,0.3,2.7,0.7,4,1.1c1.3,0.4,2.7,0.8,4,1.3c1.3,0.5,2.6,1,3.9,1.5c1.3,0.5,2.6,1.1,3.8,1.7 c1.3,0.6,2.5,1.2,3.7,1.9c1.2,0.7,2.4,1.3,3.6,2.1c1.2,0.7,2.4,1.5,3.5,2.2c1.2,0.8,2.3,1.6,3.4,2.4c1.1,0.8,2.2,1.7,3.3,2.6 c1.1,0.9,2.1,1.8,3.2,2.7c1,0.9,2,1.9,3,2.9c1,1,1.9,2,2.9,3c0.9,1,1.8,2.1,2.7,3.2c0.9,1.1,1.7,2.2,2.6,3.3 c0.8,1.1,1.6,2.3,2.4,3.4c0.8,1.2,1.5,2.3,2.2,3.5c0.7,1.2,1.4,2.4,2.1,3.6c0.7,1.2,1.3,2.5,1.9,3.7c0.6,1.3,1.2,2.5,1.7,3.8 c0.5,1.3,1,2.6,1.5,3.9c0.5,1.3,0.9,2.6,1.3,4c0.4,1.3,0.8,2.7,1.1,4c0.3,1.4,0.6,2.7,0.9,4.1c0.3,1.4,0.5,2.7,0.7,4.1 c0.2,1.4,0.4,2.8,0.5,4.2c0.1,1.4,0.2,2.8,0.3,4.2c0.1,1.4,0.1,2.8,0.1,4.2c0,1.4,0,2.8-0.1,4.2c-0.1,1.4-0.2,2.8-0.3,4.2 c-0.1,1.4-0.3,2.8-0.5,4.1c-0.2,1.4-0.4,2.8-0.7,4.1c-0.3,1.4-0.6,2.7-0.9,4.1c-0.3,1.4-0.7,2.7-1.1,4c-0.4,1.3-0.8,2.7-1.3,4 c-0.5,1.3-1,2.6-1.5,3.9c-0.5,1.3-1.1,2.6-1.7,3.8c-0.6,1.3-1.2,2.5-1.9,3.7c-0.7,1.2-1.3,2.4-2.1,3.6c-0.7,1.2-1.5,2.4-2.2,3.5 c-0.8,1.2-1.6,2.3-2.4,3.4c-0.8,1.1-1.7,2.2-2.6,3.3c-0.9,1.1-1.8,2.1-2.7,3.2c-0.9,1-1.9,2-2.9,3c-1,1-2,1.9-3,2.9 c-1,0.9-2.1,1.8-3.2,2.7c-1.1,0.9-2.2,1.7-3.3,2.6c-1.1,0.8-2.3,1.6-3.4,2.4c-1.2,0.8-2.3,1.5-3.5,2.2c-1.2,0.7-2.4,1.4-3.6,2.1 c-1.2,0.7-2.5,1.3-3.7,1.9c-1.3,0.6-2.5,1.2-3.8,1.7c-1.3,0.5-2.6,1-3.9,1.5c-1.3,0.5-2.6,0.9-4,1.3c-1.3,0.4-2.7,0.8-4,1.1 c-1.4,0.3-2.7,0.6-4.1,0.9c-1.4,0.3-2.7,0.5-4.1,0.7c-1.4,0.2-2.8,0.4-4.1,0.5c-1.4,0.1-2.8,0.2-4.2,0.3c-1.4,0.1-2.8,0.1-4.2,0.1 c-1.4,0-2.8,0-4.2-0.1c-1.4-0.1-2.8-0.2-4.2-0.3c-1.4-0.1-2.8-0.3-4.1-0.5c-1.4-0.2-2.8-0.4-4.1-0.7c-1.4-0.3-2.7-0.6-4.1-0.9 c-1.4-0.3-2.7-0.7-4-1.1c-1.3-0.4-2.7-0.8-4-1.3c-1.3-0.5-2.6-1-3.9-1.5c-1.3-0.5-2.6-1.1-3.8-1.7c-1.3-0.6-2.5-1.2-3.7-1.9 c-1.2-0.7-2.4-1.3-3.6-2.1c-1.2-0.7-2.4-1.5-3.5-2.2c-1.2-0.8-2.3-1.6-3.4-2.4c-1.1-0.8-2.2-1.7-3.3-2.6c-1.1-0.9-2.1-1.8-3.2-2.7 c-1-0.9-2-1.9-3-2.9c-1-1-1.9-2-2.9-3c-0.9-1-1.8-2.1-2.7-3.2c-0.9-1.1-1.7-2.2-2.6-3.3c-0.8-1.1-1.6-2.3-2.4-3.4 c-0.8-1.2-1.5-2.3-2.2-3.5c-0.7-1.2-1.4-2.4-2.1-3.6c-0.7-1.2-1.3-2.5-1.9-3.7c-0.6-1.3-1.2-2.5-1.7-3.8c-0.5-1.3-1-2.6-1.5-3.9 c-0.5-1.3-0.9-2.6-1.3-4c-0.4-1.3-0.8-2.7-1.1-4c-0.3-1.4-0.6-2.7-0.9-4.1c-0.3-1.4-0.5-2.7-0.7-4.1c-0.2-1.4-0.4-2.8-0.5-4.1 c-0.1-1.4-0.2-2.8-0.3-4.2c-0.1-1.4-0.1-2.8-0.1-4.2c0-1.4,0-2.8,0.1-4.2c0.1-1.4,0.2-2.8,0.3-4.2c0.1-1.4,0.3-2.8,0.5-4.2 c0.2-1.4,0.4-2.8,0.7-4.1c0.3-1.4,0.6-2.7,0.9-4.1c0.3-1.4,0.7-2.7,1.1-4c0.4-1.3,0.8-2.7,1.3-4c0.5-1.3,1-2.6,1.5-3.9 c0.5-1.3,1.1-2.6,1.7-3.8c0.6-1.3,1.2-2.5,1.9-3.7c0.7-1.2,1.3-2.4,2.1-3.6c0.7-1.2,1.5-2.4,2.2-3.5c0.8-1.2,1.6-2.3,2.4-3.4 c0.8-1.1,1.7-2.2,2.6-3.3c0.9-1.1,1.8-2.1,2.7-3.2c0.9-1,1.9-2,2.9-3c1-1,2-1.9,3-2.9c1-0.9,2.1-1.8,3.2-2.7 c1.1-0.9,2.2-1.7,3.3-2.6c1.1-0.8,2.3-1.6,3.4-2.4c1.2-0.8,2.3-1.5,3.5-2.2c1.2-0.7,2.4-1.4,3.6-2.1c1.2-0.7,2.5-1.3,3.7-1.9 c1.3-0.6,2.5-1.2,3.8-1.7c1.3-0.5,2.6-1,3.9-1.5c1.3-0.5,2.6-0.9,4-1.3c1.3-0.4,2.7-0.8,4-1.1c1.4-0.3,2.7-0.6,4.1-0.9 c1.4-0.3,2.7-0.5,4.1-0.7C80.6,7.3,82,7.1,83.4,7c1.4-0.1,2.8-0.2,4.2-0.3C89,6.6,90.4,6.6,91.7,6.6z'/%3E%3Cpath class='st2' d='M91.8,7.4C45.2,7.4,7.4,45.2,7.4,91.8c0,46.5,37.9,84.4,84.4,84.4c46.5,0,84.4-37.9,84.4-84.4 C176.1,45.2,138.3,7.4,91.8,7.4 M91.8,177.8c-23,0-44.6-8.9-60.8-25.2C14.7,136.3,5.7,114.7,5.7,91.8c0-23,8.9-44.6,25.2-60.8 C47.2,14.7,68.8,5.7,91.8,5.7s44.6,8.9,60.8,25.2c16.2,16.2,25.2,37.8,25.2,60.8c0,23-8.9,44.6-25.2,60.8 C136.3,168.8,114.7,177.8,91.8,177.8'/%3E%3Cpath class='st2' d='M145.1,74.5c-7.5-23.2-29-38.9-53.4-38.9c-24.4,0-45.9,15.6-53.4,38.9l-1.9-0.6c3.7-11.6,10.9-21.6,20.8-28.9 c10-7.4,22-11.4,34.5-11.4c12.5,0,24.5,3.9,34.5,11.4c9.8,7.3,17,17.3,20.8,28.9L145.1,74.5z'/%3E%3Cpath class='st3' d='M170.8,91.7c-5.4-0.5-9.7-4.8-10.3-10.2h-0.1c-0.5,5.4-4.9,9.7-10.3,10.2v0.1c5.4,0.5,9.8,4.8,10.3,10.3h0.1 c0.5-5.4,4.8-9.8,10.3-10.3V91.7z'/%3E%3Cpath class='st2' d='M91.8,149.2c-13.2,0-26.1-4.5-36.3-12.8c-10.1-8.1-17.3-19.5-20.2-32l1.9-0.4c2.8,12.1,9.8,23.1,19.5,30.9 c10,8.1,22.2,12.3,35.1,12.3c25.5,0,47.8-17.2,54.3-41.8l1.9,0.5C141.3,131.4,118.2,149.2,91.8,149.2'/%3E%3Cpath class='st2' d='M27.8,59.8l0.3-0.6c0.3-0.6,0.4-1.1,0.3-1.6c-0.1-0.5-0.4-0.8-0.8-1c-0.5-0.2-0.9-0.3-1.3-0.1 c-0.4,0.2-0.8,0.6-1.1,1.2l-0.3,0.6L27.8,59.8z M37.8,56.4l-2,3.8l-6,0.6l4.5,2.3l-1.6,3.1l-11.8-6l2.4-4.8c0.3-0.7,0.7-1.2,1.2-1.6 c0.4-0.4,0.9-0.7,1.4-0.8c0.5-0.1,1-0.2,1.5-0.1c0.5,0.1,1,0.2,1.5,0.5c0.9,0.5,1.5,1,1.9,1.8c0.3,0.7,0.4,1.6,0.2,2.5L37.8,56.4z' /%3E%3Cpolygon class='st2' points='38,39.8 35.3,43 37,44.4 39.5,41.4 41.7,43.3 39.2,46.3 40.9,47.8 43.6,44.6 45.8,46.5 40.9,52.3 30.8,43.7 35.7,37.9 '/%3E%3Cpath class='st2' d='M51.3,37.9l0.6-0.5c0.5-0.3,0.9-0.7,1.1-1.2c0.3-0.4,0.4-0.9,0.5-1.3c0.1-0.5,0-0.9-0.1-1.4 c-0.1-0.5-0.3-0.9-0.7-1.4c-0.3-0.4-0.7-0.8-1.1-1c-0.4-0.3-0.8-0.4-1.3-0.5c-0.5-0.1-0.9-0.1-1.4,0.1c-0.5,0.1-1,0.4-1.4,0.7 L47,31.8L51.3,37.9z M42.5,31.5l4.1-3c0.7-0.5,1.5-0.9,2.4-1c0.9-0.2,1.7-0.2,2.5,0c0.8,0.1,1.6,0.4,2.4,0.9c0.7,0.5,1.4,1,1.9,1.8 c0.5,0.7,0.9,1.5,1.1,2.3c0.2,0.8,0.2,1.7,0.1,2.5c-0.1,0.8-0.4,1.6-0.8,2.4c-0.4,0.8-1,1.4-1.8,1.9l-4.1,3L42.5,31.5z'/%3E%3Cpolygon class='st2' points='65,17.2 67.4,16.3 67.1,35.3 64.8,36.3 '/%3E%3Cpath class='st2' d='M83.2,22.7L81,18.6l-0.9,4.6L83.2,22.7z M84.4,25.2l-4.9,0.7l-0.4,2.4l-3.6,0.5l3-13.9l3.7-0.6l6.9,12.4 l-3.6,0.5L84.4,25.2z'/%3E%3Cpath class='st2' d='M104.3,19.2c-0.7-1-1.6-1.6-2.8-1.8c-0.5-0.1-1,0-1.5,0.1c-0.5,0.1-0.9,0.4-1.2,0.6c-0.3,0.3-0.6,0.6-0.9,1.1 c-0.2,0.4-0.4,0.9-0.4,1.4c-0.1,0.5,0,1,0.1,1.5c0.1,0.5,0.3,0.9,0.6,1.2c0.3,0.4,0.6,0.7,1.1,0.9c0.4,0.2,0.9,0.4,1.4,0.4 c1.1,0.1,2.1-0.3,3.1-1.1l-0.4,4.1l-0.4,0.1c-0.5,0.1-1,0.2-1.5,0.3c-0.5,0-0.9,0-1.4,0c-0.9-0.1-1.8-0.4-2.6-0.8 c-0.8-0.4-1.5-1-2.1-1.7c-0.6-0.7-1-1.5-1.3-2.4c-0.3-0.9-0.4-1.9-0.3-2.9c0.1-1,0.4-1.9,0.9-2.7c0.5-0.8,1-1.5,1.7-2 c0.7-0.5,1.5-1,2.4-1.2c0.9-0.3,1.8-0.3,2.7-0.2c0.5,0.1,1,0.2,1.5,0.3c0.5,0.2,1,0.4,1.5,0.7L104.3,19.2z'/%3E%3Cpath class='st2' d='M121.1,24.3c-0.4-1.2-1.2-2-2.3-2.4c-0.5-0.2-1-0.2-1.4-0.2c-0.5,0-0.9,0.1-1.3,0.3c-0.4,0.2-0.8,0.5-1.1,0.8 c-0.3,0.4-0.6,0.8-0.7,1.3c-0.2,0.5-0.3,1-0.2,1.5c0,0.5,0.1,0.9,0.3,1.3c0.2,0.4,0.5,0.8,0.8,1.1c0.3,0.3,0.8,0.6,1.2,0.7 c1,0.4,2.1,0.3,3.3-0.3l-1.4,3.8l-0.4,0c-0.6,0-1.1,0-1.5-0.1c-0.5-0.1-0.9-0.2-1.3-0.3c-0.9-0.3-1.6-0.8-2.3-1.4 c-0.7-0.6-1.2-1.3-1.6-2.1c-0.4-0.8-0.6-1.7-0.7-2.6c-0.1-0.9,0.1-1.9,0.4-2.9c0.3-1,0.8-1.8,1.5-2.4c0.6-0.7,1.4-1.2,2.2-1.6 c0.8-0.4,1.7-0.6,2.6-0.6c0.9,0,1.8,0.1,2.7,0.4c0.5,0.2,1,0.4,1.4,0.7c0.4,0.3,0.9,0.6,1.3,1L121.1,24.3z'/%3E%3Crect x='121.6' y='29' transform='matrix(0.5188 -0.8549 0.8549 0.5188 35.4916 124.3997)' class='st2' width='13.3' height='3.4'/%3E%3Cpath class='st2' d='M150.5,35.9l-4-0.7l-0.1-1.8l4,0.1L150.5,35.9z M138.5,38.2c-0.4,0.4-0.6,0.8-0.8,1.2c-0.2,0.5-0.3,0.9-0.2,1.4 c0,0.5,0.1,0.9,0.3,1.4c0.2,0.4,0.5,0.8,0.8,1.2c0.4,0.4,0.8,0.6,1.2,0.8c0.4,0.2,0.9,0.3,1.4,0.3c0.5,0,0.9-0.1,1.4-0.3 c0.5-0.2,0.9-0.5,1.2-0.8c0.4-0.4,0.6-0.8,0.8-1.2c0.2-0.5,0.2-0.9,0.2-1.4c0-0.5-0.1-0.9-0.3-1.4c-0.2-0.4-0.5-0.8-0.8-1.2 c-0.4-0.4-0.8-0.6-1.2-0.8c-0.4-0.2-0.9-0.3-1.4-0.3c-0.5,0-0.9,0.1-1.4,0.3C139.3,37.5,138.9,37.8,138.5,38.2 M136,35.6 c0.7-0.7,1.5-1.2,2.3-1.6c0.9-0.3,1.7-0.5,2.6-0.5c0.9,0,1.8,0.2,2.7,0.6c0.9,0.4,1.7,0.9,2.5,1.7c0.8,0.8,1.3,1.6,1.7,2.5 c0.4,0.9,0.6,1.8,0.6,2.7c0,0.9-0.1,1.8-0.5,2.7c-0.3,0.9-0.9,1.6-1.5,2.3c-0.7,0.7-1.5,1.2-2.3,1.6c-0.9,0.3-1.7,0.5-2.6,0.5 c-0.9,0-1.8-0.2-2.7-0.6c-0.9-0.4-1.7-0.9-2.5-1.7c-0.8-0.8-1.3-1.6-1.7-2.5c-0.4-0.9-0.6-1.8-0.6-2.7c0-0.9,0.1-1.8,0.5-2.6 C134.8,37.1,135.3,36.3,136,35.6'/%3E%3Cpolygon class='st2' points='145.1,55.3 156.8,49.1 158.4,52.2 154.2,61.6 161.4,57.8 163,60.8 151.3,67 149.7,64 153.9,54.6 146.7,58.4 '/%3E%3Cpath class='st2' d='M25.7,118.7c0.7-1.1,0.8-2.2,0.4-3.3c-0.2-0.5-0.4-0.9-0.7-1.3c-0.3-0.4-0.7-0.6-1.1-0.8 c-0.4-0.2-0.9-0.3-1.3-0.3c-0.5,0-1,0-1.5,0.2c-0.5,0.2-0.9,0.4-1.3,0.7c-0.4,0.3-0.7,0.7-0.9,1.1c-0.2,0.4-0.3,0.9-0.4,1.3 c0,0.5,0,1,0.2,1.4c0.4,1.1,1.1,1.8,2.3,2.4l-3.9,1.3l-0.2-0.3c-0.3-0.4-0.6-0.9-0.9-1.3c-0.2-0.4-0.4-0.8-0.6-1.2 c-0.3-0.9-0.4-1.8-0.3-2.7c0.1-0.9,0.3-1.8,0.7-2.6c0.4-0.8,0.9-1.5,1.6-2.2c0.7-0.6,1.5-1.1,2.5-1.5c1-0.3,1.9-0.4,2.9-0.4 c0.9,0.1,1.8,0.3,2.6,0.8c0.8,0.4,1.5,1,2.1,1.7c0.6,0.7,1,1.5,1.3,2.4c0.2,0.5,0.3,1,0.3,1.5c0.1,0.5,0.1,1.1,0,1.7L25.7,118.7z'/%3E%3Cpath class='st2' d='M26.5,125.3c-0.5,0.3-0.8,0.6-1.1,1c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.5-0.1,0.9-0.1,1.4 c0.1,0.5,0.2,0.9,0.5,1.4c0.3,0.4,0.6,0.8,1,1.1c0.4,0.3,0.8,0.5,1.3,0.6c0.5,0.1,0.9,0.2,1.4,0.1c0.5-0.1,1-0.2,1.4-0.5 c0.5-0.3,0.8-0.6,1.1-1c0.3-0.4,0.5-0.8,0.6-1.3c0.1-0.5,0.1-0.9,0-1.4c-0.1-0.5-0.2-0.9-0.5-1.4c-0.3-0.4-0.6-0.8-1-1.1 c-0.4-0.3-0.8-0.5-1.3-0.6c-0.5-0.1-0.9-0.2-1.4-0.1C27.4,124.9,27,125,26.5,125.3 M24.7,122.2c0.9-0.5,1.7-0.8,2.7-0.9 c0.9-0.1,1.8-0.1,2.7,0.2c0.9,0.2,1.7,0.6,2.5,1.2c0.8,0.6,1.4,1.4,2,2.3c0.5,0.9,0.9,1.9,1,2.8c0.2,1,0.1,1.9-0.1,2.8 c-0.2,0.9-0.6,1.7-1.1,2.5c-0.5,0.8-1.2,1.4-2.1,1.9c-0.9,0.5-1.7,0.8-2.7,0.9c-0.9,0.1-1.8,0.1-2.7-0.2c-0.9-0.2-1.7-0.7-2.5-1.3 c-0.8-0.6-1.4-1.4-2-2.3c-0.6-0.9-0.9-1.9-1.1-2.8c-0.2-1-0.1-1.9,0.1-2.8c0.2-0.9,0.6-1.7,1.2-2.4 C23.1,123.3,23.8,122.7,24.7,122.2'/%3E%3Crect x='32.4' y='136.8' transform='matrix(0.7689 -0.6393 0.6393 0.7689 -81.3211 53.7666)' class='st2' width='2.7' height='5.1'/%3E%3Cpath class='st2' d='M41.4,143.8l0.5,0.4c0.5,0.5,1,0.7,1.4,0.8c0.5,0,0.9-0.1,1.2-0.5c0.4-0.4,0.5-0.8,0.4-1.3 c-0.1-0.5-0.4-0.9-0.9-1.4l-0.5-0.4L41.4,143.8z M42,154.4l-3.2-2.9l1-6l-3.5,3.8l-2.6-2.3l9-9.8l4,3.7c0.5,0.5,0.9,1,1.2,1.6 c0.3,0.5,0.4,1.1,0.4,1.6s-0.1,1-0.3,1.5c-0.2,0.5-0.5,0.9-0.9,1.4c-0.7,0.7-1.4,1.2-2.2,1.3c-0.8,0.1-1.6,0-2.5-0.5L42,154.4z'/%3E%3Cpolygon class='st2' points='57.1,151.9 53.7,149.7 52.4,151.5 55.7,153.7 54.1,156.1 50.8,154 49.6,155.9 53,158.2 51.4,160.6 45.1,156.5 52.4,145.3 58.7,149.4 '/%3E%3Cpath class='st2' d='M66.2,156.8c-0.2-0.4-0.5-0.8-0.8-1.1c-0.3-0.3-0.6-0.5-0.9-0.6c-0.4-0.2-0.8-0.2-1.1-0.2 c-0.3,0.1-0.6,0.3-0.7,0.6c-0.1,0.2-0.1,0.4,0,0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.2,0.2,0.4,0.4,0.6,0.6c0.2,0.2,0.5,0.4,0.7,0.6 c0.9,0.8,1.4,1.6,1.7,2.4c0.2,0.8,0.1,1.6-0.3,2.6c-0.3,0.6-0.6,1.1-1.1,1.6c-0.4,0.4-0.9,0.7-1.5,0.9c-0.6,0.2-1.2,0.2-1.9,0.2 c-0.7-0.1-1.4-0.3-2.1-0.6c-1.5-0.7-2.8-1.8-3.7-3.3l2.5-2c0.3,0.6,0.6,1.2,1,1.6c0.4,0.4,0.8,0.7,1.2,0.9c0.5,0.2,1,0.3,1.3,0.2 c0.4-0.1,0.6-0.3,0.7-0.6c0.1-0.2,0.1-0.4,0.1-0.5c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.3-0.4-0.5-0.6c-0.2-0.2-0.4-0.4-0.7-0.7 c-0.4-0.3-0.7-0.6-1-1c-0.3-0.3-0.6-0.7-0.8-1.1c-0.2-0.4-0.3-0.8-0.3-1.3c0-0.5,0.1-1,0.4-1.6c0.3-0.6,0.6-1.1,1-1.5 c0.4-0.4,0.9-0.7,1.4-0.9c0.5-0.2,1.1-0.3,1.7-0.2c0.6,0,1.2,0.2,1.9,0.5c0.6,0.3,1.2,0.6,1.8,1.1c0.6,0.5,1.1,1,1.6,1.6L66.2,156.8 z'/%3E%3Cpath class='st2' d='M73.3,161.8l1.1,0.3c1.2,0.3,2-0.1,2.3-1.2c0.3-1.1-0.2-1.8-1.5-2.1l-1.1-0.3L73.3,161.8z M71.5,168.9l-3.4-0.8 l3.2-12.9l5.4,1.3c1.5,0.4,2.5,1,3.1,2c0.6,0.9,0.7,2.1,0.4,3.5c-0.3,1.4-1,2.3-1.9,2.9c-1,0.6-2.2,0.7-3.6,0.3l-2-0.5L71.5,168.9z' /%3E%3Cpath class='st2' d='M85.6,164.6c0,0.5,0.1,1,0.2,1.5c0.2,0.5,0.4,0.9,0.8,1.2c0.3,0.3,0.7,0.6,1.2,0.8c0.4,0.2,0.9,0.3,1.4,0.3 c0.5,0,1-0.1,1.5-0.2c0.5-0.2,0.9-0.4,1.2-0.7c0.4-0.3,0.6-0.7,0.9-1.1c0.2-0.4,0.3-0.9,0.4-1.5c0-0.5-0.1-1-0.2-1.5 c-0.2-0.5-0.4-0.9-0.8-1.2c-0.3-0.3-0.7-0.6-1.2-0.8c-0.4-0.2-0.9-0.3-1.4-0.3c-0.5,0-1,0.1-1.4,0.2c-0.5,0.2-0.9,0.4-1.2,0.7 c-0.4,0.3-0.6,0.7-0.9,1.1C85.7,163.6,85.6,164.1,85.6,164.6 M82,164.5c0-1,0.2-1.9,0.6-2.7c0.4-0.8,0.9-1.6,1.6-2.2 c0.7-0.6,1.5-1.1,2.4-1.4c0.9-0.3,1.9-0.5,3-0.4c1.1,0,2.1,0.3,3,0.6c0.9,0.4,1.7,0.9,2.3,1.6c0.6,0.7,1.1,1.4,1.5,2.3 c0.3,0.9,0.5,1.8,0.4,2.8c0,1-0.2,1.9-0.6,2.7c-0.4,0.8-0.9,1.6-1.6,2.2c-0.7,0.6-1.5,1.1-2.4,1.4c-0.9,0.3-1.9,0.5-3,0.4 c-1.1,0-2.1-0.3-3-0.6c-0.9-0.4-1.6-0.9-2.3-1.6c-0.6-0.7-1.1-1.4-1.4-2.3C82.1,166.4,82,165.5,82,164.5'/%3E%3Cpolygon class='st2' points='101.5,171.2 98.8,158.1 102.2,157.4 110.1,164.2 108.5,156.2 111.9,155.5 114.5,168.6 111.1,169.3 103.2,162.5 104.9,170.5 '/%3E%3Cpath class='st2' d='M122.4,154.8c-0.5-0.1-0.9-0.2-1.3-0.2c-0.4,0-0.8,0.1-1.1,0.2c-0.4,0.2-0.7,0.4-0.9,0.7 c-0.2,0.3-0.2,0.6-0.1,0.9c0.1,0.2,0.2,0.4,0.4,0.5c0.2,0.1,0.4,0.1,0.7,0.1c0.3,0,0.5,0,0.8,0c0.3,0,0.6-0.1,0.9-0.1 c1.2-0.1,2.1,0,2.9,0.4c0.7,0.4,1.3,1,1.7,2c0.3,0.6,0.4,1.2,0.4,1.8c0,0.6-0.1,1.2-0.4,1.7c-0.3,0.5-0.6,1-1.1,1.5 c-0.5,0.5-1.1,0.8-1.9,1.2c-1.6,0.7-3.2,0.8-4.9,0.5l0.3-3.2c0.7,0.2,1.3,0.3,1.8,0.3c0.6,0,1.1-0.1,1.5-0.3c0.5-0.2,0.9-0.5,1-0.9 c0.2-0.3,0.2-0.7,0-1c-0.1-0.2-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4-0.1-0.7-0.1c-0.3,0-0.6,0-1,0.1 c-0.5,0-0.9,0.1-1.4,0.1c-0.5,0-0.9,0-1.3-0.2c-0.4-0.1-0.8-0.4-1.2-0.7c-0.4-0.3-0.7-0.8-0.9-1.4c-0.3-0.6-0.4-1.2-0.4-1.8 c0-0.6,0.1-1.1,0.3-1.6c0.2-0.5,0.5-1,1-1.4c0.4-0.4,1-0.8,1.6-1c0.6-0.3,1.3-0.4,2-0.6c0.7-0.1,1.5-0.1,2.2-0.1L122.4,154.8z'/%3E%3Cpath class='st2' d='M135.1,153l-3.8-2.8l1.2,4.6L135.1,153z M137.3,154.7l-4.1,2.7l0.6,2.4l-3.1,2l-3.2-13.9l3.2-2.1l11.6,8.3 l-3.1,2.1L137.3,154.7z'/%3E%3Cpath class='st2' d='M145.9,147.1l0.5-0.5c0.6-0.6,1-1.1,1.1-1.6c0.1-0.4,0-0.8-0.4-1.2c-0.3-0.4-0.7-0.5-1.2-0.4 c-0.4,0.1-0.9,0.5-1.6,1.1l-0.5,0.5L145.9,147.1z M142.1,143.3l0.5-0.4c0.8-0.8,0.9-1.5,0.2-2.1c-0.6-0.6-1.3-0.5-2.1,0.2l-0.5,0.4 L142.1,143.3z M135.9,142l3.7-3.6c0.9-0.9,1.7-1.3,2.6-1.3c0.9,0,1.7,0.4,2.5,1.1c0.5,0.5,0.8,1,0.9,1.4c0.1,0.5,0.1,1,0,1.6 c0.4-0.3,0.8-0.5,1.2-0.6c0.4-0.1,0.8-0.1,1.1-0.1c0.4,0,0.7,0.2,1,0.3c0.3,0.2,0.6,0.4,0.9,0.7c0.4,0.4,0.8,0.9,0.9,1.4 c0.2,0.5,0.3,1,0.2,1.5c0,0.5-0.2,1-0.5,1.5c-0.3,0.5-0.7,1-1.2,1.5l-4,3.9L135.9,142z'/%3E%3Cpolygon class='st2' points='146.4,130.4 154.8,136.5 157.3,133.1 159.6,134.9 155.1,141 144.4,133.2 '/%3E%3Cpolygon class='st2' points='155.9,120 154,123.7 156,124.7 157.8,121.3 160.4,122.6 158.6,126.1 160.6,127.2 162.5,123.5 165.1,124.9 161.6,131.6 149.8,125.4 153.3,118.7 '/%3E%3Cpath class='st2' d='M159.9,110.5c-0.4,0.3-0.7,0.5-1,0.9c-0.3,0.3-0.4,0.6-0.6,1c-0.1,0.4-0.2,0.8,0,1.1c0.1,0.3,0.3,0.6,0.7,0.7 c0.2,0.1,0.4,0.1,0.6,0c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.4-0.4,0.5-0.6c0.2-0.2,0.3-0.5,0.5-0.7c0.7-1,1.5-1.6,2.2-1.9 c0.8-0.3,1.6-0.3,2.6,0c0.6,0.2,1.2,0.5,1.7,0.9c0.5,0.4,0.8,0.9,1,1.4c0.2,0.5,0.4,1.2,0.4,1.8c0,0.7-0.1,1.4-0.4,2.2 c-0.5,1.6-1.5,2.9-2.9,4l-2.2-2.3c0.6-0.3,1.1-0.7,1.5-1.1c0.4-0.4,0.6-0.9,0.8-1.3c0.2-0.5,0.2-1,0-1.3c-0.2-0.3-0.4-0.6-0.7-0.7 c-0.2-0.1-0.4-0.1-0.5-0.1c-0.2,0-0.3,0.1-0.5,0.2c-0.2,0.1-0.3,0.3-0.5,0.5c-0.2,0.2-0.4,0.5-0.6,0.8c-0.3,0.4-0.6,0.7-0.9,1.1 c-0.3,0.4-0.6,0.6-1,0.9s-0.8,0.4-1.3,0.4c-0.5,0.1-1,0-1.7-0.2c-0.6-0.2-1.2-0.5-1.6-0.9c-0.4-0.4-0.8-0.8-1-1.3 c-0.2-0.5-0.4-1-0.4-1.7c0-0.6,0.1-1.2,0.3-1.9c0.2-0.6,0.5-1.3,0.9-1.9c0.4-0.6,0.9-1.2,1.4-1.7L159.9,110.5z'/%3E%3Cpath class='st3' d='M32.6,90.6c-5.4-0.5-9.7-4.8-10.3-10.2h-0.1c-0.5,5.4-4.9,9.7-10.3,10.2v0.1c5.4,0.5,9.8,4.8,10.3,10.3h0.1 c0.5-5.4,4.8-9.8,10.3-10.3V90.6z'/%3E%3Cpath class='st3' d='M112,52.9L87.8,119h-5.7l24.4-66.2H112z M96.3,58.9L82.9,95.4l-12.8,34.7h11l8-8l26-71.3h-9.8L96.3,58.9z'/%3E%3C/svg%3E%0A");
           
        }
        .CNboxSp {margin:30px auto 0px auto ;  }
        .CNboxSp a{display: block;}
        .EspecialesWrapperGroup, .CampaniaWrapper, .FocoWrapper, .SeparadorAmarilloWrapper {
            padding: 40px 0 25px 0;
        }

        .swiper-container.GPSSwiper {
            max-width: 80%;}
       .GPSNoticiasSus{display: block;}
       .GPSportadaTxt{padding-bottom: 10px;}
       .swiper-slide::after{display: none!important;}
       .BajadaPortada{display: none;}

}

.olvidePass{padding-top: 40px;margin-top: 40px; border-top: 1px solid #ddd;}