/* basicos */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
aside,footer,header,nav{display:block;}

html,body{min-height:100%;height:100%;}
body{padding:0;margin:0;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-image:none;font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;background-color:#fff;transition:background-color 0.5s;}


a{text-decoration:none;cursor:pointer;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a{color:#168dd9;}


hr{clear:both;width:100%;margin:40px 0;border:0;border-bottom:solid 1px rgba(0,0,0,0.15);}
@media (min-width: 768px){hr{margin:60px 0;}}

figure,main{display:block;}

figure{margin:1em 40px;}
@media screen and (max-width: 800px){figure{margin:1em 0px;}}

hr{box-sizing:content-box;height:0;overflow:visible;}


b,strong{font-weight:inherit;}
b,strong{font-weight:bolder;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button{margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type="button"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring{outline:1px dotted ButtonText;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
button{border:0;padding:0;}



@media (min-width: 1024px){a{transition:opacity .3s;}}
@media (min-width: 1024px){a:hover{opacity:0.7;}}

/*estilos del body*/

.rv4a1{margin:0 auto;min-height:100%;padding-bottom:0;box-sizing:border-box;color:#000;}
.rv4a1:focus{outline:none;}
.rv4a1.rv4a2{padding-bottom:45px;}

@media (min-width: 1024px){
.rv4a1.rv4a2{padding-bottom:0;}
}
@media print{
.rv4a1{padding-bottom:0;}
}


/* structura*/

.rv4sc{font-size:18px;font-weight:500;line-height:1.3;background-color:#fff;border-top:solid 1px rgba(0,0,0,0.15);}
@media (min-width: 768px){.rv4sc{font-size:20px;}}


.rv4scb{display:flex;max-width:1600px;margin:auto;}

/* estilos main */


.rv4b1{background-color: #fff;transition:background-color 0.5s;position:relative;}
.rv4b1 ::selection{background-color:#168dd9;color:#fff;}

/*.rv4b2,.rv4b3{height:45px;}
@media (min-width: 1024px){.rv4b2,.rv4b3{height:200px;}}
.rv4b2{position:sticky;top:0;z-index:600;position: -webkit-sticky;}*/

.rv4b3{font-size:inherit;font-family:inherit;margin:0;padding:0;line-height:inherit;list-style:none;position:relative;}
.rv4b3{display: grid; max-width: 1200px; width: 100%; margin: 0 auto;}

.rv4b3 .menu_botton {grid-area: menu_botton;}
.menu-cabecera-sm{grid-area:menu-cabecera-sm}
.rv4b3 .rv4hilg{grid-area: rv4hilg;}
.fechaheader{grid-area: fechaheader;}
.rv4b3 .rv4hico2 {grid-area: rv4hico2;width: 168px;}
.rv4b3 .rv4hlipf{ grid-area: rv4hlipf; width: 168px;}
.rv4b3 .TopRedes{ grid-area: TopRedes; width: 168px;}

@media (min-width: 1025px){
.rv4b3{ 
	grid-gap: 0 ;
	grid-row-gap: 14px;
  grid-template-columns: 33px 253px  1fr 286px;
  grid-template-rows: 70px 30px 50px;
  grid-template-areas: 
  

	"menu_botton menu-cabecera-sm rv4hilg rv4hlipf"
  "menu_botton menu-cabecera-sm rv4hilg rv4hico2"
  "menu_botton menu-cabecera-sm fechaheader TopRedes"; 
  }
  .logged-in .rv4headli.rv4hlipf{display: none;}
  .logged-in .rv4b3{ 
	grid-gap: 0 ;
	grid-row-gap: 14px ;
  grid-template-columns:33px 253px  1fr 286px ;
  grid-template-rows: 100px 30px 50px;
  grid-template-areas: 

  "menu_botton menu-cabecera-sm rv4hilg rv4hico2"
  "menu_botton menu-cabecera-sm rv4hilg TopRedes"
  "menu_botton menu-cabecera-sm fechaheader TopRedes"; 
  }
}
.cerrar-menu{display: block;text-align: right; padding: 0 0 20px 0;}
.menu-cabecera-sm{align-self: center;}

.rv4b4{z-index:500;width:100%;background-color:#fff;border-bottom: 1px solid #707070;color:#000;transition:transform 0.3s, background-color 0.5s;will-change:background-color;display: flex; justify-content: center;}
.rv4b4 nav{border-bottom: 1px solid #707070;margin-bottom: 5px; width: 100%;}
@media print{.rv4b4{position:absolute;border:0;}}
.site-main-home{padding-top: 30px;}


/* header*/
.menu { display: none;position: fixed; top: 46px; z-index: 999; left:0; background: #fff; bottom: auto;
width: 350px;padding-bottom: 20px;height:calc(100vh - 55px);overflow-y: scroll;}

@media (min-width: 768px){
.menu {
bottom: auto;
width: 440px;
padding-bottom: 20px;
border-radius: 8px 0 0 8px;
}}
@media (min-width: 1024px){.menu{top:0px; height: 100vh;}}


@media (max-width: 1200px){.menu_botton{display:block;}}

.rv4headli{position:relative;z-index:100; }
.rv4headli._9766a,.rv4headli.fef6d,.rv4headli.rv4hlic,.rv4headli.d8c9f,.rv4headli.ca847{display:none;}
@media (min-width: 1024px){.rv4headli._9766a,.rv4headli.rv4hico2,.rv4headli.fef6d,.rv4headli.rv4hlic,.rv4headli.d8c9f,.rv4headli.ca847{display:block;}.home .rv4headli.rv4hico2:nth-child(5) {
    display: none!important;
} }
@media print{.rv4headli._9766a,.rv4headli.rv4hico2,.rv4headli.fef6d,.rv4headli.rv4hlic,.rv4headli.d8c9f,.rv4headli.ca847{display:none;}}
.rv4headli.rv4hlipf{margin-left:auto;}
@media (min-width: 1024px){.rv4headli.rv4hlipf{margin-left:0;}.home .rv4headli.rv4hlipf{margin-left:auto;}}
@media print{.rv4headli.rv4hlipf{display:none;}}
/*.rv4headli.rv4hilg{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);}*/
.rv4headli.rv4hilg+*, .rv4headli.rv4hico2{margin-left:auto;}
.fechaheader{margin: 0 auto;}
.rv4ht{color: rgba(0,0,0,0.7);text-align:center;cursor:pointer;display:flex;flex-direction:column;justify-content:center;width:100%;height:100%;-webkit-tap-highlight-color:transparent;font-weight:700;text-transform:uppercase;line-height:0;font-size:12px;box-sizing:border-box;position:relative;z-index:300;padding:0 12px;}
.logged-in .rv4htx.rv4hlic{display: none!important;}

.rv4hilg { justify-self: center;}

.rv4hlipf, .rv4hico, .TopRedes{justify-self: end; }
.rv4hico2{align-self:end;}
.rv4hlipf{align-self:end;}
.rv4hlipf{display: flex; justify-content: flex-end; align-items: center;}
.TopRedes,.menu_botton{align-self:start;}
.menu_botton{position: relative; top:44px}
.rv4hilg {align-self: center; }
.logged-in .rv4hlipf{align-self: end; }
.TopRedes .menu-redes, #menu-redes-21{display: flex;justify-content: space-around;}


@media (min-width: 1024px){.rv4headli .rv4htx{transition:opacity .3s;}}
@media (min-width: 1024px){.rv4headli .rv4htx:hover{opacity:0.7;}}
.rv4headli .rv4htx.rv4hilg{margin:auto;padding:0;display:block;}
@media (min-width: 1024px){.rv4headli .rv4htx.rv4hilg{transition:opacity .3s;}}
@media (min-width: 1024px){.rv4headli .rv4htx.rv4hilg:hover{opacity:0.7;}}
.rv4headli .rv4hico2{flex-direction:row;align-items:center;}
.rv4headli .rv4hico2 .rv4hico{margin-right:8px;}

.rv4hlib .rv4htx{transform:translateY(-1px);}
.rv4hico2 .rv4hico{width:14px;}
.rv4hico{color:#000;transition:fill .3s;}
@media (min-width: 1024px){.rv4hico{color: rgba(0,0,0,0.7);}}
.rv4htx:hover .rv4hico{color: rgba(0,0,0,0.7);}
.rv4headli:first-child .rv4htx{background: #fff;}
.rv4headli:last-child .rv4htx{padding-right:18px;}

.rv4hico2 strong {color: #FF6A5F;}

/* boton mimebros*/
a.IngresoMiembros.SoymiembrosCorresponsables,.logged-in .ingmiembrosCorresponsables{display: none}

.rv4hlibm,a.IngresoMiembros span, .NombreHeaderOff span{font-size:13px!important;display: block; line-height:30px; font-family: 'Roboto Slab', serif; font-weight:400; background-color:#FF6A5F;color:#fff;border-radius:4px;cursor:pointer;white-space:nowrap;padding:0px 12px;width: 168px;text-align: center;}
#menu-redes-21{max-width: 168px;}
a.NombreHeaderOff{text-decoration: none!important}
main{margin:0!important}
@media (max-width: 1024px){
  .menu_botton {top: 25px;}
  .logged-in .rv4hlipf {
    align-self: center;
}
    a.IngresoMiembros span{background-color:transparent!important;background-size: 24px!important;  height:24px!important; background-repeat: no-repeat!important; width:24p!important;  text-indent:-100000px!important; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 448 512' style='enable-background:new 0 0 448 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237D8995;%7D%0A%3C/style%3E%3Cpath class='st0' d='M224,256c70.7,0,128-57.3,128-128S294.7,0,224,0S96,57.3,96,128S153.3,256,224,256z M313.6,288h-16.7 c-22.2,10.2-46.9,16-72.9,16s-50.6-5.8-72.9-16h-16.7C60.2,288,0,348.2,0,422.4V464c0,26.5,21.5,48,48,48h352c26.5,0,48-21.5,48-48 v-41.6C448,348.2,387.8,288,313.6,288z'/%3E%3C/svg%3E%0A");}}
@media (min-width: 768px){.rv4hlibm{font-size:16px;}}
@media (min-width: 1024px){.rv4hlibm{transition:opacity .3s;}}
@media (min-width: 1024px){.rv4hlibm:hover{opacity:0.7;}}
@media (min-width: 768px){.rv4hlibm{font-size:12px;}}


.rv4hlib:focus{outline: none;}




/* aside */

.aside,.asideb{box-sizing:border-box;flex-shrink:0;height:calc(100vh - 55px);width:360px;overflow-y: scroll;}
.archive .aside, .single .aside, .page-template-default .aside{border-right: solid 1px rgba(0,0,0,0.15);}
@media (min-width: 1024px){.aside,.asideb{position:-webkit-sticky;position:sticky;top:56px;}}
@media (min-width: 1200px){.aside,.asideb{width:calc(18% + 100px);}}

/* aside left */
.aside{display:none;}
@media (min-width: 1200px){.aside{display:none; font-size: 24px;color: #7f8894;}}
.navegacion { width: 100%; overflow: hidden;}

/* aside right*/

.asideb{display:none;}
@media (min-width: 1024px){.asideb{display:block;overflow-y:auto;}}

/* main */

.main{flex-grow:1;padding:0 20px;background: #fff;
justify-content: center;display: flex;
justify-content: center;}
@media (min-width: 768px){.main{padding: 0em 1em 1em 1em;max-width:720px;border-right:solid 1px rgba(0,0,0,0.15);border-left:solid 1px rgba(0,0,0,0.15);margin:0 auto;}}
@media (min-width: 1024px){.main{border-left:0;max-width:none;}}
@media (min-width: 1200px){.main{border-left:solid 1px rgba(0,0,0,0.15);}}

.principal {
display: flex;
max-width: 600px;
justify-content: center;
flex-direction: column;
padding-bottom: 4em;
}

@media (max-width: 768px){
.main{padding: 0em 1em 1em 1em;width:100%; box-sizing: border-box;}
.principal{width:100%; }
.cerrar-menu{display: none;}
}

/*dock*/

.dock{z-index:400;position:fixed;bottom:0;display:flex;min-width:320px;width:100%;background-color:#fff;transition:background-color 0.5s;border-top:solid 1px rgba(0,0,0,0.15);color:#7D8895; padding: 1em 0;}
@media (min-width: 1024px){.dock{display:none;}}
@media print{.dock{display:none;}}


.rv4dkl{color:#000;flex-basis:100%;margin:auto;height:34px;cursor:pointer;text-align:center;-webkit-tap-highlight-color:rgba(255,255,255,0);}
.rv4dkl span{font-size:12px; font-weight: bold; color: #7D8895;}




.rv4dkl2{color:#000;flex-basis:100%;margin:auto;height:34px;cursor:pointer;text-align:center;-webkit-tap-highlight-color:rgba(255,255,255,0)}
.rv4dkl2 span{font-size:12px}
.rv4dkl2._793d4{color: #168dd9;}
.rv4dkl3{margin:auto;width:19px;height:19px;display:block}
.rv4dkl3._257e1{width:17px;height:17px;display:block}







.svg-icon
path,
.svg-icon polygon,
.svg-icon rect {
fill: #000;
}

/*archive - search*/

.TopContent.searchContent{display: flex;    flex-direction: column;    justify-content: center;}
.TopContent.searchContent .page-header, .TopContent.searchContent .CentralColHome2c{align-self: center;max-width: 700px;margin: 40px auto;}
.TopContent.searchContent .page-header{text-align: left;}


@media (max-width: 1024px){
  
  .TopRedes, .menu-cabecera-sm, .fechaheader{display: none;}
  .rv4b2, .rv4b3 {
    height: 165px;
}

  .rv4hlipf {align-self: center; margin: 0 auto;}
  .rv4hilg { align-self: end;}
  .rv4b3 .TopRedes {display: none;}
  .rv4b3{ 
    grid-gap: 14px ;
    grid-row-gap: 0px;
    grid-template-columns:30px 1fr;
    grid-template-rows:60px 60px;
    grid-template-areas: 
    "menu_botton rv4hilg rv4hilg"
    "menu_botton  rv4hico2  rv4hlipf";

 
  height:auto;
    }
    .logged-in .rv4hlipf{margin-left:0;}
    .logged-in .rv4hlipf p{padding-left: 0;}
   
    .logged-in .rv4b3{ 
    grid-gap: 14px ;
    grid-row-gap:0 ;
    grid-template-columns:30px 1fr ;
    grid-template-rows:60px 40px;
    grid-template-areas: 
    "menu_botton rv4hilg "
    "rv4hlipf  rv4hlipf"

    }
    .rv4b3 .rv4hlipf {width: 100%;}
    .rv4b3 .rv4hico2 { width: 100%;   align-self: center; margin-left: 0; justify-self: start;}
  .NombreHeader.NombreHeaderOff{padding: 0;}
  .rv4hlibm, a.IngresoMiembros span, .NombreHeaderOff span {width: auto; padding: 0 8px;}

  }






