#tribe-events-pg-template, .tribe-events-pg-template {
   display: flex;    flex-direction: column;	max-width: 1004px;	margin: 39px auto 180px auto;
}

.single-tribe_events .tribe-events-single-event-title {
   font-size: 60px;
   color: #000;
   font-weight: 700;
   display: block;
   width: 70%;
   margin-top: 0px;
}
.tribe-events-single-event-description.tribe-events-content p{line-height: 1.5em;}
.single-tribe_events .tribe-events-cost{display: block; font-size: 30px;}
.single-tribe_events #tribe-events-footer{margin-top: 40px;}
#tribe-events-content .tribe_events{display: flex!important;}
.single-tribe_events .CursoContent {
   flex-basis: 742px;
}
.single-tribe_events .CursoMeta {
   margin-left: 86px;
   width: 100%;
   max-width: 254px;
}